<div class="sidebar-container">
    <div class="sidebar-logo">
        <a href="../index.php">
            <i class="fa fa-home" aria-hidden="true"></i> Accueil
        </a>
    </div>
    <ul class="sidebar-navigation">
        <li>
            <a href="s4exercice1.php">
                <i class="fa fa-home" aria-hidden="true"></i> Exercice 1
            </a>
        </li>
        <li>
            <a href="s4exercice2.php">
                <i class="fa fa-tachometer" aria-hidden="true"></i> Exercice 2
            </a>
        </li>
        <li>
            <a href="s4exercice3.php">
                <i class="fa fa-users" aria-hidden="true"></i> Exercice 3
            </a>
        </li>
        <li>
            <a href="s4exercice4.php">
                <i class="fa fa-users" aria-hidden="true"></i> Exercice 4
            </a>
        </li>
        <li>
            <a href="s4exercice5.php">
                <i class="fa fa-users" aria-hidden="true"></i> Exercice 5
            </a>
        </li>
        <li>
            <a href="s4exercice6.php">
                <i class="fa fa-users" aria-hidden="true"></i> Exercice 6
            </a>
        </li>
        <li>
            <a href="s4exercice7.php">
                <i class="fa fa-users" aria-hidden="true"></i> Exercice 7
            </a>
        </li>
        <li>
            <a href="s4exercice8.php">
                <i class="fa fa-users" aria-hidden="true"></i> Exercice 8
            </a>
        </li>
    </ul>
</div>
