<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/prism.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">
    <title>Algo_BM s4e3</title>
</head>

<body>
        
    <?php include '../commun/nav.html' ?>
    <div class="container-fluid">
        <div class="row">
            <aside class="col-md-1">
                <?php include 'aside_nav4.html' ?>
            </aside>

            <section class="col-md-11">
                <div class="container">
                    <div class="row h-20 align-items-center justify-content-center text-center">
                        <div class="col-lg pt-60px align-self-center">
                            <h1 class="text-uppercase exo_title">Exercice 3</h1>
                        </div>
                    </div>
                </div>   
                <div class="contenuEnonce"  id="enonce">
                    <pre class="enonce_exo">
                        <code class="lang-html">
De même que le précédent, cet algorithme doit demander une heure et en afficher une autre. Mais cette fois, il doit gérer également les secondes, et afficher l'heure qu'il sera une seconde plus tard.
Par exemple, si l'utilisateur tape 21, puis 32, puis 8, l'algorithme doit répondre : "Dans une seconde, il sera 21 heure(s), 32 minute(s) et 9 seconde(s)".
NB : là encore, on suppose que l'utilisateur entre une date valide.
                        </code>
                    </pre>
                </div>
                <div class="row">
                    <div class="form-group col-md contenu">
                        <h1>Pseudo-code</h1>
                        <pre><code class="lang-html">
Variables min, h, s en Numerique

Debut
    Ecrire "Précisez l'heure:"
    Ecrire "Précisez les minutes:"
    Ecrire "Précisez les secondes:"
    Lire min, h, s
    s <- s + 1

    Si s < 60 alors
        Ecrire "Dans une seconde il sera :", h, "heure(s), min, s, "secondes."
    Sinon
        min <- min + 1
        s <- 0

        Si min = 60
            h <- h + 1
            min <- 0
            Si h < 24
                Ecrire "Dans une minute, il sera :", h, "heure(s), min, s, "secondes."
            Sinon
                h <-0
                Ecrire "Dans une minute, il sera :", h, "heure(s), min, s, "secondes."
            Fin si
        Sinon 
            Ecrire "Dans une minute, il sera :", h, "heure(s), min, s,"secondes."
        Fin Si
Fin si
Fin
                        </code></pre>
                    </div>
            
                    <div class="form-group col-md contenu" id="javascript3">
                        <h1>Javascript</h1>
                        <label for="info3js1">Quelle heure est-il ?</label>
                        <input type="text" class="form-control" id="info3js1">
                        <label for="info3js2">Combien de minute ?</label>
                        <input type="text" class="form-control" id="info3js2">
                        <label for="info3js2">Combien de secondes ?</label>
                        <input type="text" class="form-control" id="info3js3">
                        <p id="resultat3"></p>
                        <button onclick="afficheCode3js()"><a class="nav-link active"  data-toggle="modal" data-target="#PcS43" aria-haspopup="true" aria-expanded="false">Afficher Code</a></button>
                        <button onclick="s4exo3js()">Executer</button>
                    </div>

                    <div class="form-group col-md contenu" id="jquery3">
                            <h1>Jquery</h1>
                            <label for="info3jq1"> Quelle heure est-il?</label>
                            <input type="text" class="form-control" id="info3jq1">
                            <label for="info3jq2">Combien de minute ?</label>
                            <input type="text" class="form-control" id="info3jq2">
                            <label for="info3jq3">Combien de secondes ?</label>
                            <input type="text" class="form-control" id="info3jq3">
                            <div id="resultat3jq"></div>
                            <button onclick="s4exo3jq()">Executer</button>
                            <button onclick="afficheCode3jq()"><a class="nav-link active"  data-toggle="modal" data-target="#PcS43" aria-haspopup="true" aria-expanded="false">Afficher Code</a></button> <!-- image du code source -->
                    </div>

                    <div class="form-group col-md contenu" id="php3">
                        <h1>PhP</h1>
                        <form method="POST" action="s4exercice3.php">
                            <label for="info3php1">Quelle heure est-il?</label>
                            <input type="text" class="form-control" name="info3php1" id="info3php1">
                            <label for="info3php2">Combien de minute ?</label>
                            <input type="text" class="form-control" name="info3php2" id="info3php2">
                            <label for="info3php3">Combien de secondes ?</label>
                            <input type="text" class="form-control" name="info3php3" id="info3php3">
                            <p><?php echo $res3 ?></p>
                            <button type="submit" id="form_exo_3">Executer</button>
                        </form>
                        <button onclick="afficheCode3php()"><a class="nav-link active" data-toggle="modal" data-target="#PcS43" aria-haspopup="true" aria-expanded="false"></a>Afficher Code</button>
                    </div>

                    <div id="monModal">
                        <div class="modal fade-xl" id="PcS43" tabindex="-1" role="dialog" aria-labelledby="PcEx1Title" aria-hidden="true">
                            <div class="modal-dialog-xl modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="enonce"><strong>Exercice 3<strong></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <!-- Passer dans une variable-->
                                <div class="modal-body">
                                <pre>
                                    <code class="lang-js"  id="showImage3">
                                    </code>
                                </pre>
                                
                                </div>
                                <!-- Passer dans une variable-->
                                <div class="modal-footer" id="modal_footer">
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div> 
    </div>

    <footer class="no_footer">
        <script src="../js/saison4.js"></script>
        <script src="../js/jquery-3.4.1.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>
        <script src="../js/prism.js"></script>
    </footer> 
</body>