<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link href="../css/bootstrap.min.css" rel="stylesheet">
      <link href="../css/prism.css" rel="stylesheet">
      <link href="../css/main.css" rel="stylesheet">
      <title>s4exercice1</title>
</head>
  
<body>
        
   <?php include '../commun/nav.html' ?>
   
   <div class="container-fluid">
      <div class="row">
         <aside class="col-md-1">
            <?php include 'aside_nav4.html' ?>
         </aside>

         <section class="col-md-11">
            <div class="container">
               <div class="row h-20 align-items-center justify-content-center text-center">
                     <div class="col-lg pt-60px align-self-center">
                        <h1 class="text-uppercase exo_title">Exercice 1</h1>
                     </div>
               </div>
               </div>   

            <div class="contenuEnonce"  id="enonce" >
                  <pre class="enonce_exo">
                     <code class="lang-html">
Formulez un algorithme équivalent à l’algorithme suivant :</br>

Si Tutu > Toto + 4 OU Tata = "OK" Alors</br>
   Tutu ← Tutu + 1</br>
Sinon</br>
   Tutu ← Tutu – 1</br>
Finsi</br>
                     </code>
                  </pre>
            </div>
            <div class="row">
               <div class="form-group col-md contenu">
                  <h1>Pseudo-code</h1>
                  <pre>
                     <code class="lang-html">
Variables tata en String et tutu, toto en Numerique</br>
   Debut </br>
   Si tata != "OK" ET tutu<= toto + 4 Alors</br>
      tutu <- tutu -1</br>
   Sinon</br>
      tutu <- tutu + 1</br>
      Fin si</br>
   Fin</br>
                  
                     </code>
                  </pre>
               </div>
                        
               <div class="form-group col-md contenu" id="javascript">
                  <h1>Javascript</h1>
                  <label for="info1">tutu =</label>
                  <input type="text" class="form-control" id="info1">
                  <label for="info2">tata =</label>
                  <input type="text" class="form-control" id="info2">
                  <label for="info3">toto =</label>
                  <input type="text" class="form-control" id="info3">
                  <p id="resultat"></p>
                  <button onclick="afficheCode1js()"><a class="nav-link active"  data-toggle="modal" data-target="#PcS4" aria-haspopup="true" aria-expanded="false">Afficher Code</a></button>
                  <button onclick="s4exo1js()">Executer</button>
               </div>
            
               <div class="form-group col-md contenu" id="jquery">
                     <h1>Jquery</h1>
                     <label for="info1jq">tutu = </label>
                     <input type="text" class="form-control" id="info1jq">
                     <label for="info2jq">tata = </label>
                     <input type="text" class="form-control" id="info2jq">
                     <label for="info3jq">toto = </label>
                     <input type="text" class="form-control" id="info3jq">
                     <p id="resultatjq"></p>
                     <button onclick='afficheCode1jq()'><a class="nav-link active"  data-toggle="modal" data-target="#PcS4" aria-haspopup="true" aria-expanded="false">Afficher Code</a></button> <!-- image du code source -->
                     <button onclick="s4exo1jq()">Executer</button>
               </div>
            
               <div class="form-group col-md contenu" id="php">
                     <h1>PhP</h1>
                  <form method="POST" action="s4exercice1.php">
                     <label for="info1php">tutu = </label>
                     <input type="text" class="form-control" name="info1php" id="info1php">
                     <label for="info2php">tata = </label>
                     <input type="text" class="form-control" name="info2php" id="info2php">
                     <label for="info3php">toto = </label>
                     <input type="text" class="form-control" name="info3php" id="info3php">
                     <p>Résultat : <?php echo $res; ?></p>
                     <button type="submit" id="form_exo_1">Executer</button>
                  </form>
                  <button onclick="afficheCode1php()"><a class="nav-link active" data-toggle="modal" data-target="#PcS4" aria-haspopup="true" aria-expanded="false">Afficher Code</a></button>
               </div>
            
               <div id="monModal">
                  <div class="modal fade-xl" id="PcS4" tabindex="-1" role="dialog" aria-labelledby="PcEx1Title" aria-hidden="true">
                  <div class="modal-dialog-xl modal-dialog-centered" role="document">
                     <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="enonce"><strong>Exercice 1<strong></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                           <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <!-- Passer dans une variable-->
                        <div class="modal-body" >
                        <pre>
                              <code class="lang-js" id="showImage">
                           
                              </code>
                        </pre>
                        
                        </div>
                        <!-- Passer dans une variable-->
                        <div class="modal-footer" id="modal_footer">
                        </div>
                     </div>
                  </div>
                  </div>
               </div>
                  
            </div>
         </section>
      </div>    
   </div>
   <footer class="no_footer">
      <script src="../js/saison4.js"></script>
      <script src="../js/jquery-3.4.1.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
      <script src="../js/bootstrap.min.js"></script>
      <script src="../js/prism.js"></script>
   </footer>   
</body>