<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/prism.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">
    <title>Algo_BM s4e6</title>
 </head>

 <body>
        
    <?php include '../commun/nav.html' ?>
    <div class="container-fluid">
        <div class="row">
            <aside class="col-md-1">
                <?php include 'aside_nav4.html' ?>
            </aside>
 
            <section class="col-md-11">
                <div class="container">
                   <div class="row h-20 align-items-center justify-content-center text-center">
                         <div class="col-lg pt-60px align-self-center">
                            <h1 class="text-uppercase exo_title">Exercice 6</h1>
                         </div>
                   </div>
                </div>   

                <div class="contenuEnonce"  id="enonce" >
                    <pre class="enonce_exo">
                        <code class="lang-html">
Les élections législatives, en Toonerie Nationale, obéissent à la règle suivante :
 lorsque l'un des candidats obtient plus de 50% des suffrages, il est élu dès le premier tour.
 en cas de deuxième tour, peuvent participer uniquement les candidats ayant obtenu au moins 12,5%
des voix au premier tour.
Vous devez écrire un algorithme qui permette la saisie des scores de quatre candidats au premier tour. Cet
algorithme traitera ensuite le candidat numéro 1 (et uniquement lui) : il dira s'il est élu, battu, s'il se trouve en
ballottage favorable (il participe au second tour en étant arrivé en tête à l'issue du premier tour) ou défavorable (il
participe au second tour sans avoir été en tête au premier tour).
                        </code>
                    </pre>
                </div>
                <div class="row">
                    <div class="form-group col-md contenu">
                        <h1>Pseudo-code</h1>
                        <pre>
                            <code class="lang-html">
Variable TotalVote, c1 c2 c3 c4 en Numerique
Debut
    Ecrire "Score du candidat 1"
    Ecrire "Score du candidat 2"
    Ecrire "Score du candidat 3"
    Ecrire "Score du candidat 4"
    Lire c1, c2, c3, c4
    

    Si c1 > 50 alors
        Ecrire "Candidat 1 est élu au premier tour"
    Sinon si c2>50 OU c3>50 OU c4>50 alors
        Ecrire "Candidat 1 est battu au premier tour"
    Sinon Si c1<50 ET c1>=12.5 alors
        Si c1>c2 et c1>c3 ET c1>c4 alors
            Ecrire "Candidat 1 est en ballotage favorable pour le second tour"
        Sinon
            Ecrire "Candidat 1 est en ballotage défavorable pour le second tour
        Fin Si
    Sinon 
        Ecrire "Candidat perd au premier tour avec moins de 12.5% des votes"
    Fin Si
Fin
                            </code>
                        </pre>
                    </div>
         
                    <div class="form-group col-md contenu" id="javascript6">
                        <h1>Javascript</h1>
                        <label for="info6js1">Score Candidat 1 ?</label>
                        <input type="text" class="form-control" id="info6js1">
                        <label for="info6js2">Score Candidat 2 ?</label>
                        <input type="text" class="form-control" id="info6js2">
                        <label for="info6js3">Score Candidat 3 ?</label>
                        <input type="text" class="form-control" id="info6js3">
                        <label for="info6js4">Score Candidat 4 ?</label>
                        <input type="text" class="form-control" id="info6js4">
                        <p id="resultat6"></p>
                        <button onclick="s4exo6js()">Executer</button>
                        <button onclick="afficheCode6js()"><a class="nav-link active"  data-toggle="modal" data-target="#PcS46" aria-haspopup="true" aria-expanded="false">Afficher Code</a></button>   
                    </div>

                    <div class="form-group col-md contenu" id="jquery6">
                            <h1>Jquery</h1>
                            <label for="info6jq1">Score Candidat 1 ?</label>
                            <input type="text" class="form-control" id="info6jq1">
                            <label for="info6jq2">Score Candidat 2 ?</label>
                            <input type="text" class="form-control" id="info6jq2">
                            <label for="info6jq3">Score Candidat 3 ?</label>
                            <input type="text" class="form-control" id="info6jq3">
                            <label for="info6jq4">Score Candidat 4 ?</label>
                            <input type="text" class="form-control" id="info6jq4">
                            <div id="resultat6jq"></div>
                            <button onclick="s4exo6jq()">Executer</button>
                            <button onclick="afficheCode6jq()"><a class="nav-link active"  data-toggle="modal" data-target="#PcS46" aria-haspopup="true" aria-expanded="false">Afficher Code</a></button> <!-- image du code source -->
                    </div>

                    <div class="form-group col-md contenu" id="php6">
                        <h1>PhP</h1>
                        <form method="POST" action="s4exercice6.php">
                            <label for="info6php1">Score Candidat 1 ?</label>
                            <input type="text" class="form-control" name="info6php1" id="info6php1">
                            <label for="info6php2">Score Candidat 2 ?</label>
                            <input type="text" class="form-control" name="info6php2" id="info6php2">
                            <label for="info6php3">Score Candidat 3 ?</label>
                            <input type="text" class="form-control" name="info6php3" id="info6php3">
                            <label for="info6php4">Score Candidat 4 ?</label>
                            <input type="text" class="form-control" name="info6php4" id="info6php4">
                            <p> <?php echo $res6; ?></p>
                            <button type="submit" id="form_exo_6">Executer</button>
                        </form>
                        <button onclick="afficheCode6php()"><a class="nav-link active" data-toggle="modal" data-target="#PcS46" aria-haspopup="true" aria-expanded="false"></a>Afficher Code</button>
                    </div>

                    <div id="monModal">
                        <div class="modal fade-xl" id="PcS46" tabindex="-1" role="dialog" aria-labelledby="PcEx1Title" aria-hidden="true">
                            <div class="modal-dialog-xl modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="enonce"><strong>Exercice 6<strong></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <!-- Passer dans une variable-->
                                <div class="modal-body">
                                <pre>
                                    <code class="lang-js" id="showImage6">
                                    </code>
                                </pre>
                                
                                </div>
                                <!-- Passer dans une variable-->
                                <div class="modal-footer" id="modal_footer">
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>         


            </section>
        </div> 
    </div>

    <footer class="no_footer">
        <script src="../js/saison4.js"></script>
        <script src="../js/jquery-3.4.1.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>
        <script src="../js/prism.js"></script>
    </footer> 
</body>