<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/prism.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">
    <title>Algo_BM s4e4</title>
</head>
<body>
        
    <?php include '../commun/nav.html' ?>
    <div class="container-fluid">
       <div class="row">
             <aside class="col-md-1">
                <?php include 'aside_nav4.html' ?>
             </aside>
 
             <section class="col-md-11">
                <div class="container">
                   <div class="row h-20 align-items-center justify-content-center text-center">
                         <div class="col-lg pt-60px align-self-center">
                            <h1 class="text-uppercase exo_title">Exercice 4</h1>
                         </div>
                   </div>
                </div>   
 
                <div class="contenuEnonce"  id="enonce" >
                    <pre class="enonce_exo">
                        <code class="lang-html">
Un magasin de reprographie facture 0,10 E les dix premières photocopies, 0,09 E les vingt suivantes et 0,08 E audelà.
Ecrivez un algorithme qui demande à l’utilisateur le nombre de photocopies effectuées et qui affiche la facture
correspondante.
                        </code>
                    </pre>
                </div>
                <div class="row">
                    <div class="form-group col-md contenu">
                        <h1>Pseudo-code</h1>
                        <pre>
                            <code class="lang-html">
    Variables nbPhoto , prix en Numerique

    Debut
        Ecrire "Combien de photocopies ?:"
        Lire nbPhoto

        Si nbPhoto <= 10 alors
            prix <- nbPhoto*0.1
            Ecrire "Cela vous coutera:", prix
        Sinon Si nbPhoto > 10 ET nbPhoto <= 30 alors
            prix <- 10*0.1 + (nbPhoto - 10)*0.09 
            Ecrire "Cela vous coutera:", prix
        Sinon
            prix <- 10*0.1 + 20*0.09 + (nbPhoto - 30)*0.08    
            Ecrire "Cela vous coutera:", prix
        Fin si
    Fin

                            </code>
                        </pre>
                    </div>
            
                    <div class="form-group col-md contenu" id="javascript4">
                        <h1>Javascript</h1>
                        <label for="info4js1">Combien de photocopies ?</label>
                        <input type="text" class="form-control" id="info4js1">
                        <p id="resultat4"></p>
                        <button onclick="afficheCode4js()"><a class="nav-link active"  data-toggle="modal" data-target="#PcS44" aria-haspopup="true" aria-expanded="false">Afficher Code</a></button>
                        <button onclick="s4exo4js()">Executer</button>
                    </div>

                    <div class="form-group col-md contenu" id="jquery4">
                            <h1>Jquery</h1>
                            <label for="info4jq1"> Combien de photocopies ?</label>
                            <input type="text" class="form-control" id="info4jq1">
                            <div id="resultat4jq"></div>
                            <button onclick="s4exo4jq()">Executer</button>
                            <button onclick="afficheCode4jq()"><a class="nav-link active"  data-toggle="modal" data-target="#PcS44" aria-haspopup="true" aria-expanded="false">Afficher Code</a></button> <!-- image du code source -->
                    </div>

                        <div class="form-group col-md contenu" id="php4">
                            <h1>PhP</h1>
                            <form method="POST" action="s4exercice4.php">
                            <label for="info4php1">Combien de photocopies ?</label>
                            <input type="text" class="form-control" name="info4php1" id="info4php1">
                            <p><?php echo $res4; ?></p>
                            <button type="submit" id="form_exo_4">Executer</button>
                            </form>
                            <button onclick="afficheCode4php()"><a class="nav-link active" data-toggle="modal" data-target="#PcS44" aria-haspopup="true" aria-expanded="false"></a>Afficher Code</button>
                        </div>
                
                        <div id="monModal">
                            <div class="modal fade-xl" id="PcS44" tabindex="-1" role="dialog" aria-labelledby="PcEx1Title" aria-hidden="true">
                                <div class="modal-dialog-xl modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="enonce"><strong>Exercice 4<strong></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <div class="modal-body">
                                    <pre>
                                        <code class="lang-js"  id="showImage4">
                                        </code>
                                    </pre>
                                    
                                    </div>
                                    <div class="modal-footer" id="modal_footer">
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>  

            </section>
        </div> 
    </div>

    <footer class="no_footer">
        <script src="../js/saison4.js"></script>
        <script src="../js/jquery-3.4.1.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>
        <script src="../js/prism.js"></script>
    </footer> 
</body>
