<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/prism.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">
    <title>Algo_BM s4e8</title>
</head>

<body>
        
    <?php include '../commun/nav.html' ?>
    <div class="container-fluid">
        <div class="row">
            <aside class="col-md-1">
                <?php include 'aside_nav4.html' ?>
            </aside>
    
            <section class="col-md-11">
                <div class="container">
                    <div class="row h-20 align-items-center justify-content-center text-center">
                            <div class="col-lg pt-60px align-self-center">
                            <h1 class="text-uppercase exo_title">Exercice 8</h1>
                            </div>
                    </div>
                </div>   

                <div class="contenuEnonce"  id="enonce" >
                    <pre class="enonce_exo">
                        <code class="lang-html">
                Ecrivez un algorithme qui a près avoir demandé un numéro de jour, de mois et d'année à l'utilisateur, renvoie s'il
                s'agit ou non d'une date valide.
                Il n'est sans doute pas inutile de rappeler rapidement que le mois de février compte 28 jours, sauf si l’année est
                bissextile, auquel cas il en compte 29. L’année est bissextile si elle est divisible par quatre.
                        </code>
                    </pre>
                </div>
                <div class="row">
                    <div class="form-group col-md contenu">
                        <h1>Pseudo-code</h1>
                        <pre>
                            <code class="lang-html">
Variables J, M , A, Jmax en numérique
VJ, VM, Bis boolean

Bis <- (A dp 4 ET non(A dp 100)) OU A dp 400
VJ <- J>=1 ET J<=31
VM <- M<=12 ET M>=1
Jmax <- 0
	
Debut
    
    Ecrire "Entrez le numero du jour:"
    Lire J
    Ecrire "Entrez le numero du mois:"
    Lire M
    Ecrire "Entrez le numéro de l'année:"
    Lire A


    <-- Définir le nombre de jour par mois -->
        

    Si VM alors
        Si M == 2 ET B alors   <-- Fevrier d'une année bissextile 
            Jmax <- 29
        SinonSi M==2 ET non(B) alors <-- Fevrier d'une année non bissextile
            Jmax <- 28
        SinonSi (M == 4) OU (M == 6) OU (M == 9) OU (M == 11) Alors  
            Jmax <- 30
        Sinon 
            Jmax <- 31
        FinSi
        VJ <- J>=1 ET J<=Jmax  <-- Modification du Boolean 
    FinSi
    
    Si VM et VJ alors
        Ecrire "La date est valide !"
    Sinon	
        Ecrire "La date n'est pas valide !"
    Fin Si
Fin
                            </code>
                        </pre>
                    </div>
         
                    <div class="form-group col-md contenu" id="javascript8">
                        <h1>Javascript</h1>
                        <label for="info8js1">Entrez le numéro du jour</label>
                        <input type="text" class="form-control" id="info8js1">
                        <label for="info8js2">Entrez numéro du mois</label>
                        <input type="text" class="form-control" id="info8js2">
                        <label for="info8js3">Entrez l'année</label>
                        <input type="text" class="form-control" id="info8js3">
                        <p id="resultat8"></p>
                        <button onclick="s4exo8js()">Executer</button>
                        <button onclick="afficheCode8js()"><a class="nav-link active"  data-toggle="modal" data-target="#PcS48" aria-haspopup="true" aria-expanded="false">Afficher Code</a></button>
                        
                    </div>

                    <div class="form-group col-md contenu" id="jquery8">
                            <h1>Jquery</h1>
                            <label for="info8jq1">Entrez le numéro du jour </label>
                            <input type="text" class="form-control" id="info8jq1">
                            <label for="info8jq2">Entrez numéro du mois </label>
                            <input type="text" class="form-control" id="info8jq2">
                            <label for="info8jq3">Entrez l'année </label>
                            <input type="text" class="form-control" id="info8jq3">
                            <div id="resultat8jq"></div>
                            <button onclick="s4exo8jq()">Executer</button>
                            <button onclick="afficheCode8jq()"><a class="nav-link active"  data-toggle="modal" data-target="#PcS48" aria-haspopup="true" aria-expanded="false">Afficher Code</a></button> <!-- image du code source -->
                    </div>

                    <div class="form-group col-md contenu" id="php8">
                        <h1>PhP</h1>
                        <form method="POST" action="s4exercice8.php">
                        <label for="info8php1">Entrez le numéro du jour</label>
                        <input type="text" class="form-control" name="info8php1" id="info8php1">
                        <label for="info8php2">Entrez numéro du mois</label>
                        <input type="text" class="form-control" name="info8php2" id="info8php2">
                        <label for="info8php3">Entrez l'année</label>
                        <input type="text" class="form-control" name="info8php3" id="info8php3">
                        <p><?php echo $res8; ?></p>
                        <button type="submit" id="form_exo_8">Executer</button>
                        </form>
                        <button onclick="afficheCode8php()"><a class="nav-link active" data-toggle="modal" data-target="#PcS48" aria-haspopup="true" aria-expanded="false"></a>Afficher Code</button>
                    </div>

                    <div id="monModal">
                        <div class="modal fade-xl" id="PcS48" tabindex="-1" role="dialog" aria-labelledby="PcEx1Title" aria-hidden="true">
                            <div class="modal-dialog-xl modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="enonce"><strong>Exercice 8<strong></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <!-- Passer dans une variable-->
                                <div class="modal-body">
                                <pre>
                                    <code class="lang-js" id="showImage8">
                                    </code>
                                </pre>
                                
                                </div>
                                <!-- Passer dans une variable-->
                                <div class="modal-footer" id="modal_footer">
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>         

            </section>
        </div> 
    </div>

    <footer class="no_footer">
        <script src="../js/saison4.js"></script>
        <script src="../js/jquery-3.4.1.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>
        <script src="../js/prism.js"></script>
    </footer> 
</body>