<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/prism.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">
    <title>Algo_BM s4e5</title>
 </head>

 <body>
        
    <?php include '../commun/nav.html' ?>
    <div class="container-fluid">
       <div class="row">
            <aside class="col-md-1">
                <?php include 'aside_nav4.html' ?>
            </aside>
 
            <section class="col-md-11">
                <div class="container">
                   <div class="row h-20 align-items-center justify-content-center text-center">
                         <div class="col-lg pt-60px align-self-center">
                            <h1 class="text-uppercase exo_title">Exercice 5</h1>
                         </div>
                   </div>
                </div> 

            <div class="contenuEnonce"  id="enonce">
                <pre class="enonce_exo">
                    <code class="lang-html">
Les habitants de Toon’sCity paient l’impôt selon les règles suivantes :
     les hommes de plus de 20 ans paient l’impôt
     les femmes paient l’impôt si elles ont entre 18 et 35 ans
     les autres ne paient pas d’impôt
Le programme demandera donc l’âge et le sexe du Toon, et se prononcera donc ensuite sur le fait que l’habitant est
imposable ou non.
                    </code>
                </pre>
            </div>

            <div class="form-group col-md contenu">
                <h1>Pseudo-code</h1>
                <pre>
                    <code class="lang-html">
Debut 
    Ecrire "Etes vous un homme(H) ou une femme(F)?"
    Ecrire "Quel âge avez-vous ?
    Lire sexe, age

    Si (sexe ="H" ET age > 20) OU (sexe="F" ET (age>=18 ET age<=35))
        Ecrire "Vous êtes imposable"
    Sinon 
        Ecrire "Vous n'etes pas imposable"
    Fin Si
Fin
        
                    </code>
                </pre>
            </div>
         
            <div class="form-group col-md contenu" id="javascript5">
                <h1>Javascript</h1>
                <label for="info5js1">Quel st votre âge ?</label>
                <input type="text" class="form-control" id="info5js1">
                <label for="info5js2">Etes-vous un homme (H) ou une femme (F) ?</label>
                <input type="text" class="form-control" id="info5js2">
                <p id="resultat5"></p>
                <button onclick="s4exo5js()">Executer</button>
                <button onclick="afficheCode5js()"><a class="nav-link active" data-toggle="modal" data-target="#PcS45" aria-haspopup="true" aria-expanded="false">Afficher Code</a></button>
                
            </div>

            <div class="form-group col-md contenu" id="jquery5">
                <h1>Jquery</h1>
                <label for="info5jq1">Quel est votre âge ?</label>
                <input type="text" class="form-control" id="info5jq1">
                <label for="info5jq2">Etes-vous un homme (H) ou une femme (F) ?</label>
                <input type="text" class="form-control" id="info5jq2">
                <div id="resultat5jq"></div>
                <button onclick="s4exo5jq()">Executer</button>
                <button onclick="afficheCode5jq()"><a class="nav-link active" data-toggle="modal" data-target="#PcS45" aria-haspopup="true" aria-expanded="false">Afficher Code</a></button> <!-- image du code source -->
            </div>

                <div class="form-group col-md contenu" id="php5">
                    <h1>PhP</h1>
                    <form method="POST" action="s4exercice5.php">
                        <label for="info5php1">Quel est votre âge ?</label>
                        <input type="text" class="form-control" name="age5" id="age5">
                        <label for="info5php2">Etes-vous un homme (H) ou une femme (F) ?</label>
                        <input type="text" class="form-control" name="genre" id="genre">
                        <p><?php echo $res5; ?></p>
                        <button type="submit" id="form_exo_5">Executer</button>
                    </form>
                    <button onclick="afficheCode5php()"><a class="nav-link active" data-toggle="modal" data-target="#PcS45" aria-haspopup="true" aria-expanded="false">Afficher Code</a></button>
                </div>
 
                <div id="monModal">
                    <div class="modal fade-xl" id="PcS45" tabindex="-1" role="dialog" aria-labelledby="PcEx1Title" aria-hidden="true">
                        <div class="modal-dialog-xl modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="enonce"><strong>Exercice 5<strong></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <!-- Passer dans une variable-->
                            <div class="modal-body">
                            <pre>
                                <code class="lang-js"  id="showImage5">
                                </code>
                            </pre>
                            
                            </div>
                            <!-- Passer dans une variable-->
                            <div class="modal-footer" id="modal_footer">
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </section>
        </div> 
    </div>      

    <footer class="no_footer">
        <script src="../js/saison4.js"></script>
        <script src="../js/jquery-3.4.1.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>
        <script src="../js/prism.js"></script>
    </footer> 
</body>
