<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/prism.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">
    <title>Algo_BM s4e7</title>
</head>

<body>
        
    <?php include '../commun/nav.html' ?>
    <div class="container-fluid">
        <div class="row">
            <aside class="col-md-1">
                <?php include 'aside_nav4.html' ?>
            </aside>
 
            <section class="col-md-11">
                <div class="container">
                   <div class="row h-20 align-items-center justify-content-center text-center">
                         <div class="col-lg pt-60px align-self-center">
                            <h1 class="text-uppercase exo_title">Exercice 7</h1>
                         </div>
                   </div>
                </div>   
                <div class="contenuEnonce" id="enonce" >
                    <pre class="enonce_exo">
                        <code class="lang-html">
Une compagnie d'assurance automobile propose à ses clients quatre familles de tarifs identifiables par une couleur, du moins au plus onéreux : tarifs bleu, vert, orange et rouge. Le tarif dépend de la situation du conducteur :
     un conducteur de moins de 25 ans et titulaire du permis depuis moins de deux ans, se voit attribuer le tarif rouge, si toutefois il n'a jamais été responsable d'accident. Sinon, la compagnie refuse de l'assurer.
     un conducteur de moins de 25 ans et titulaire du permis depuis plus de deux ans, ou de plus de 25 ans mais titulaire du permis depuis moins de deux ans a le droit au tarif orange s'il n'a jamais provoqué d'accident, au tarif rouge pour un accident, sinon il est refusé.
     un conducteur de plus de 25 ans titulaire du permis depuis plus de deux ans bénéficie du tarif vert s'il n'est à l'origine d'aucun accident et du tarif orange pour un accident, du tarif rouge pour deux accidents, et refusé au-delà
     De plus, pour encourager la fidélité des clients acceptés, la compagnie propose un contrat de la couleur immédiatement la plus avantageuse s'il est entré dans la maison depuis plus de cinq ans. 
Ainsi, s'il satisfait à cette exigence, un client normalement "vert" devient "bleu", un client normalement "orange" devient "vert", et le "rouge" devient orange.
Ecrire l'algorithme permettant de saisir les données nécessaires (sans contrôle de saisie) et de traiter ce problème. Avant de se lancer à corps perdu dans cet exercice, on pourra réfléchir un peu et s'apercevoir qu'il est plus simple qu'il n'en a l'air (cela s'appelle faire une analyse !)
                        </code>
                    </pre>
                </div>
                <div class="row">
                    <div class="form-group col-md contenu">
                        <h1>Pseudo-code</h1>
                        <pre>
                            <code class="lang-html">
Variables  situation en Alphanumérique
age, accident, permis , fidelite en Numérique
age25, perm2, assur5 en Boolean

Debut
    Ecrire "Age :"
    Lire age
    Ecrire "Année(s) de permis:"
    Lire permis
    Ecrire "Nombre d'accident:"
    Lire accident
    Ecrire "Nombre d'année chez nous:"
    Lire fidelite

    age25 <- age >=25
    perm2 <- permis >=2
    assur5 <- fidelite > 5  --> assur5 vaut vrai quand fidelité > 5


    Si NON(age25) ET NON(perm2) alors
        Si accident == 0 alors
            situation = "Rouge"
        Sinon 
            situation = "Refusé"
        Fin Si

    Sinon Si (NON(age25) ET perm2) OU (age25 ET NON(perm2)) Alors
        Si accident == 0 alors
            situation = "Orange"
        SinonSi accident = 1 alors
            situation = "Rouge"
        Sinon
            situation = "Refusé"
        FinSi

    Sinon
        Si accident == 0 alors
            situation ="Vert"
        SinonSi accident =="1"
            situation ="Orange"
        SinonSi accident =="2"
            situation ="Rouge"
        Sinon
            situation ="Refusé"
        FinSi
    FinSi

    Si assur5 alors
        Si situation == "vert" alors
            situation ="bleue"
        SinonSi situation == "orange" alors
            situation = "vert"
        SinonSi situation == "rouge" alors
            situation = "orange"
        FinSi
    Fin Si
            
Fin
                            </code>
                        </pre>
                    </div>
         
                    <div class="form-group col-md contenu" id="javascript7">
                        <h1>Javascript</h1>
                        <label for="info7js1">Quel âge avez-vous ?</label>
                        <input type="text" class="form-control" id="info7js1">
                        <label for="info7js2">"Depuis combien d'année possedez-vous le permis?"</label>
                        <input type="text" class="form-control" id="info7js2">
                        <label for="info7js3">"Combien d'accident ?" ?</label>
                        <input type="text" class="form-control" id="info7js3">
                        <label for="info7js4">"Combien d'année chez nous ?" ?</label>
                        <input type="text" class="form-control" id="info7js4">
                        <p id="resultat7"></p>
                        <button onclick="s4exo7js()">Executer</button>
                        <button onclick="afficheCode7js()"><a class="nav-link active"  data-toggle="modal" data-target="#PcS47" aria-haspopup="true" aria-expanded="false">Afficher Code</a></button>
                        
                    </div>

                    <div class="form-group col-md contenu" id="jquery7">
                            <h1>Jquery</h1>
                            <label for="info7jq1">Quel âge avez-vous ?</label>
                            <input type="text" class="form-control" id="info7jq1">
                            <label for="info7jq2">Depuis combien d'année possedez-vous le permis?</label>
                            <input type="text" class="form-control" id="info7jq2">
                            <label for="info7jq3">Combien d'accident ? ?</label>
                            <input type="text" class="form-control" id="info7jq3">
                            <label for="info7jq4">Combien d'année chez nous ? ?</label>
                            <input type="text" class="form-control" id="info7jq4">
                            <div id="resultat7jq"></div>
                            <button onclick="s4exo7jq()">Executer</button>
                            <button onclick="afficheCode7jq()"><a class="nav-link active"  data-toggle="modal" data-target="#PcS47" aria-haspopup="true" aria-expanded="false">Afficher Code</a></button> <!-- image du code source -->
                    </div>

                    <div class="form-group col-md contenu" id="php7">
                        <h1>PhP</h1>
                        <form method="POST" action="s4exercice7.php">
                            <label for="info7php1">Quel âge avez-vous ?</label>
                            <input type="text" class="form-control" name="info7php1" id="info7php1">
                            <label for="info7php2">"Depuis combien d'année possedez-vous le permis?"</label>
                            <input type="text" class="form-control" name="info7php2" id="info7php2">
                            <label for="info7php3">"Combien d'accident ?" ?</label>
                            <input type="text" class="form-control" name="info7php3" id="info7php3">
                            <label for="info7php4">"Combien d'année chez nous ?" ?</label>
                            <input type="text" class="form-control" name="info7php4" id="info7php4">
                            <p><?php echo $res7 ?></p>
                            <button type="submit" id="form_exo_7">Executer</button>
                        </form>
                        <button onclick="afficheCode7php()"><a class="nav-link active" data-toggle="modal" data-target="#PcS47" aria-haspopup="true" aria-expanded="false">Afficher Code</a></button>
                    </div>
 
                    <div id="monModal">
                        <div class="modal fade-xl" id="PcS47" tabindex="-1" role="dialog" aria-labelledby="PcEx1Title" aria-hidden="true">
                            <div class="modal-dialog-xl modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="enonce"><strong>Exercice 7<strong></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <!-- Passer dans une variable-->
                                <div class="modal-body">
                                <pre>
                                    <code class="lang-js" id="showImage7">
                                    </code>
                                </pre>
                                
                                </div>
                                <!-- Passer dans une variable-->
                                <div class="modal-footer" id="modal_footer">
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>         
            </section>
        </div>
    </div>

    <footer class="no_footer">
        <script src="../js/saison4.js"></script>
        <script src="../js/jquery-3.4.1.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>
        <script src="../js/prism.js"></script>
    </footer>   
</body>
