<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/prism.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">
    <title>Algo_BM</title>
 </head>

 <body>
        
    <?php include '../commun/nav.html' ?>
 <div class="container-fluid">
    <div class="row">
          <aside class="col-md-1">
             <?php include 'aside_nav4.html' ?>
          </aside>

          <section class="col-md-11">
             <div class="container">
                <div class="row h-20 align-items-center justify-content-center text-center">
                      <div class="col-lg pt-60px align-self-center">
                         <h1 class="text-uppercase exo_title">Exercice 2</h1>
                      </div>
                </div>
             </div>   

            <div class="contenuEnonce"  id="enonce" >
                <pre class="enonce_exo">
                    <code class="lang-html">
Cet algorithme est destiné à prédire l'avenir, et il doit être infaillible !
Il lira au clavier l’heure et les minutes, et il affichera l’heure qu’il sera une minute plus tard. Par exemple, si
l'utilisateur tape 21 puis 32, l'algorithme doit répondre :
"Dans une minute, il sera 21 heure(s) 33".
NB : on suppose que l'utilisateur entre une heure valide. Pas besoin donc de la vérifier.
                        </code>
                    </pre >
                </div>
                <div class="row">
                    <div class="form-group col-md contenu">
                        <h1>Pseudo-code</h1>
                        <pre>
                            <code class="lang-html">
Variables min, h en Numerique 
Debut
    Ecrire "Précisez l'heure:"
    Lire h
    Ecrire "Précisez les minutes:"
    Lire min
    min <- min + 1

    Si h < 24 ET min < 60 alors
        Ecrire "Dans une minute, il sera :", h, "heure(s), min,"."
    SinonSi h < 23 ET min = 60 alors 
        h <- h + 1
        min = 0
        Ecrire "Dans une minute, il sera :" h, "heure(s)", min,"."
    SinonSi h=24 alors
        h<-0
    Sinon 
        h <- 0
        min <- 0
        Ecrire "Dans une minute, il sera :" h, "heure(s)", min,"."
    Fin Si
Fin
                            </code>
                        </pre>
                    </div>
                    
                    <div class="form-group col-md contenu" id="javascript2">
                        <h1>Javascript</h1>
                        <label for="info2js1">Quelle heure est-il ?</label>
                        <input type="text" class="form-control" id="info2js1">
                        <label for="info2js2">Combien de minute ?</label>
                        <input type="text" class="form-control" id="info2js2">
                        <p id="resultat2"></p>
                        <button onclick="afficheCode2js()"><a class="nav-link active"  data-toggle="modal" data-target="#PcS42" aria-haspopup="true" aria-expanded="false">Afficher Code</a></button>
                        <button onclick="s4exo2js()">Executer</button>
                    </div>

                    <div class="form-group col-md contenu" id="jquery2">
                            <h1>Jquery</h1>
                            <label for="info2jq1"> Quelle heure est-il?</label>
                            <input type="text" class="form-control" id="info2jq1">
                            <label for="info2jq2">Combien de minute ?</label>
                            <input type="text" class="form-control" id="info2jq2">
                            <div id="resultat2jq"></div>
                            <button onclick="s4exo2jq()">Executer</button>
                            <button onclick="afficheCode2jq()"><a class="nav-link active"  data-toggle="modal" data-target="#PcS42" aria-haspopup="true" aria-expanded="false">Afficher Code</a></button> <!-- image du code source -->
                    </div>

                    <div class="form-group col-md contenu" id="php2">
                        <h1>PhP</h1>
                        <form method="POST" action="s4exercice2.php">
                        <label for="info2php1">Quelle heure est-il?</label>
                        <input type="text" class="form-control" name="info2php1" id="info2php1">
                        <label for="info2php2">Combien de minute ?</label>
                        <input type="text" class="form-control" name="info2php2" id="info2php2">
                        <p>Résultat : <?php echo $res2; ?></p>
                        <button type="submit" id="form_exo_2">Executer</button>
                        </form>
                        <button onclick="afficheCode2php()"><a class="nav-link active"  data-toggle="modal" data-target="#PcS42" aria-haspopup="true" aria-expanded="false"></a>Afficher Code</button>
                    </div>
            
                    <div id="monModal">
                        <div class="modal fade-xl" id="PcS42" tabindex="-1" role="dialog" aria-labelledby="PcEx1Title" aria-hidden="true">
                            <div class="modal-dialog-xl modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="enonce"><strong>Exercice 2<strong></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <!-- Passer dans une variable-->
                                <div class="modal-body">
                                
                                <pre>
                                    <code class="lang-js"  id="showImage2">
                                
                                    </code>
                                </pre>
                                
                                </div>
                                <!-- Passer dans une variable-->
                                <div class="modal-footer" id="modal_footer">
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>         
            </section>
        </div>
    </div>
    <footer class="no_footer">
        <script src="../js/saison4.js"></script>
        <script src="../js/jquery-3.4.1.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>
        <script src="../js/prism.js"></script>
    </footer>   
</body>

