<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="../css/bootstrap.min.css" rel="stylesheet">
        <link href="../css/prism.css" rel="stylesheet">
        <link href="../css/main.css" rel="stylesheet">
        <title>Algo_Saison4</title>
     </head>

<body class='saison_nav'>

    <?php include '../commun/nav.html' ?>

    <div class="container-fluid">
        <div class="row">
            <aside>
                <?php include 'aside_nav4.html' ?>
            </aside>
            <section class="col offset-1" id="sect_saison7">
            </section>
        </div>
    </div>
                    <!--Fin de Nav-->
    
    <div class="container-fluid"  id="nav_s4">
        <div class="col-md">  
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item">
                    <button class="btn btn-default"><a class="nav-link active" href="s4exercice1.php">Exercice 1</a></button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-default"><a class="nav-link active" href="s4exercice2.php">Exercice 2</a></button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-default"><a class="nav-link active" href="s4exercice3.php">Exercice 3</a></button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-default" ><a class="nav-link active" href="s4exercice4.php">Exercice 4</a></button>   
                </li>
                <li class="nav-item">
                    <button class="btn btn-default" ><a class="nav-link active" href="s4exercice5.php">Exercice 5</a></button>
                </li>        
                <li class="nav-item">
                    <button class="btn btn-default" ><a class="nav-link active" href="s4exercice6.php">Exercice 6</a></button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-default"> <a class="nav-link active" href="s4exercice7.php" >Exercice 7</a></button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-default"> <a class="nav-link active" href="s4exercice8.php">Exercice 8</a></button>
                </li>
            </ul>
        </div>
    </div>


   
    <script src="../js/saison4.js"></script>
    <script src="../js/jquery-3.4.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/prism.js"></script>
</body>