<!-- <aside class="col-1 px-0 fixed-top nav_left"></aside>
    <div class="list-group w-100">
            <a class="list-group-item active">Saison 7</a>
            <a href="s7exercice1.php" class="list-group-item">Exercice 1</a>
            <a href="s7exercice2.php" class="list-group-item">Exercice 2</a>
            <a href="s7exercice3.php" class="list-group-item">Exercice 3</a>
            <a href="s7exercice4.php" class="list-group-item">Exercice 4</a>
            <a href="s7exercice5.php" class="list-group-item">Exercice 5</a>
    </div>
</aside>  -->


<div class="sidebar-container">
    <ul class="sidebar-navigation">
        <li>
        <a href="s7exercice1.php">
            <i class="fa fa-home" aria-hidden="true"></i> Exercice 1
        </a>
        </li>
        <li>
        <a href="s7exercice2.php">
            <i class="fa fa-tachometer" aria-hidden="true"></i> Exercice 2
        </a>
        </li>
        <li>
        <a href="s7exercice3.php">
            <i class="fa fa-users" aria-hidden="true"></i> Exercice 3
        </a>
        </li>
        <li>
        <a href="s7exercice4.php">
            <i class="fa fa-cog" aria-hidden="true"></i> Exercice 4
        </a>
        </li>
        <li>
        <a href="s7exercice5.php">
            <i class="fa fa-info-circle" aria-hidden="true"></i> Exercice 5
        </a>
        </li>
    </ul>
</div>
