<div class="sidebar-container">
    <div class="sidebar-logo">
        <a href="../index.php">
            <i class="fa fa-home" aria-hidden="true"></i> Accueil
        </a>
    </div>
    <ul class="sidebar-navigation">
        <li>
            <a href="s7exercice1.php">
                <i class="fa fa-home" aria-hidden="true"></i> Exercice 1
            </a>
        </li>
        <li>
            <a href="s7exercice2.php">
                <i class="fa fa-tachometer" aria-hidden="true"></i> Exercice 2
            </a>
        </li>
        <li>
            <a href="s7exercice3.php">
                <i class="fa fa-users" aria-hidden="true"></i> Exercice 3
            </a>
        </li>
        <li>
            <a href="s7exercice4.php">
                <i class="fa fa-cog" aria-hidden="true"></i> Exercice 4
            </a>
        </li>
        <li>
            <a href="s7exercice5.php">
                <i class="fa fa-info-circle" aria-hidden="true"></i> Exercice 5
            </a>
        </li>
    </ul>
</div>
