<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/prism.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">
    <title>s7exercice3</title>
</head>

<body>
    
        <?php include '../commun/nav.html' ?>

    <div class="container-fluid">
        <div class="row">
            <aside class="col-md-1">
                <?php include 'aside_nav7.html' ?>
            </aside>

            <section class="col-md-11">
                <div class="container">
                    <div class="row h-20 align-items-center justify-content-center text-center">
                        <div class="col-lg pt-60px align-self-center">
                            <h1 class="text-uppercase  exo_title">Exercice 3</h1>
                        </div>
                    </div>
                </div>

                <div class="contenuEnonce"  id="enonce" >
                    <pre class="enonce_exo"><code class="lang-html">
Ecrivez un algorithme qui permette à l’utilisateur de supprimer une valeur d’un tableau préalablement saisi.
L’utilisateur donnera l’indice de la valeur qu’il souhaite supprimer. Attention, il ne s’agit pas de remettre une valeur
à zéro, mais bel et bien de la supprimer du tableau lui-même ! Si le tableau de départ était :
| 12 | 8 | 4 | 45 | 64 | 9 | 2 |
Et que l’utilisateur souhaite supprimer la valeur d’indice 4, le nouveau tableau sera :
| 12 | 8 | 4 | 45 | 9 | 2 |
                    </code></pre>
                </div>

                <div class="choice">            
                    <button onclick="toggleLanguage('pc')" class="btn btn-success button_exo">Pseudo-Code</button>
                    <button onclick="toggleLanguage('js')" class="btn btn-warning button_exo">Javascript</button>
                    <button onclick="toggleLanguage('jq')" class="btn btn-info button_exo">Jquery</button>
                    <button onclick="toggleLanguage('php')" class="btn btn-secondary button_exo">PhP</button>
                </div>
                
                <div class="one_Division" id="pc">
                    <h1>Pseudo-code</h1>
                    <div class="show_exo7" id="pc7_1">
                    <pre class="s7"><code class="lang-html">
    Variables aTab1(7), iIndice, remove
        Ecrire Entrez l'indice que vous voulez supprimer
        Lire iIndice
        Si iIndice >= 0 && iIndice < taille tableau Alors
            aTab[iIndice] <- deleted
            Tout ce qu'il y a apres <- décale l'index de -1
        Fin Si
        Ecrire aTab
                    </code></pre>
                </div>
            </div>

                <div class="one_Division" id="js">
                    <h1>Javascript</h1>
                    <h5>Tri a bulle : [1, 2, 3, 4, 8, 12, 24, 55, 87, 29]</h5>
                    <label for="saisieU_7_3">"Saisissez l'indice contenant la valeur à supprimer ?"</label></br>
                    <input type="number" id="saisieU_7_3">
                    <p class="resultat_s7" id="resultat7_3"> <!--affiche le tableau trié--> </p>
                    <button onclick="s7_exo3_js()">Afficher Résultat</button>
                    <div class="show_exo7" id="js7_3" >
                            <pre class="s7"><code class="lang-js" > 
    function s7_exo3_js(){
        var aTab = [1, 2, 3, 4, 8, 12, 24, 55, 87, 29];
    
    //Récupère la valeur que l'utilisateur souhaite supprimer
        var saisieU = document.getElementById("saisieU_7_3").value;
        var remove = aTab.splice(saisieU, 1);
        if(saisieU < aTab.length && saisieU >= 0){
        document.getElementById('resultat7_3').innerHTML = "Supprimé = " + remove + "</br>" + "Nouveau tableau = " + aTab;
        }
    }
                            </code></pre>
                        </div>
                </div>
            
                <div class="one_Division" id="jq">
                    <h1>Jquery</h1>
                    <h5>Tri par insertion : [1, 2, 3, 4, 8, 12, 24, 55, 87, 29]</h5><br>
                    <label for="saisieU_7_3_jq">"Saisissez l'indice contenant la valeur à supprimer ?"</label></br>
                    <input type="number" id="saisieU_7_3_jq">
                    <p class="resultat_s7" id="resultat7_3_jq"></p>
                    <button onclick="s7_exo3_jq()">Afficher Résultat</button>
                    <div class="show_exo7" id="jq7_3" >
                        <pre class="s7"><code class="lang-js" >
    function s7_exo3_jq(){
        var aTab = [1, 2, 3, 4, 8, 12, 24, 55, 87, 29];

        var saisieU = $("#saisieU_7_3_jq").val();
        var remove = aTab.splice(saisieU, 1);
        if(saisieU < aTab.length && saisieU >= 0){
            $('#resultat7_3_jq').html("Supprimé = " + remove + "</br>" + "Nouveau tableau = " + aTab);
        }   
    }                        
                    </code></pre>
                </div>
            </div>
            
                <div class="one_Division" id="php">
                    <h1>PhP</h1>
                    <h5>[1, 2, 3, 4, 8, 12, 24, 55, 87, 29];</h5>
                    <form method="POST" action="s7exercice3.php">
                        <label for="saisieU_7_3_php">"Saisissez l'indice contenant la valeur à supprimer ?"</label></br>
                        <input type="number" id="saisieU_7_3_php" name="saisieU_7_3_php" >
                        <p class="resultat_s7"> <?php echo $sMessage7_3; ?></p>
                        <button type="submit" id="form_exo_7_3">Executer</button>
                    </form>
                    <div class="show_exo7" id="php7_3" >
                            <pre class="s7"><code class="lang-php" >
    $sMessage7_3= "";
    if(isset($_POST['saisieU_7_3_php'])){
        $aTab = [1, 2, 3, 4, 8, 12, 24, 55, 87, 29];
        $iSaisie_U = $POST['saisieU_7_3_php'];
        

        if($iSaisie_U >=0 && $iSaisie_U < count($aTab)){
            unset($aTab[$iSaisie_U]);
        }
        else
        {
            $sMessage7_3 = "Cette indice n'est pas renseigné";
        }


    
    }
    require 's7exercice3.html';
                            </code></pre>
                        </div>
                </div>
        </div>     
    </section>
</div>

<footer class="no_footer">
    <script src="../js/saison1.js"></script>
    <script src="../js/saison2.js"></script>
    <script src="../js/saison3.js"></script>
<script src="../js/saison7.js"></script>
<script src="../js/jquery-3.4.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/prism.js"></script>
</footer>
                
</body>