<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/prism.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">
    <title>s7exercice4</title>
</head>
    
<body>

    <?php include '../commun/nav.html' ?>
    
    <div class="container-fluid">
        <div class="row">
            <aside class="col-md-1">
                <?php include 'aside_nav7.html' ?>
            </aside>

            <section class="col-md-11">
                <div class="container">
                    <div class="row h-20 align-items-center justify-content-center text-center">
                        <div class="col-lg pt-60px align-self-center">
                            <h1 class="text-uppercase exo_title">Exercice 5</h1>
                        </div>
                    </div>
                </div>
    
                <div class="contenuEnonce"  id="enonce" >
                    <pre class="enonce_exo"><code class="lang-html">
Écrivez un algorithme qui fusionne deux tableaux (déjà existants) dans un troisième, qui devra être trié.
Attention ! On présume que les deux tableaux de départ sont préalablement triés : il est donc irrationnel de faire une simple concaténation des deux tableaux de départ, puis d'opérer un tri : comme quand on se trouve face à deux tas de papiers déjà triés et qu'on veut les réunir, il existe une méthode bien plus économique (et donc, bien plus rationnelle...)
                    </code></pre>
                </div>

                <div class="choice">            
                    <button onclick="toggleLanguage('pc')" class="btn btn-success button_exo">Pseudo-Code</button>
                    <button onclick="toggleLanguage('js')" class="btn btn-warning button_exo">Javascript</button>
                    <button onclick="toggleLanguage('jq')" class="btn btn-info button_exo">Jquery</button>
                    <button onclick="toggleLanguage('php')" class="btn btn-secondary button_exo">PhP</button>
                </div>
                
                <div class="one_Division" id="pc">
                    <h1>Pseudo-code</h1>
                    <div class="show_exo7" id="pc7_4">
                        <pre class="s7"><code class="lang-html">
    Variables TabA(m), TabB(n), TabC(m+n), iA, iB, iC
    Debut
        iA <-0
        iB <-0
        iC <-0 
        bAFini <- Faux
        bBFini <- Faux
        TantQue Non(bAFini) ET Non(bBFini)
            iC++
            TabC(iC)
            Si bAFini OU A(iA) > B(iB) Alors
                TabC(iC) <- TabB(iB)

                        </code></pre>
                    </div>
                </div>

                <div class="one_Division" id="js">
                    <h1>Javascript</h1>
                    <p class="resultat_s7"> Tableau A : [0, 2, 5, 8, 9, 12, 23] </br>
                        Tableau B : [1, 4, 10, 15, 17]</br>
                    </p>
                    <p class="resultat_s7" id="resultat7_5"> <!--affiche le tableau trié--> </p>
                    <button onclick="s7_exo5_js()">Afficher Résultat</button>
                    <div class="show_exo7" id="js7_4" >
                        <pre class="s7"><code class="lang-js" > 
function s7_exo5_js(){
var sText = "";
var A = [0, 2, 5, 8, 9, 12, 23];
var B = [1, 4, 10, 15, 17];
var C = [];
iA = 0;
iB = 0;
iC = -1;

bAFini = false;
bBFini = false;

while(bAFini != true || bBFini != true){
iC++;
if(bAFini == true || A[iA] > B[iB])
{
    C[iC] = B[iB];
    iB++;
    if(iB > B.length-1){
        bBFini = true;
    }
}
else
{
    C[iC] = A[iA];
    iA++;
    if(iA > A.length-1){
        bAFini = true;
    }
    
}
}
for(i=0; i< C.length; i++)
{
sText += ' | ' + C[i];
}
document.getElementById('resultat7_5').innerHTML = sText + ' |';
}
                        </code></pre>
                    </div>
                </div>
                
                    <div class="one_Division" id="jq">
                        <h1>Jquery</h1>
                        <p class="resultat_s7"> Tableau A : [0, 2, 5, 8, 9, 12, 23] </br>
                            Tableau B : [1, 4, 10, 15, 17]</br>
                        </p>
                        <p class="resultat_s7" id="resultat7_5_jq"></p>
                        <button onclick="s7_exo5_jq()">Afficher Résultat</button>
                        <div class="show_exo7" id="jq7_4" >
                            <pre class="s7"><code class="lang-js" >
function s7_exo5_jq(){
    var sText = "";
    var A = [0, 2, 5, 8, 9, 12, 23];
    var B = [1, 4, 10, 15, 17];
    var C = [];
    iA = 0;
    iB = 0;
    iC = -1;

    bAFini = false;
    bBFini = false;

    while(bAFini != true || bBFini != true){
        iC++
        if(bAFini == true || A[iA]> B[iB])
        {
            C[iC] = B[iB];
            iB++;
            if(iB > B.length-1){
                bBFini = true;
            }
        }
        else
        {
            C[iC] = A[iA];
            iA++
            if(iA > A.length-1){
                bAFini = true;
            }
            
        }
    }
    for(i=0; i< C.length-1; i++)
    {
        sText += ' | ' + C[i]
    }
    $('#resultat7_5_jq').html(sText + ' |');
}
                        </code></pre>
                    </div>
                </div>
                
                    <div class="one_Division" id="php">
                        <h1>PhP</h1>
                        <form class="only_result_form" method="POST" action="s7exercice4.php">
                            <p class="resultat_s7"> 
                                Tableau A : [0, 2, 5, 8, 9, 12, 23] </br>
                                Tableau B : [1, 4, 10, 15, 17]</br>
                                <?php echo $sText; ?>
                            </p>
                        </form>
                        <div class="show_exo7" id="php7_4" >
                                <pre class="s7"><code class="lang-php" >
    $sText = "";
    $A = [0, 2, 5, 8, 9, 12, 23];
    $B = [1, 4, 10, 15, 17];
    $C = [];
    $iA = 0;
    $iB = 0;
    $iC = -1;

    //Booleen qui vérifie si on a récupérer toutes les valeurs de chaque tableau
    $bAFini = false;
    $bBFini = false;
    //Evite le passage dans B si B est fini mais que les valeurs de A sont > à la dernière valeur de B
    $bCheat = true;

    while($iC <= count($B)-1 + count($A)-1){
        $iC++;
        //Si A ne contient plus de valeur on passe ici ou si B n'est pas fini et que B[indiceB] > A[indiceA]
        //Alors c'est B qui est injecté dans tableau C
        if($bAFini == true || ($bCheat && ($A[$iA] > $B[$iB])))
        {
            $C[$iC] = $B[$iB];
            $iB++;
            //Si l'indice est plus grand que la taille du tableau alors B a été complètement injecté dans C
            if($iB > count($B)-1){
                $bBFini = true;
                $bCheat = false;
            }
        }
        else if($bBFini == true || $A[$iA] < $B[$iB])
        {
            $C[$iC] = $A[$iA];
            $iA++;

            
            if($iA > count($A)-1){
                $bAFini = true;
            }
        }
    }
    for($i=0; $i < count($C); $i++)
    {
        $sText .= ' | ' . $C[$i];
    }
    $sText = $sText . ' |';
    
    require 's7exercice5.html';
                                </code></pre>
                            </div>
                    </div>
            </div>     
        </section>
    </div>
    
    <footer class="no_footer">
    <script src="../js/saison7.js"></script>
    <script src="../js/jquery-3.4.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/prism.js"></script>
    </footer>
                    
</body>