<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="../css/bootstrap.min.css" rel="stylesheet">
        <link href="../css/prism.css" rel="stylesheet">
        <link href="../css/main.css" rel="stylesheet">
        <title>s7exercice4</title>
    </head>
    
    <body>
        
            <?php include '../commun/nav.html' ?>
    
        <div class="container-fluid">
            <div class="row">
                <aside class="col-md-1">
                    <?php include 'aside_nav7.html' ?>
                </aside>
    
                <section class="col-md-11">
                    <div class="container">
                        <div class="row h-20 align-items-center justify-content-center text-center">
                            <div class="col-lg pt-60px align-self-center">
                                <h1 class="text-uppercase  exo_title">Exercice 4</h1>
                            </div>
                        </div>
                    </div>
    
                    <div class="contenuEnonce"  id="enonce" >
                        <pre class="enonce_exo"><code class="lang-html">
Ecrivez l'algorithme qui recherche un mot saisi au clavier dans un dictionnaire. Le dictionnaire est supposé être codé dans un tableau préalablement rempli et trié.
                        </code></pre>
                    </div>
    
                    <div class="choice">            
                        <button onclick="toggleLanguage('pc')" class="btn btn-success button_exo">Pseudo-Code</button>
                        <button onclick="toggleLanguage('js')" class="btn btn-warning button_exo">Javascript</button>
                        <button onclick="toggleLanguage('jq')" class="btn btn-info button_exo">Jquery</button>
                        <button onclick="toggleLanguage('php')" class="btn btn-secondary button_exo">PhP</button>
                    </div>
                    
                    <div class="one_Division" id="pc">
                        <h1>Pseudo-code</h1>
                        <div class="show_exo7" id="pc7_4">
                        <pre class="s7"><code class="lang-html">
Variables Dico(x), iDiv Numerique, sMot chaine de caractere
    Debut
        Ecrire : Quel mot cherchez vous ?
        Lire sMot
        Sup <- x - 1
        Inf = 0
        bTrouve <- Faux
        TantQue Non bTrouve 
            IndiceComp = (Sup + Inf)/2 
            Si sMot > Dico[IndiceComp] Alors
                    Inf <- IndiceComp + 1
            Sinon 
                    Sup <- IndiceComp - 1
            FinSi
            bTrouve <- Mot = Dico[IndiceComp] || Sup == Inf
        FinTantQue
        Si sMot == Dico[IndiceComp] Alors
            Ecrire : le mot existe
        Sinon 
            Ecrire : le mot n'existe pas
        Fin Si
    Fin
                        </code></pre>
                    </div>
                </div>
    
                    <div class="one_Division" id="js">
                        <h1>Javascript</h1>
                        <label for="Input7_5">Quel animal recherchez-vous ? (Sans majuscule)</label></br>
                        <input type="text" id="Input7_4">
                        <p class="resultat_s7" id="resultat7_4"> <!--affiche le tableau trié--> </p>
                        <button onclick="s7_exo4_js()">Afficher Résultat</button>
                        <div class="show_exo7" id="js7_4" >
                                <pre class="s7"><code class="lang-js" > 
    function s7_exo4_js(){
        var aDico = ['ane', 'belette', 'chèvre', 'dindon', 'elephant', 'faon', 'girafe', 'hibou', 'iguane', 'jaguar', 'koala', 'lama', 'léopard', 'macaque', 'nyctale de Tengmalm', 'ours', 'ocelot', 'panda', 'quokka', 'ragondin', 'serpent', 'truite', 'urubu à tête rouge', 'vautour', 'wallaby', 'xerus', 'yack', 'zébu']
        var sMot = document.getElementById('Input7_4').value;
        var Sup = aDico.length - 1; // Définit la borne supérieur 
        var Inf = 0; // Borne inférieure
        var sMessage = "";
        bTrouve = false;
        while(!bTrouve){
            var Indice = (Sup + Inf) / 2;
            if(sMot > aDico[Indice])
            {
                Inf = Indice + 1; //Inf prend la valeur de la moitié du tableau, Sup reste le max
            }
            else
            {
                Sup = Indice - 1;//Inf prend la valeur de la moitié du tableau, Inf reste le min
            }
            bTrouve = sMot == aDico[Indice] || Sup == Inf
        }
        if(sMot == aDico[Indice])
        {
            sMessage = "Le mot existe, il est en position : " + Indice;
        }
        else
        {
            sMessage = "Le mot n'existe pas !"
        }
        document.getElementById('resultat7_4').innerHTML = sMessage;
    }
                                </code></pre>
                            </div>
                    </div>
                
                    <div class="one_Division" id="jq">
                        <h1>Jquery</h1>
                        <h5>Quel animal recherchez-vous ? (Sans majuscule)</h5><br>
                        <label for="Input7_4_jq"></label></br>
                        <input type="text" id="Input7_4_jq">
                        <p class="resultat_s7" id="resultat7_4_jq"></p>
                        <button onclick="s7_exo4_jq()">Afficher Résultat</button>
                        <div class="show_exo7" id="jq7_4" >
                            <pre class="s7"><code class="lang-js" >
    var aDico = ['ane', 'belette', 'chèvre', 'dindon', 'elephant', 'faon', 'girafe', 'hibou', 'iguane', 'jaguar', 'koala', 'lama', 'léopard', 'macaque', 'nyctale de Tengmalm', 'ours', 'panda', 'quokka', 'ragondin', 'serpent', 'truite', 'urubu à tête rouge', 'vautour', 'wallaby', 'xerus', 'yack', 'zébu'];
    var sMot = $('#Input7_4_jq').val();
    var Sup = aDico.length - 1; // Définit la borne supérieur 
    var Inf = 0; // Borne inférieure
    var sMessage = "";
    
    console.log(sMot);
    bTrouve = false;
    
    while(bTrouve != true){
        console.log('Je rentre dans le while');
        var Middle = Math.trunc((Sup + Inf) / 2);
        if(sMot > aDico[Middle])
        {
            Inf = Middle + 1; //Inf prend la valeur de la moitié du tableau, Sup reste le max
            console.log('Petit' + Middle);
        }
        else
        {
            Sup = Middle - 1;//Inf prend la valeur de la moitié du tableau, Inf reste le min
            console.log('Grand' + Middle);
        }

        if((sMot == aDico[Middle]) || (Sup < Inf))
        {
            bTrouve = true;
            console.log(bTrouve);
        }
    }
    if(sMot == aDico[Middle])
    {
        sMessage = "Le mot existe, il est en position : " + Middle;
    }
    else
    {
        sMessage = "Le mot n'existe pas !";
    }
    $('#resultat7_4_jq').html(sMessage);
                        </code></pre>
                    </div>
                </div>
                
                    <div class="one_Division" id="php">
                        <h1>PhP</h1>
                        <form method="POST" action="s7exercice4.php">
                            <label for="Input7_4_php">Quel animal recherchez-vous ? (Sans majuscule)</label></br>
                            <input type="text" id="Input7_4_php" name="Input7_4_php" >
                            <p class="resultat_s7"> <?php echo $sMessage7_4; ?></p>
                            <button type="submit" id="form_exo_7_4">Executer</button>
                        </form>
                        <div class="show_exo7" id="php7_4" >
                                <pre class="s7"><code class="lang-php" >
    $sMessage7_4 = "";
    $aDico = ['ane', 'belette', 'chèvre', 'dindon', 'elephant', 'faon', 'girafe', 'hibou', 'iguane', 'jaguar', 'koala', 'lama', 'léopard', 'macaque', 'nyctale de Tengmalm', 'ours', 'panda', 'quokka', 'ragondin', 'serpent', 'truite', 'urubu à tête rouge', 'vautour', 'wallaby', 'xerus', 'yack', 'zébu'];
    $sMot = "";
    $Sup = count($aDico) - 1;
    $Inf = 0;
    $bTrouve = false;


    if(isset($_POST['Input7_4_php'])){
        $sMot = $_POST['Input7_4_php'];
        while($bTrouve != true)
        {
            $Middle = round(($Sup + $Inf)/2);
            if($sMot > $aDico[$Middle])
            {
                $Inf = $Middle + 1; //Inf prend la valeur de la moitié du tableau, Sup reste le max
            }
            else
            {
                $Sup = $Middle - 1;//Inf prend la valeur de la moitié du tableau, Inf reste le min
            }

            if(($sMot == $aDico[$Middle]) || ($Sup < $Inf))
            {
                $bTrouve = true;
            }
        }
        if($sMot == $aDico[$Middle])
        {
            $sMessage7_4 = "Le mot existe, il est en position : " . $Middle;
        }
        else
        {
            $sMessage7_4 = "Le mot n'existe pas !";
        }
        
        require 's7exercice4.html';
    }
    else
    {
        require 's7exercice4.html';
    }                
                                </code></pre>
                            </div>
                    </div>
            </div>     
        </section>
    </div>
    
    <footer class="no_footer">
    <script src="../js/saison7.js"></script>
    <script src="../js/jquery-3.4.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/prism.js"></script>
    </footer>
                    
    </body>