<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/prism.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">
    <title>s7exercice1</title>
</head>

<body>
        <?php include '../commun/nav.html' ?>

    <div class="container-fluid">
        <div class="row">
            <aside class="col-md-1">
                <?php include 'aside_nav7.html' ?>
            </aside>

            <section class="col-md-11">
                <div class="container">
                    <div class="row h-20 align-items-center justify-content-center text-center">
                        <div class="col-lg align-self-center">
                            <h1 class="text-uppercase exo_title">Exercice 1</h1>
                        </div>
                    </div>
                </div>
                <div class="contenuEnonce"  id="enonce" >
                    <pre class="enonce_exo"> <code class="lang-html">
Ecrivez un algorithme qui permette de saisir un nombre quelconque de valeurs, et qui les range au fur et à mesure dans un tableau. Le programme, une fois la saisie terminée, doit dire si les éléments du tableau sont tous consécutifs ou non.
                    </code></pre>
                </div>
                <div class="choice">            
                    <button onclick="toggleLanguage('pc')" class="btn btn-success button_exo">Pseudo-Code</button>
                    <button onclick="toggleLanguage('js')" class="btn btn-warning button_exo">Javascript</button>
                    <button onclick="toggleLanguage('jq')" class="btn btn-info button_exo">Jquery</button>
                    <button onclick="toggleLanguage('php')" class="btn btn-secondary button_exo">PhP</button>
                </div>
              
            
                <div class="one_Division" id="pc">
                    <h1>Pseudo-code</h1>                    
                    <div class="show_exo7" id="pc7_1">
                        <pre class="s7"><code class="lang-html" >
Variables aTab, iNbr, iCpt, iIndice 
Debut

iCpt <- 0
Tantque iCpt < 20
    Ecrire : Entrez un nombre
    Lire iNbr

    Si aTab est vide Alors
        aTab[iCpt] = iNbr
    SinonSi aTab <> vide Alors
        Pour i <- 0 à taille aTab
        iIndice <- -1
            Si aTab[iCpt] < aTab[i] && iIndice == -1
                iIndice = i;
                Pour y <-  0 à taille aTab
                    aTab[y] = aTab[y-1];
                i Suivant
                aTab[iIndice] <- iNbr
                Fin Pour
            Fin Si
            SinonSi aTab[iCpt] > aTab[taille tableau aTab] && iIndice == -1 Alors
                aTab[y] = iNbr
            Fin Si
        Fin Pour
    Fin Sinon

    Maintenant que le Tableau est trié, on regarde si ses élements sont consécutifs
    
    z <- 0
    bContinue <- (aTab[i+1] - aTab[i]) == 1
    TantQue bContinue == vrai && z < taille aTab Alors
        sMessage = "Les nombres sont consécutifs"
        z++
    FinTantQue

    Si bContinue == faux Alors
        sMessage = "Les nombres ne sont pas consécutifs"
    Fin Si
    Ecrire sMessage
Fin
                        </code></pre>
                    </div>
                </div>
                
                <div class="one_Division" id="js">
                    <h1>Javascript</h1>
                    <label for="nbInput7_1">Combien de nombres ?</label>
                    <input type="number" id='nbInput7_1' name='nbInput7_1'>
                    <input type="hidden" id='nbNombre7_1' name="nbNombre7_1" value="">
                    <div id="newInput7_1">
        
                    </div>
                    <p class="resultat_s7" id="resultat7_1"> <!--affiche le tableau trié--> </p>
                    <button onclick="s7_exo1_js()">Résultat</button>
                    <div class="show_exo7" id="js7_1" >
                        <pre class="s7"><code class="lang-js" >
function s7_exo1_js(){
    var sMessage7_1 = "";
    var saisie = document.getElementById('nbInput7_1').value;
    console.log(saisie);
    if(saisie != "")
    {
        //Crée un nb d'input égale à saisie
        for(i=0; i<saisie; i++)
        {
            document.getElementById('newInput7_1').innerHTML += '<input type="number" id="newInput7_1_' + i + '" placeholder="Nombre ' + i + '" >';
        }
        document.getElementById('nbInput7_1').style.display = "none";
        document.getElementById('nbNombre7_1').value = saisie;
        document.getElementById('nbInput7_1').value = "";
    }
    else
    {
    //Création et tri du tableau dans un premier temps 
        var aNumbers = [];
        var nbNotes = parseInt(document.getElementById('nbNombre7_1').value);
    //Chaque valeur récupérée est insérée entre valPlusPetite et ValeurPlusGrandes
        for(j = 0; j < nbNotes ; j++)
        {   
            console.log(aNumbers, 'début de for');
            var getNumber = parseInt(document.getElementById("newInput7_1_" + j).value);
            console.log(getNumber, 'Nombre recup')
            iPosTrouve = -1;
            //Si tableau est vide, ajout 1er élément
            if(aNumbers.length == 0){
                aNumbers[j] = getNumber;
                console.log('1er valeur ajoutée au tableau');
            }
            //Si tableau contient 1 ou plusieurs valeurs on compare
            else if(aNumbers.length >= 1){
                console.log('taille du tableau =' + aNumbers.length);


                for(k=0; k <= aNumbers.length-1; k++)
                {
                    
                    console.log(aNumbers[k], 'aNumbers[k]');  
                    console.log(getNumber, 'getNumber');
                    if(getNumber < aNumbers[k] && iPosTrouve == -1)
                    {
                        iPosTrouve = k;
                        console.log('Indice trouvé : ' +iPosTrouve)
                        iNumTrouve = getNumber;
                        console.log(iNumTrouve, 'iNumTrouve');
                        console.log(aNumbers.length);
                        for(l=(aNumbers.length); l>iPosTrouve; l--)
                        {
                            aNumbers[l] = aNumbers[l-1];
                        }
                        aNumbers[iPosTrouve] = iNumTrouve;
                    }
                    else if(getNumber > aNumbers[aNumbers.length -1] && iPosTrouve == -1)
                    {
                        
                        aNumbers[j] = getNumber;
                    }
                }
                
            }
            
        } 
    //Maintenant on verifie si les valeurs sont consécutives
        for(m=0; m < aNumbers.length-1; m++ )
        {
            bDiff = (aNumbers[m + 1] - aNumbers[m]) == 1;
            if(bDiff == true){
                sMessage7_1 += "1.";
            }
            else if(bDiff == false){
                sMessage7_1 += "0.";
            }
        }
        console.log(aNumbers,'fin de for');
        console.log(sMessage7_1)
        const trieNon = "0";
        if(sMessage7_1.includes(trieNon)){
            document.getElementById('resultat7_1').innerHTML = "Les nombres ne sont pas consécutifs !";
        }
        else
        {
            document.getElementById('resultat7_1').innerHTML = "Les nombres sont consécutifs !";
        }
    }
}  
                        </code></pre>
                    </div>
                </div>
            
            
                <div class="one_Division" id="jq">
                    <h1>Jquery</h1>
                    <label for="nbInput7_1_jq">Combien de nombres ?</label>
                    <input type="number" id='nbInput7_1_jq' name='nbInput7_1_jq'>
                    <input type="hidden" id='nbNombre7_1_jq' name="nbNombre7_1_jq" value="">
                    <div id="newInput7_1_jq">
        
                    </div>
                    <p class="resultat_s7" id="resultat7_1_jq"></p>
                    <button onclick="s7_exo1_jq()">Résultat</button>
        
                    <div class="show_exo7" id="jq7_1">
                        <pre class="s7"><code class="lang-js" >
function s7_exo1_jq(){

    var sMessage7_1 = "";
    var saisie = $('#nbInput7_1_jq').val();

    if(saisie != ""){
        for(i=0; i<saisie; i++)
        {
            $('#newInput7_1_jq').append('<input type="number" id="newInput7_1_jq' + i + '" placeholder="Nombre ' + i + '" >');
        }
        $('#nbInput7_1_jq').hide();
        $('#nbNombre7_1_jq').val(saisie);
        $('#nbInput7_1_jq').val("");
    }
    else
    {
        var aNumbers = [];
        var nbNotes = parseInt($('#nbNombre7_1_jq').val());

        for(j = 0; j < nbNotes ; j++)
        {
            var getNumber = parseInt($("#newInput7_1_jq" + j).val());
            iPosTrouve = -1;

            if(aNumbers.length == 0){
                aNumbers[j] = getNumber;
            }

            else if(aNumbers.length >= 1)
            {
                for(k=0; k <= aNumbers.length-1; k++)
                {

                    if(getNumber < aNumbers[k] && iPosTrouve == -1)
                    {
                        iPosTrouve = k;
                        iNumTrouve = getNumber;

                        for(l=(aNumbers.length); l>iPosTrouve; l--)
                        {
                            aNumbers[l] = aNumbers[l-1];
                        }
                        aNumbers[iPosTrouve] = iNumTrouve;
                    }
                    else if(getNumber > aNumbers[aNumbers.length -1] && iPosTrouve == -1)
                    {
                        
                        aNumbers[j] = getNumber;
                    }
                }
            }      
        } 
        for(m=0; m < aNumbers.length-1; m++ )
        {
            bDiff = (aNumbers[m + 1] - aNumbers[m]) == 1
            if(bDiff == true){
                sMessage7_1 += "1.";
            }
            else if(bDiff == false){
                sMessage7_1 += "0."
            }
        }
        const trieNon = "0";
        if(sMessage7_1.includes(trieNon)){
            $('#resultat7_1_jq').html("Les nombres ne sont pas consécutifs !");
        }
        else
        {
            $('#resultat7_1_jq').html("Les nombres sont consécutifs !");
        }
    }
}
                        </code></pre>
                    </div>
                </div>
                        
                <div class="one_Division" id="php">
                    <h1>PhP</h1>
                    <form method="POST" action="s7exercice1.php">
                        <label for="nbInput7_1_php">Combien de nombres ?</label>
                        <input type="number" id='nbInput7_1_php' name='nbInput7_1_php' placeholder="Combien de nombres ">
                        <input type="hidden" id='nbNumber7_1_php' name='nbNumber7_1_php' value="<?php echo $nbNoteInt7_1; ?>">
                        <div class="col-md-12" id="newInput7_1_php">
                            <?php echo $addInput7_1; ?>
                        </div>
                        <p class="resultat_s7"> <?php echo $sHTML7_1; ?></p>
                        <button type="submit" id="form_exo_7_1">Executer</button>
                    </form>
                    <div class="show_exo7" id="php7_2">
                            <pre class="s7"><code class="lang-php" >
$sMessage7_1 = "";
$sHTML7_1 = "";
$addInput7_1 = "";
$nbNoteInt7_1 = 0;
$saisie = 0;
$nbInput7_1_php = 0;

if( !isset($_POST['newInput7_1_php0']) && isset($_POST['nbInput7_1_php'] ))
{
    
$saisie = $_POST['nbInput7_1_php'];
    //Crée un nb d'input égale à saisie
    for($i=0; $i<$saisie; $i++)
    {
        $addInput7_1 .= '<input type="number" id="newInput7_1_php'. $i .'" name="newInput7_1_php'. $i .'" placeholder="Nombre ' . $i . '" >';
        $nbNoteInt7_1++;
    }
    require 's7exercice1.html';
}

else
{
    $aNumbers = [];
    $nbNote8 = $_POST['nbNumber7_1_php'];
//chaque valeur récupérée est insérée entre valPlusPetite et ValeurPlusGrandes
    for($j = 0; $j < $nbNote8 ; $j++)
    {   
        $getNumber = $_POST["newInput7_1_php" . $j];
        $iPosTrouve = -1;
        //Si tableau est vide, ajout 1er élément
        if(count($aNumbers) == 0){
            $aNumbers[$j] = $getNumber;
        }
        //Si tableau contient 1 ou plusieurs valeurs
        else if(count($aNumbers)>= 1){

            for($k=0; $k <= count($aNumbers) - 1; $k++){
                
                if($getNumber < $aNumbers[$k] && $iPosTrouve == -1)
                {
                    $iPosTrouve = $k;
                    $iNumTrouve = $getNumber;

                    for($l=(count($aNumbers)); $l > $iPosTrouve; $l--)
                    {
                        $aNumbers[$l] = $aNumbers[$l-1];
                    }
                    $aNumbers[$iPosTrouve] = $iNumTrouve;
                }
                else if($getNumber > $aNumbers[count($aNumbers) - 1] && $iPosTrouve == -1)
                {
                    $aNumbers[$j] = $getNumber;
                }
            }
            
        }
    }
    for($m=0; $m < count($aNumbers)-1; $m++ )
    {
        $bDiff = ($aNumbers[$m + 1] - $aNumbers[$m]) == 1;
        if($bDiff === true){
            $sMessage7_1 .= "1.";
        }
        else if($bDiff === false){
            $sMessage7_1 .= "0.";
        }

    }

    

    $pos = strpos($sMessage7_1, "0.");
;
    if($pos === false)
    {
        $sHTML7_1 = "Les nombres sont consécutifs !";
    }
    else
    {
        $sHTML7_1 = "Les nombres ne sont pas consécutifs !";
    }

require 's7exercice1.html';
}
                            </code></pre>
                    </div>
                </div>
        </div>
            
            </section>
    </div>
</div>
<footer class="no_footer">
        <script src="../js/saison1.js"></script>
        <script src="../js/saison2.js"></script>
        <script src="../js/saison3.js"></script>
    <script src="../js/saison7.js"></script>
    <script src="../js/jquery-3.4.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/prism.js"></script>
</footer>
                    
</body>