<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/prism.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">
    <title>s7exercice2</title>
</head>

<body>
    
        <?php include '../commun/nav.html' ?>

    <div class="container-fluid">
        <div class="row">
            <aside class="col-md-1">
                <?php include 'aside_nav7.html' ?>
            </aside>

            <section class="col-md-11">
                <div class="container">
                    <div class="row h-20 align-items-center justify-content-center text-center">
                        <div class="col-lg align-self-center">
                            <h1 class="text-uppercase  exo_title">Exercice 2</h1>
                        </div>
                    </div>
                </div>
                <div class="contenuEnonce"  id="enonce" >
                    <pre class="enonce_exo"> <code class="lang-html">
Ecrivez un algorithme qui trie un tableau dans l’ordre décroissant.
Vous écrirez bien entendu deux versions de cet algorithme, l'une employant le tri par insertion, l'autre le tri à bulles.                 
                    </code></pre>
                </div>
                <div class="choice">            
                    <button onclick="toggleLanguage('pc')" class="btn btn-success button_exo">Pseudo-Code</button>
                    <button onclick="toggleLanguage('js')" class="btn btn-warning button_exo">Javascript</button>
                    <button onclick="toggleLanguage('jq')" class="btn btn-info button_exo">Jquery</button>
                    <button onclick="toggleLanguage('php')" class="btn btn-secondary button_exo">PhP</button>
                </div>           


                    <div class="one_Division" id="pc">
                        <h1>Pseudo-code</h1>
                        <div class="show_exo7" id="pc7_2">
                            <pre><code class="lang-html">
Variables aTab(10), iNbr, vTemp, i
Debut
    Si aTab est vide Alors
        aTab[iCpt] = iNbr
    FinSi
    Sinon si aTab <> vide Alors
        Pour i <- 0 à taille aTab 
            Si aTab[i] < aTab[i+1] Alorss
                vTemp = aTab[i]
                aTab[i] = aTab[i+1]
                aTab[i +1] = vTemp
            Fin Si
        i Suivant
        Fin Pour
    Fin Si
Fin
                            </code></pre>
                            <hr class="divider my-4">
                            <pre><code class="lang-html" >
Variables aTab(10), iNbr, i, y
Debut
    Si aTab est vide Alors
        aTab[iCpt] = iNbr
    SinonSi aTab <> vide Alors
        Pour i <- 0 à taille aTab
            iIndice <- -1
            Si aTab[iCpt] < aTab[i] && iIndice == -1
                iIndice = i;
                Pour y <-  0 à taille aTab
                    aTab[y] = aTab[y-1];
                y Suivant
                aTab[iIndice] <- iNbr
                Fin Pour
            Fin Si
            SinonSi aTab[iCpt] > aTab[taille tableau aTab] && iIndice == -1 Alors
                aTab[y] = iNbr
            Fin Si
        Fin Pour
    Fin Sinon

Fin
                            </code></pre>
                    </div>
                 </div>
                    
                    <div class="one_Division" id="js">
                        <h1>Javascript</h1>
                        <h5>Tri a bulle : </h5>
                        <input type="number" id='nbInput7_2' name='nbInput7_2' placeholder="Combien de nombres ?">
                        <input type="hidden" id='nbNombre7_2' name="nbNombre7_2" value="">
                        <div class="col-md-12" id="newInput7_2">

                        </div>
                        <p class="resultat_s7" id="resultat7_2"> <!--affiche le tableau trié--> </p>
                        <button onclick="s7_exo2_js()">Résultat</button>
                        <div class="show_exo7" id="js7_2" >
                            <pre><code class="lang-js" >
function s7_exo2_js(){
    //Recup saisie utilisateur = nb input
    //Recup saisie utilisateur = nb input
    var sMessage7_1 = "";
    var saisie = document.getElementById('nbInput7_2').value;
    console.log(saisie);
    if(saisie != "")
    {
        //Crée un nb d'input égale à saisie
        for(i=0; i<saisie; i++)
        {
            document.getElementById('newInput7_2').innerHTML += '<input type="number" id="newInput7_2_' + i + '" placeholder="Nombre ' + i + '" >';
        }
        document.getElementById('nbInput7_2').style.display = "none";
        document.getElementById('nbNombre7_2').value = saisie;
        document.getElementById('nbInput7_2').value = "";
    }
    else
    {
        var aNumbers = [];
        var nbNotes = parseInt(document.getElementById('nbNombre7_2').value);
    //chaque valeur récupérée est insérée entre valPlusPetite et ValeurPlusGrandes
        for(j = 0; j < nbNotes ; j++)
        {   
            var getNumber = parseInt(document.getElementById("newInput7_2_" + j).value);
            aNumbers[j] = getNumber;
            if(aNumbers.length >= 1){
                for(k = 0; k < aNumbers.length - 1; k++)
                {
                    if(aNumbers[k] < aNumbers[k+1]){
                            var vTemp = aNumbers[k];
                            aNumbers[k] = aNumbers[k+1];
                            aNumbers[k + 1] = vTemp;
                    }
                }
            }
        }


    } 
        document.getElementById('resultat7_2').innerHTML = aNumbers;
}
                            </code></pre>
                        </div>
                    </div>

                    <div class="one_Division" id="jq">
                        <h1>Jquery</h1>
                        <h5>Tri par insertion :</h5>
                        <input type="number" id='nbInput7_2_jq' name='nbInput7_2_jq' placeholder="Combien de nombres ?">
                        <input type="hidden" id='nbNombre7_2_jq' name="nbNombre7_2_jq" value="">
                        <div class="col-md-12" id="newInput7_2_jq">
                
                        </div>
                        <p class="resultat_s7" id="resultat7_2_jq"></p>
                        <button onclick="s7_exo2_jq()">Résultat</button>
            
                        <div class="show_exo7" id="jq7_2">
                            <pre><code class="lang-js" >
function s7_exo2_jq(){

    sHTMl = "";

    var saisie =$('#nbInput7_2_jq').val();
    if(saisie != ""){

        //Crée un nb d'input égale à saisie
        for(i=0; i<saisie; i++)
        {
            $('#newInput7_2_jq').append('<input type="number" id="newInput7_2_jq' + i + '" placeholder="Nombre ' + i + '" >');
        }
        $('#nbInput7_2_jq').hide();
        $('#nbNombre7_2_jq').val(saisie);
        $('#nbInput7_2_jq').val("");
    }
    else
    {
        var aNumbers = [];
        var nbNotes = parseInt($('#nbNombre7_2_jq').val());
    //chaque valeur récupérée est insérée entre valPlusPetite et ValeurPlusGrandes
        for(j = 0; j < nbNotes ; j++)
        {   
            var getNumber = parseInt($("#newInput7_2_jq" + j).val());
            iPosTrouve = -1;
            //Si tableau est vide, ajout 1er élément
            if(aNumbers.length == 0){
                aNumbers[j] = getNumber;
            }
            //Si tableau contient 1 ou plusieurs valeurs
            else if(aNumbers.length >= 1){

                for(k=0; k <= aNumbers.length-1; k++){
                    
                    if(getNumber < aNumbers[aNumbers.length -1] && iPosTrouve == -1)
                    {  
                        aNumbers[j] = getNumber;
                    }
                    else if(getNumber > aNumbers[k] && iPosTrouve == -1)
                    {
                        iPosTrouve = k;
                        iNumTrouve = getNumber;
                        
                        for(l=(aNumbers.length); l>iPosTrouve; l--)
                        {
                            aNumbers[l] = aNumbers[l - 1];
                        }
                        aNumbers[iPosTrouve] = iNumTrouve;                      
                    }
                }
            }
        } 

        for(i=0; i < aNumbers.length; i++){
            sHTMl += " | " + aNumbers[i] ;
        }
    
    $('#resultat7_2_jq').html(sHTMl + " |");
    }
}   
                            </code></pre>
                        </div>
                    </div>
                
                        
                <div class="one_Division" id="php">
                    <h1>PhP</h1>
                    <form method="POST" action="s7exercice2.php">
                        <input type="number" id='nbInput7_2_php' name='nbInput7_2_php' placeholder="Combien de nombres ">
                        <input type="hidden" id='nbNumber7_2_php' name='nbNumber7_2_php' value="<?php echo $nbNoteInt7_2; ?>">
                        <div class="col-md-12" id="newInput7_2_php">
                            <?php echo $addInput7_2; ?>
                        </div>
                        <p class="resultat_s7"> <?php echo $sHTML7_2; ?></p>
                        <button type="submit" id="form_exo_7_2">Executer</button>
                    </form>
                    <div class="show_exo7" id="php7_1">
                            <pre class="s7"><code class="lang-php" >
            $sMessage7_2 = "";
            $sHTML7_2 = "";
            $addInput7_2 = "";
            $nbNoteInt7_2 = 0;
            $saisie = 0;

            if( !isset($_POST['newInput7_2_php0']) )
            {
                
            $saisie = $_POST['nbInput7_2_php'];
                //Crée un nb d'input égale à saisie
                for($i=0; $i<$saisie; $i++)
                {
                    $addInput7_2 .= '<input type="number" id="newInput7_2_php'. $i .'" name="newInput7_2_php'. $i .'" placeholder="Nombre ' . $i . '" >';
                    $nbNoteInt7_2++;
                }
                require 's7exercice2.html';
            }

            else
            {
                $aNumbers = [];
                $nbNote7_2 = $_POST['nbNumber7_2_php'];
            //chaque valeur récupérée est insérée entre valPlusPetite et ValeurPlusGrandes
                for($j = 0; $j < $nbNote7_2 ; $j++)
                {   
                    $getNumber = $_POST["newInput7_2_php" . $j];
                    $iPosTrouve = -1;
                    //Si tableau est vide, ajout 1er élément
                    if(count($aNumbers) == 0){
                        $aNumbers[$j] = $getNumber;
                    }
                    //Si tableau contient 1 ou plusieurs valeurs
                    else if(count($aNumbers)>= 1){

                        for($k=0; $k <= count($aNumbers) - 1; $k++){
                            
                            if($getNumber < $aNumbers[count($aNumbers) - 1] && $iPosTrouve == -1)
                            {
                                $aNumbers[$j] = $getNumber;
                                
                            }
                            else if($getNumber > $aNumbers[$k] && $iPosTrouve == -1)
                            {
                                $iPosTrouve = $k;
                                $iNumTrouve = $getNumber;

                                for($l=(count($aNumbers)); $l > $iPosTrouve; $l--)
                                {
                                    $aNumbers[$l] = $aNumbers[$l-1];
                                }
                                $aNumbers[$iPosTrouve] = $iNumTrouve;
                            }
                        }
                    }
                    

                }
                
            for($i=0; $i < count($aNumbers); $i++)
            {
                $sHTML7_2 .= " | " . $aNumbers[$i] ; 
            }    
            $sMessage7_2 =  $sHTML7_2 . " |";

            require 's7exercice2.html';
            }
                            </code></pre>
                    </div>
                </div>
            </div>
            
            </section>
    </div>
</div>
<footer class="no_footer">
    <script src="../js/saison7.js"></script>
    <script src="../js/jquery-3.4.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/prism.js"></script>
</footer>
                    
</body>
        
