<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="../css/bootstrap.min.css" rel="stylesheet">
        <link href="../css/prism.css" rel="stylesheet">
        <link href="../css/main.css" rel="stylesheet">
        <title>Algo_Saison7</title>
     </head>
<body class='saison_nav'>

        <?php include '../commun/nav.html' ?>
                    <!--Fin de Nav-->
    <div class="container-fluid">
        <div class="row">
            <aside>
                <?php include 'aside_nav7.html' ?>
            </aside>
            <section class="col offset-1" id="sect_saison7">
            </section>
        </div>
    </div>


    <footer class="no_footer">
        <script src="../js/saison7.js"></script>
        <script src="../js/jquery-3.4.1.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>
        <script src="../js/prism.js"></script>
    </footer>
</body>