<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/prism.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">
    <title>s8exercice2</title>
</head>

<body>
    
    <?php include '../commun/nav.html' ?>

    <div class="container-fluid">
        <div class="row">
            <aside class="col-md-1">
                <?php include 'aside_nav8.html' ?>
            </aside>

            <section class="col-md-11">
                <div class="container">
                    <div class="row h-20 align-items-center justify-content-center text-center">
                        <div class="col-lg align-self-center">
                            <h1 class="text-uppercase exo_title">Exercice 2</h1>
                        </div>
                    </div>
                </div>
                <div class="contenuEnonce"  id="enonce" >
                    <pre class="enonce_exo"> <code class="lang-html">
Soit un tableau T à deux dimensions (12, 8) préalablement rempli de valeurs numériques. Écrire un algorithme qui recherche la plus grande valeur au sein de ce tableau.                
                    </code></pre>
                </div>
                <div class="choice">            
                    <button onclick="toggleLanguage('pc')" class="btn btn-success button_exo">Pseudo-Code</button>
                    <button onclick="toggleLanguage('js'), s8_exo2_js()" class="btn btn-warning button_exo">Javascript</button>
                    <button onclick="toggleLanguage('jq'), s8_exo2_jq()" class="btn btn-info button_exo">Jquery</button>
                    <button onclick="toggleLanguage('php')" class="btn btn-secondary button_exo">PhP</button>
                </div>           


                    <div class="one_Division" id="pc">
                        <h1>Pseudo-code</h1>
                        <div class="show_exo7" id="pc7_2">
                            <pre><code class="lang-html">
Variable Tableau(12,8), iMax
Debut
    Pour i <- 0 à 11
        Tableau[i] = []
        
        Pour j <- 0 à 12
            Tableau [i][j] = random(0,100)
            Si i == 0 Alors
                iMax= Tableau[i]
            SinonSi Tableau[i] > Tableau[i-1] Alors
                iMax = Tableau[i]
            Sinon
                iMax = Tableau[i-1]
                Fin Si
        j Suivant

    i Suivant
    Si iMax1 > iMax2 Alors
        Ecrire iMax1
    Sinon
        Ecrire iMax2
    Fin Si
Fin1

                            </code></pre>
                        </div>
                    </div>
                    <div class="one_Division" id="js">
                        <h1>Javascript</h1>
                        <p class="resultat_s8" id="resultat8_2"> <!--affiche le tableau trié--> </p>
                        <div class="show_exo8" id="js8_2" >
                            <pre><code class="lang-js" >
function s8_exo2_js(){

    var aTab = [];
    var i, j;
    var iMax = 0;
    sTableau = "";
    for(i=0 ; i < 12 ; i++)
    {
        console.log('for 1');
        aTab[i] = []
        for(j=0; j < 8 ; j++)
        {
            console.log('for 2');

            aTab[i][j] = Math.floor((Math.random() * 100) + 1);
            //A la première itération et / ou si valeur récup > iMax on injecte la valeur à iMax
            if( (j == 0 && aTab[i][j] > iMax) || aTab[i][j] >  iMax)
            {
                iMax = aTab[i][j];
            }
            sTableau += aTab[i][j] + ' ';
        }
        sTableau += '</br>';
    }
    document.getElementById('resultat8_2').innerHTML = sTableau + '</br> </br> La plus grande valeur est : ' + iMax;
}
                            </code></pre>
                        </div>
                    </div>

                    <div class="one_Division" id="jq">
                        <h1>Jquery</h1>
                        <p class="resultat_s8" id="resultat8_2_jq"></p>          
                        <div class="show_exo8" id="jq8_2">
                            <pre><code class="lang-js" >
function s8_exo2_jq(){
    console.log('Hey');
    var aTab = [];
    var i, j;
    var iMax = 0;
    sTableau = "";
    for(i=0 ; i < 12 ; i++)
    {
        console.log('for 1');
        aTab[i] = []
        for(j=0; j < 8 ; j++)
        {
            console.log('for 2');

            aTab[i][j] = Math.floor((Math.random() * 100) + 1);
            //A la première itération ou si valeur récup > iMax
            if( (j == 0 && aTab[i][j] > iMax) || aTab[i][j] >  iMax)
            {
                iMax = aTab[i][j];
            }
            sTableau += aTab[i][j] + ' ';
        }
        sTableau += '</br>';
    }
    $('#resultat8_2_jq').html(sTableau + '</br> </br> La plus grande valeur est : ' + iMax);

}   
                            </code></pre>
                        </div>
                    </div>
                
                        
                <div class="one_Division" id="php">
                    <h1>PhP</h1>
                    <form method="POST" action="s7exercice2.php">
                        <p class="resultat_s8"> <?php echo $sMessage8_2; ?></p>
                    </form>
                    <div class="show_exo7" id="php7_1">
                            <pre class="s8"><code class="lang-php" >
$aTab = [];

$iMax = 0;
$sTableau = "";
$sMessage8_2 = "";

for($i = 0 ; $i < 12 ; $i++)
{   
    $aTab[$i] = [];

    for($j = 0; $j < 8 ; $j++)
    {
        $aTab[$i][$j] = random_int(1,100);
        $sTableau .= $aTab[$i][$j] . ' ';
        //A la première itération et / ou si valeur récup > iMax on injecte la valeur à iMax
        if( ($j == 0 && $aTab[$i][$j] > $iMax) || $aTab[$i][$j] >  $iMax)
        {
            $iMax = $aTab[$i][$j];
        }
    }

    $sTableau .= '</br>';
}
$sMessage8_2 = $sTableau . '</br> La plus grande valeur est : ' . $iMax;

require 's8exercice2.html';
                            </code></pre>
                    </div>
                </div>
            </div>
            
            </section>
    </div>
</div>
<footer class="no_footer">
    <script src="../js/saison7.js"></script>
    <script src="../js/saison8.js"></script>
    <script src="../js/jquery-3.4.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/prism.js"></script>
</footer>
                    
</body>
        
