<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/prism.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">
    <title>s8exercice1</title>
</head>

<body>
  
    <?php include '../commun/nav.html' ?>

    <div class="container-fluid">
        <div class="row">
            <aside class="col-md-1">
                <?php include 'aside_nav8.html' ?>
            </aside>

            <section class="col-md-11">
                <div class="container">
                    <div class="row h-20 align-items-center justify-content-center text-center">
                        <div class="col-lg align-self-center">
                            <h1 class="text-uppercase exo_title">Exercice 1</h1>
                        </div>
                    </div>
                </div>
                <div class="contenuEnonce"  id="enonce" >
                    <pre class="enonce_exo"> <code class="lang-html">
Écrivez un algorithme remplissant un tableau de 6 sur 13, avec des zéros.
                    </code></pre>
                </div>
                <div class="choice">            
                    <button onclick="toggleLanguage('pc')" class="btn btn-success button_exo">Pseudo-Code</button>
                    <button onclick="toggleLanguage('js'), s8_exo1_js()" class="btn btn-warning button_exo">Javascript</button>
                    <button onclick="toggleLanguage('jq'), s8_exo1_jq()" class="btn btn-info button_exo">Jquery</button>
                    <button onclick="toggleLanguage('php')" class="btn btn-secondary button_exo">PhP</button>
                </div>
              
            
                <div class="one_Division" id="pc">
                    <h1>Pseudo-code</h1>
                    <div class="show_exo8" id="pc8_1">
                        <pre class="s8"><code class="lang-html" >
Variables Tableau(6,13)
    Debut
        Pour i <- 0 à 5
            Tableau[i] <- 0
            Pour j <- 0 à 12
                Tableau[i][j] <- 0
            iSuivant
        i Suivant
    Fin
                        </code></pre>
                    </div>
                </div>
                
                <div class="one_Division" id="js">
                    <h1>Javascript</h1>
                    <p class="resultat_s8" id="resultat8_1"> <!--affiche le tableau trié--> </p>
                    <div class="show_exo8" id="js8_1" >
                        <pre class="s8"><code class="lang-js" >
function s8_exo1_js(){
    var aTab = new Array();
    var i, j;
    var sHTML = "";
    for(i=0 ; i < 6 ; i++){
        aTab[i] = new Array();
        for(j=0 ; j < 12 ; j++){
            aTab[i][j] = 0;
            sHTML += aTab[i][j] + ' ';
        }
        sHTML += "</br>";
    }
    document.getElementById('resultat8_1').innerHTML = sHTML;
}   
                        </code></pre>
                    </div>
                </div>
            
            
                <div class="one_Division" id="jq">
                    <h1>Jquery</h1>
                    <p class="resultat_s8" id="resultat8_1_jq"></p>
                    <div class="show_exo8" id="jq8_1">
                        <pre class="s8"><code class="lang-js" >
function s8_exo1_jq(){
    var aTab = [];
    var i, j;
    var sHTML = "";
    for(i=0 ; i < 6 ; i++){
        aTab[i] = [];
        for(j=0 ; j < 12 ; j++){
            aTab[i][j] = 0;
            sHTML += aTab[i][j] + ' ' ;
        }
        sHTML += "</br>";
    }
    $('#resultat8_1').html(sHTML);
}                                
                            
                        </code></pre>
                    </div>
                </div>
                        
                <div class="one_Division" id="php">
                    <h1>PhP</h1>
                    <form method="POST" action="s8exercice1.php">
                        <p class="resultat_s8"> <?php echo $sHTML; ?> </p>
                    </form>
                    <div class="show_exo8" id="php8_2">
                            <pre class="s8"><code class="lang-php" >
$aTab = [];
$sHTML = "";
for($i=0 ; $i < 6 ; $i++){
    $aTab[$i] = [];
    for($j=0 ; $j < 12 ; $j++){
        $aTab[$i][$j] = 0;
        $sHTML .= $aTab[$i][$j] . ' ';
    }
    $sHTML .= "</br>";
}
    require 's8exercice1.html';
                            </code></pre>
                    </div>
                </div>
        </div>
            
            </section>
    </div>
</div>
<footer class="no_footer">
    <script src="../js/saison7.js"></script>
    <script src="../js/saison8.js"></script>
    <script src="../js/jquery-3.4.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/prism.js"></script>
</footer>
                    
</body>