<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/prism.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">
    <title>s8exercice3</title>
</head>

<body>
    
    <?php include '../commun/nav.html' ?>
    <div class="container-fluid">
        <div class="row">
            <aside class="col-md-1">
                <?php include 'aside_nav8.html' ?>
            </aside>

            <section class="col-md-11">
                <div class="container">
                    <div class="row h-20 align-items-center justify-content-center text-center">
                        <div class="col-lg pt-60px align-self-center">
                            <h1 class="text-uppercase exo_title">Exercice 3</h1>
                        </div>
                    </div>
                </div>

                <div class="contenuEnonce"  id="enonce" >
                    <pre class="enonce_exo"><code class="lang-html">
Écrire un algorithme de jeu de dames très simplifié.
L’ordinateur demande à l’utilisateur dans quelle case se trouve son pion (quelle ligne, quelle colonne). On met en place un contrôle de saisie afin de vérifier la validité des valeurs entrées.
Ensuite, on demande à l’utilisateur quel mouvement il veut effectuer : 0 (en haut à gauche), 1 (en haut à droite), 2 (en bas à gauche), 3 (en bas à droite).
Si le mouvement est impossible (i.e. on sort du damier ), on le signale à l’utilisateur et on s’arrête là . Sinon, on déplace le pion et on affiche le damier résultant, en affichant un « O » pour une case vide et un « X » pour la case où se trouve le pion.
                    </code></pre>
                </div>

                <div class="choice">            
                    <button onclick="toggleLanguage('pc')" class="btn btn-success button_exo">Pseudo-Code</button>
                    <button onclick="toggleLanguage('js'), s8_exo3_js()" class="btn btn-warning button_exo">Javascript</button>
                    <button onclick="toggleLanguage('jq'), s8_exo3_jq()" class="btn btn-info button_exo">Jquery</button>
                    <button onclick="toggleLanguage('php')" class="btn btn-secondary button_exo">PhP</button>
                </div>
                
                <div class="one_Division" id="pc">
                    <h1>Pseudo-code</h1>
                    <div class="show_exo7" id="pc7_1">
                    <pre class="s7"><code class="lang-html">
  
                    </code></pre>
                </div>
            </div>

                <div class="one_Division" id="js">
                    <h1>Javascript</h1>
                    <p>Les lignes et colonnes commencent par zero ! Le max étant 7 pour les deux</p>
                    <label for="ligne">"Quelle Ligne ?"</label></br>
                    <input type="number" id="ligne">
                    <label for="colonne">"Quelle Colonne ?"</label></br>
                    <input type="number" id="colonne">
                    <p class="resultat_s8" id="resultat8_3"> <!--affiche le tableau trié--> </p>
                    <button onclick="s8_exo3_pos_js()">Position</button>
                    <label for="move_jq">"Deplacement ? "</label></br>
                    <input type="number" id="move">
                    <button id="btn_move" onclick="s8_exo3_move_js()">Deplacement</button>
                    <button id="btn_retry" onclick="s8_exo3_js()">Recommencer</button>
                    <div class="show_exo8" id="js8_3" >
                            <pre class="s8"><code class="lang-js" > 
  
                            </code></pre>
                        </div>
                </div>
            
                <div class="one_Division" id="jq">
                    <h1>Jquery</h1>
                    <p>Les lignes et colonnes commencent par zero ! Le max étant 7 pour les deux</p>
                    <p class="resultat_s8" id="resultat8_3_jq"></p>
                    <label for="ligne_jq">"Quelle Ligne ?"</label></br>
                    <input type="number" id="ligne_jq">
                    <label for="colonne_jq">"Quelle Colonne ?"</label></br>
                    <input type="number" id="colonne_jq">
                    <button onclick="s8_exo3_pos_jq()">Position</button>
                    <label for="move_jq">"Deplacement ? "</label></br>
                    <input type="number" id="move_jq">
                    <button id="btn_move" onclick="s8_exo3_move_jq()">Deplacement</button>
                    <button id="btn_retry" onclick="s8_exo3_jq()">Recommencer</button>
                    <p id="resultatOUT_jq"></p>
                    <div class="show_exo7" id="jq7_3" >
                        <div class="row">
                            <pre class="s7"><code class="lang-js" >

function s8_exo3_jq(){
    $('#btn_retry').hide();
    $('#btn_move').show();
    $('#resultatOUT_jq').hide();
    //Initialisation du Damier 8 par 8
        var i, j;
        var sHTML = "";
        for(i=0 ; i < 8 ; i++){
            aDamier[i] = [];
            for(j=0 ; j < 8 ; j++){
                aDamier[i][j] = '0';
                sHTML += aDamier[i][j] + ' ';
            }
            sHTML += "</br>";
        }
        $('#resultat8_3_jq').html(sHTML);
}
                            </code></pre>
                        </div>
                        <div class="row">
                                <pre class="s7"><code class="lang-js" >
function s8_exo3_pos_jq(){
    //Ou se trouve le pion ?
    var ligne = +$('#ligne_jq').val();
    var colonne = +$('#colonne_jq').val();
    ligneRecup = ligne;
    colonneRecup = colonne;
    //Affectation de la position dans le tableau
    var i, j;
    var sHTML = "";
    for(i=0 ; i < 8 ; i++){
        aDamier[i] = [];
        for(j=0 ; j < 8 ; j++){
            aDamier[i][j] = '0';
            if(i == ligne && j == colonne )
            {
                aDamier[ligne][colonne] = 'X';
            }
            sHTML += aDamier[i][j] + ' ';
        }
        sHTML += "</br>";
    }
    //Affichage Tableau
    $('#resultat8_3_jq').html(sHTML);

}
                                </code></pre>
                            </div>
                            <div class="row">
                                    <pre class="s7"><code class="lang-js" >
function s8_exo3_move_jq(){
    sHTML = "";
    sSortie = "OUT !"
    var move = $('#move_jq').val();
    if(move == 0 && move >= 0 && move <= 7){
        if(ligneRecup >= 0 && colonneRecup >= 0 && ligneRecup <= 7 && colonneRecup <= 7){
            aDamier[ligneRecup][colonneRecup] = '0';
            aDamier[ligneRecup - 1][colonneRecup - 1] = 'X';
            ligneRecup--;
            colonneRecup--;
        }
        else
        {
            $('#resultatOUT_jq').show().html(sSortie);
            $('#btn_move').hide();
            $('#btn_retry').show();
        }
    }
    else if(move == 1 && move >= 0 && move <= 7){
        if(ligneRecup >= 0 && colonneRecup >= 0 && ligneRecup <= 7 && colonneRecup <= 7){
            aDamier[ligneRecup][colonneRecup] = '0';
            aDamier[ligneRecup - 1][colonneRecup + 1] = 'X';
            ligneRecup--;
            colonneRecup++;
        }
        else{
            $('#resultatOUT_jq').show().html(sSortie);
            $('#btn_move').hide();
            $('#btn_retry').show();
        }
    }
    else if(move == 2 && move >= 0 && move <= 7){
        if(ligneRecup >= 0 && colonneRecup >= 0 && ligneRecup <= 7 && colonneRecup <= 7){
            aDamier[ligneRecup][colonneRecup] = '0';
            aDamier[ligneRecup + 1][colonneRecup - 1] = 'X';
            ligneRecup++;
            colonneRecup--;
        }
        else{
            $('#resultatOUT_jq').show().html(sSortie);
            $('#btn_move').hide();
            $('#btn_retry').show();
        }
    }
    else if(move == 3 && move >= 0 && move <= 7){
        if(ligneRecup >= 0 && colonneRecup >= 0 && ligneRecup <= 7 && colonneRecup <= 7){
            aDamier[ligneRecup][colonneRecup] = '0';
            aDamier[ligneRecup + 1][colonneRecup + 1] = 'X';
            ligneRecup++;
            colonneRecup++;
        }
        else{
            $('#resultatOUT_jq').show().html(sSortie);
            $('#btn_move').hide();
            $('#btn_retry').show();
        }
    }
    //Actualisation du tableau
    for(i=0 ; i < 8 ; i++){
        for(j=0 ; j < 8 ; j++){
            sHTML += aDamier[i][j] + ' ';
        }
        sHTML += "</br>";
    }
    $('#resultat8_3_jq').html(sHTML);
}
                                    </code></pre>
                                </div>
                </div>
        
            </div>
                <div class="one_Division" id="php">
                    <h1>PhP</h1>
                    <p>Les lignes et colonnes commencent par zero ! Le max étant 7 pour les deux</p>
                    <form method="POST" action="s8exercice3.php">
                        <label for="ligne_php">Quelle Ligne ?</label></br>
                        <input type="number" id="ligne_php" name="ligne_php" ></br>
                        <input type="hidden" id="posX_php" name="posX_php" value="<?php echo $iLigne; ?>"></br>
                        <label for="colonne_php">Quelle colonne ?</label></br>
                        <input type="number" id="colonne_php" name="colonne_php"></br>
                        <input type="hidden" id="posY_php" name="posY_php" value="<?php echo $iColonne; ?>"></br>
                        <button type="submit">Position</button></br>
                        <label for="move_php">"Deplacement ? "</label></br>
                        <input type="number" id="move_php"></br>
                        <button type="submit">Deplacement</button>
                        <p class="resultat_s8"> <?php echo $sHTML; ?></p>
                    </form>
                    <div class="show_exo7" id="php8_3" >
                            <pre class="s7"><code class="lang-php" >
    
                            </code></pre>
                        </div>
                </div>
        </div>     
    </section>
</div>

<footer class="no_footer">
    <script src="../js/saison7.js"></script>
    <script src="../js/saison8.js"></script>
    <script src="../js/jquery-3.4.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/prism.js"></script>
</footer>
                
</body>