/* .testAPI{
    background-color: aqua !important;
    border: none;
} */

body{
    background-color: #d3e6f7
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Saira Extra Condensed',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
	font-weight: 700;
	text-transform: uppercase;
	color: #343a40;
}
.skills{
    min-width: 250px;
}
ul{
    height: 100%
}
table{
    width: 50vw;
}
thead{
    text-align: center;
}

#title_tab{
    text-align: center;
    border: none;
}

table, tr, td{
    text-align: center;
    border: solid 1px;
}

section>div>h2{
    color: #3d6882 ;
}

.text-primary{
    color: #3d6882  !important;
}

.subheading{
    text-transform: uppercase;
}

a{
    color : #a89613;
}

p, #p_interets{
    font-size: 0.8em;
}

#sideNav{
    background-color: #232226 !important;
    display: flex;
}

#btn-contact{
    order: 1;
}

#btn-menu{
    order: 2;
}
.navbar-toggler-icon{
    top: 0;
    right: 0;
}

.nav-item{
    text-transform: uppercase;
    font-weight: 800;
    font-size: 0.8em;
    letter-spacing: .05rem;
}

p.lead {
	font-size: 1.15rem;
	font-weight: 400;
}

section.resume-section {
	padding-top: 5rem !important;
	padding-bottom: 5rem !important;
	max-width: 75rem;
}

.dev-icons {
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
}

.higherSub{
    text-align: center;
    font-size: 1.4em;
    font-weight: 800;
}
.lowerSub{
    background-color: #332b27;
    border: solid white 2px;
    border-right: none;
    border-left: left;
    color: white;
    text-align: center;
}
/* .fa-ul{
    padding-left: 33% !important;
} */
@media (min-width:992px){
    body{
        padding-top: 0;
        padding-left: 15rem;
    }
    #sideNav{
        display: flex;
        text-align: center;
        height : 100vh;
        position : fixed;
        flex-direction : column;
        top : 0;
        left : 0;
        width : 15rem;
    }
 
    #sideNav .navbar-collapse .navbar-nav{
        flex-direction : column;
        width: 100%;
    }
    #navName{
        display: none;
    }
   
    #sideNav .navbar-brand .img-profile {
        max-width: 10rem;
        max-height: 10rem;
        border: .5rem solid rgba(255,255,255,.2);
    }
    #sideNav .navbar-collapse {
        display: flex;
        align-items: flex-start;
        flex-grow: 0;
        width: 100%;
        margin-bottom: auto;
    }
    #sideNav .navbar-brand {
        display: flex;
        margin: auto auto 0;
        padding: .5rem;
    }
    section.resume-section {
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
    }
    .dev-icons {
        font-size: 1.5rem;
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width:768px){
    section.resume-section {
        min-height: 100vh;
    }
    .dev-icons {
        font-size: 3rem;
        display: flex;
        justify-content: space-between;
    }
}

@media(max-height:450px){
    nav>a>span>img{
        display: none;
    }
}