@font-face{
    font-family: 'Riot';
    src: url('../Font/Riot.ttf');
}
html{
    background: linear-gradient(gray, white);
}
body#tp_formulaire{
    margin: auto;
    height: auto;
    width: 95vw;
    box-shadow: 2px 5px 10px black;
}
h1{
    font-size: 1.6em;
}
fieldset{
    text-align: center;
}
p{
    text-align: center;

}
ul, li{
    border: solid 1px black;
}
#table_champions_wrapper{
    width: 99.9%;
}
#new_matchUp{
    margin: 1% 30% 0 30%;
    /* padding-right: 40%;
    padding-left: 20%; */
    min-width: 150px;

}
/* #btn_to_show{
    margin-right: 10%;
} */
legend{
    /*Font*/
    font-family: 'Riot';
    font-size: 1.5em !important;
    box-shadow: 2px 5px 10px black;
    text-indent: 0;
    color: #f4d87b !important;
    background: linear-gradient(black, grey);
}

h1{
    text-align: center;
}
input{
    text-align: center;
    width: 50% !important;
    min-width: 200px;
    float: right;
    /* padding-left: -25% !important; */
}
input[type=text] {
    background: linear-gradient(black, gray);
    color:gold;
    border: 1px solid black;
    text-align: center;
}
input[type=number] {
    background: linear-gradient(black,gray);

color:gold;
    border: 1px solid black;
    text-align: center;
}
.input_nombre {
    padding-left: 18px;
    background-image: url(../img/number.png);
    background-repeat: no-repeat;
    background-position: left;
}
button {
    text-decoration: none;
    font-weight: bold;
    font-size: 11 px;
    border-radius: 4px 4px 4px 4px;
    cursor: pointer;
    height: 40px;
}
.btn_action {
    background-color: #5bd39a;
    color: white;
    border: 2px solid #5bd39a;
}
.btn_action:hover {
    background-color: White;
    color: #5bd39a;
    border: 2px solid #5bd39a;
      transition-duration: 2s;
}
.btn_save {
    background-color: #ff0000;
    color: white;
    border: 2px solid #ff0000;
}
.btn_save:hover {
    background-color: White;
    color: #ff0000;
    border: 2px solid #ff0000;
      transition-duration: 1s;
}
.hide {
    display: none;
}
#backGd_none{
	background-color: white;
}

thead{
	background-color: gold
}
.edit_btn{
	background-color: green;
}

.suppr_btn{
	background-color: red;
	
}

.edit_btn:hover{
	background-color: green;
	color: white;
}

.suppr_btn:hover{
	background-color: red;
	color: white;
}
a{
    text-decoration: none;
}
