
/* ********************PROPRIETES GENERALES***************** */
@font-face {
	font-family: 'Triforce';
	src: url('../Font/Triforce.ttf');
}

html{
	font-size: 15px;
}

/* Nav */


.nav_for_season{
	background: #1a1a1a;
	font-family: 'Triforce' !important;
	min-height: 50px;;
	height: auto;
	margin: 0;
}

header.masthead{
  height: 100vh;
	min-height: 40rem;
	font-family: 'Triforce';
}

body{
	color : black;
	font-size: 1rem;
	height: auto;
	background:rgba(0, 0, 0, 0.68);
	font-family: 'Triforce' !important;
}

.header_title{
	padding-top: 10%
}

/* Page Accueil */
.masthead{
    background-image: url("../img/zelda_lonely.jpg");
    background-size: cover;
    background-repeat: no-repeat;
		position: center center;
		background-attachment: fixed;
}

.btn_formulaire{
	padding-top: 2%;
}
/* Affichage des codes */
.enonce_exo{
	font-size: 1.1em !important;
}

pre{
	width: 100%;
	height: auto;
	margin: auto;
}

section{
	background-image: url('../img/the-legend-of-zelda-landscape-sword-and-shield-castle-link-artwork.jpeg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	min-height: 100em;
	font-family: 'Triforce';
}

footer{
	height: 10%;
}

.no_footer{
	display: none;
}

#showImage{
	font-size: 1em !important;
}
.contenu{
  flex-direction: column;
  justify-content: center;
	align-items: center;
	margin: 0;
	flex-wrap: nowrap;
}

.contenuEnonce{
    width: 90vw;
    display: flex;
    justify-content: center;
		font-size: 0.8rem;
		padding-right: 15px;
    
}
.exercice{
	display: none;
	font-size: 0.6rem;
}
h1{
	text-align: center;
}

h2{
	font-size: 1rem;
	color: #FF0000;
}

.txt{
	background-color: #fff;
	color: black;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
}
form{
	text-align: center;
}

.only_result_form{
	display: flex;
	width: 100%;
	justify-content: center;
}
label{
	font-size: 1.5rem;
}

									/*Saisons 1 à 3 */
				/* MODAL */
.monModal{
	color: black;
	font-family: sans-serif;
}
.modal-content{
	background-color : #489945;;
}

.dropdown{
    display: flex;
    width: 200px;
}

#buttonLeft{
    flex: 1;
    align-self: center;
    height: 50px;
}

#buttonRight{
    flex: 1;
    height: 50px;
    align-self: center;

}

#enonce3{
    text-align: center;
    text-justify: center;
}

#aResoudre, #aResoudre2, #aResoudre3{
	font-family: sans-serif;
}
#aResoudre3{
	flex: 8;
	padding-left: 34%;
}
/* ******************************SAISON 4****************************** */
#saison4{
    display: flex;
	/* visibility: hidden; */
	padding-top : 30px;
}

/* ******************************SAISON 7******************************* */ 
.exo_title{
	padding-top: 60px;
	
}
.show_exo7, .show_exo8{
	width: 50%;
}

#pc_button_s7{
	margin-top: 7%;
	margin-left: 40%;
}

.one_Division{
	display: none;
	flex-direction: column;
	align-items: center;
}

#pc{
	display: flex;
}

/* Tout ce qui touche a prism */
pre.enonce_exo{
	text-align: center;
}

pre#enonce_exo6_7{
	padding-left: 43%;
	font-size: 1em;
}

.s7, .s8{
 padding-left: 30% !important;
}



.choice{
	display: flex;
	justify-content: center;
	padding-top: 2%;
	padding-bottom: 2%
}

.button_exo{
	margin: 0 1% 0 1%;
	height: 3em;
	width: 6em;
	font-size: 1.25em;
}

.resultat_s7, .resultat_s8{
	margin-top: 2%;
	text-align: center;
	font-size: 1.5rem;
}


/* SideBar */
.sidebar-container{
	padding-top: 2.65%;
	position: fixed;
	min-width: 100px;
	max-width: 10%;
	height: 100%;
	left: 0;
	overflow-x: hidden;
	overflow-y: auto;
	background: #1a1a1a;
	color: #fff;
	font-family: 'Triforce';
}


.content-container {
	padding-top: 20px;
  }

.sidebar-logo {
	padding: 10px 15px 10px 30px;
	font-size: 20px;
	background-color: #2574A9;
	text-decoration: none;
	color: white;
}
.sidebar-logo:hover {
	padding: 10px 15px 10px 30px;
	font-size: 20px;
	background-color: green;
	text-decoration: none;
}
  
.sidebar-navigation {
	min-width: 100px;
	padding: 0;
	margin: 0;
	list-style-type: none;
	position: relative;
}
  
.sidebar-navigation li {
	background-color: transparent;
	position: relative;
	display: inline-block;
	width: 100%;
	line-height: 20px;
}
  
.sidebar-navigation li a {
	padding: 10px 15px 10px 30px;
	display: block;
	color: #fff;
}
  
.sidebar-navigation li .fa {
	margin-right: 10px;
}
  
.sidebar-navigation li a:active,
.sidebar-navigation li a:hover,
.sidebar-navigation li a:focus {
	text-decoration: none;
	outline: none;
}
  
.sidebar-navigation li::before {
	background-color: #2574A9;
	position: absolute;
	content: '';
	height: 100%;
	left: 0;
	top: 0;
	-webkit-transition: width 0.2s ease-in;
	transition: width 0.2s ease-in;
	width: 3px;
	z-index: -1;
}
  
.sidebar-navigation li:hover::before {
	width: 100%;
}
  
.sidebar-navigation .header {
	font-size: 12px;
	text-transform: uppercase;
	background-color: #151515;
	padding: 10px 15px 10px 30px;
}
  
.sidebar-navigation .header::before {
	background-color: transparent;
}

/* Fin SideBar*/
/* Section next to sidebar*/

section.col-md-11{
	min-width: 480px;
	max-width: 90%;
	margin-left: 10%;
}

/* NAVI ANIMATION */

.navi {
	position: absolute;
	height: 300px;
	width: 500px;
	left: 50%;
	margin-left: -250px;
	top: 200%;
	animation: voo 6s ease-in-out infinite;
}

@keyframes voo{
	0%, 100% {transform: translateY(0);}
	50% {transform: translateY(-45px);}
}

.corpo{
	position: absolute;
	height: 90px;
	width: 90px;
	background: #D5EDF5;
	border-radius: 50%;
	top: 100px;
	left: 50%;
	opacity: 0.98;
	margin-left: -45px;
	box-shadow: 0 0 20px #A08BF7,
	0 0 40px rgba(187, 177, 230, 1),
	0 0 60px rgba(187, 177, 230, 0.6),
	0 0 80px rgba(187, 177, 230, 0.9),
	0 0 30px 70px rgba(250, 232, 130, 0.1);
	animation: cresce 1s infinite;
}

@keyframes cresce {
	50% {transform: scale(1.04);}
}

.asa-g-e{
	position: absolute;
	height: 95px;
	width:65px;
	background: #fff;
	border-radius: 100% 5px 100% 10%;
	top:18px ;
	left:195px;
	transform: rotate(-45deg);
	opacity: 0.7;
	box-shadow: 0 0 40px rgba(187, 177, 230, 1);
	animation: asa 3s infinite;
	transform-origin: 50% 100%;
}

@keyframes asa {
	0% {transform: rotate(-65deg);}
	12.5% {transform: rotate(-90deg);}
	25% {transform: rotate(-65deg);}
	50% {transform: rotate(-90deg);}
	100% {transform: rotate(-65deg);}
	
}

.asa-g-d{
	position: absolute;
	height: 95px;
	width:65px;
	background: #fff;
	border-radius: 5px 100% 10%;
	top:18px;
	left:238px;
	opacity: 0.7;
	box-shadow: 0 0 40px rgba(187, 177, 230, 1);
	animation: asa-e 3s infinite;
	transform-origin: 50% 100%;
}

@keyframes asa-e{
	0% {transform: rotate(65deg);}
	12.5% {transform: rotate(90deg);}
	25% {transform: rotate(65deg);}
	50% {transform: rotate(90deg);}
	100% {transform: rotate(65deg);}
	
}

.asa-p-e{
	position: absolute;
	height: 40px;
	width:30px;
	background: #fff;
	border-radius: 180% 30% 130% 25%;
	top:178px;
	left:202px;
	opacity: 0.7;
	box-shadow: 0 0 40px rgba(187, 177, 230, 1);
	animation: asa-p-e 3s linear infinite;
	transform-origin: 100% 0%;
}

@keyframes asa-p-e {
	0% {transform: rotate(15deg);}
	12.5% {transform: rotate(30deg);}
	25% {transform: rotate(15deg);}
	50% {transform: rotate(30deg);}
	100% {transform: rotate(15deg);}
	
}

.asa-p-d{
	position: absolute;
	height: 40px;
	width:30px;
	background: #fff;
	border-radius: 30% 180% 25% 130%;
	top:174px ;
	left:266px;
	opacity: 0.7;
	box-shadow: 0 0 40px rgba(187, 177, 230, 1);
	animation: asa-p-d 3s linear infinite;
	transform-origin: 50% 0%;
}

@keyframes asa-p-d {
	0% {transform: rotate(-15deg);}
	12.5% {transform: rotate(-30deg);}
	25% {transform: rotate(-15deg);}
	50% {transform: rotate(-30deg);}
	100% {transform: rotate(-15deg);}
}

/* Fin NAVI ANIMMATION */




/* FORMULAIRE */


input[type=text] {
    border: none;
    border-bottom: 1px solid #FF0000;
}
.input_nombre {
    padding-left: 18px;
    background-image: url(../img/number.png);
    background-repeat: no-repeat;
    background-position: left;
}
button {
    text-decoration: none;
    font-weight: bold;
    font-size: 11 px;
    border-radius: 4px 4px 4px 4px;
    cursor: pointer;
    height: 40px;
}
.btn_action {
    background-color: #5bd39a;
    color: white;
    border: 2px solid #5bd39a;
}
.btn_action:hover {
    background-color: White;
    color: #5bd39a;
    border: 2px solid #5bd39a;
      transition-duration: 2s;
}
.btn_save {
    background-color: #ff0000;
    color: white;
    border: 2px solid #ff0000;
}
.btn_save:hover {
    background-color: White;
    color: #ff0000;
    border: 2px solid #ff0000;
      transition-duration: 1s;
}
.hide {
    display: none;
}
#backGd_none{
	background-color: white;
	background-image: none; 
}

thead{
	background-color: gold
}
.edit_btn{
	background-color: green;
}

.suppr_btn{
	background-color: red;
	
}

.edit_btn:hover{
	background-color: green;
	color: white;
}

.suppr_btn:hover{
	background-color: red;
	color: white;
}

