<div class="sidebar-container">
    <div class="sidebar-logo">
        <a href="../index.php">
            <i class="fa fa-home" aria-hidden="true"></i> Accueil
        </a>
    </div>
    <ul class="sidebar-navigation">
        <li>
            <a href="s5exercice1.php">
                <i class="fa fa-home" aria-hidden="true"></i> Exercice 1
            </a>
        </li>
        <li>
            <a href="s5exercice2a.php">
                <i class="fa fa-tachometer" aria-hidden="true"></i> Exercice 2a
            </a>
        </li>
        <li>
            <a href="s5exercice2b.php">
                <i class="fa fa-users" aria-hidden="true"></i> Exercice 2b
            </a>
        </li>
        <li>
            <a href="s5exercice3.php">
                <i class="fa fa-users" aria-hidden="true"></i> Exercice 3
            </a>
        </li>
        <li>
            <a href="s5exercice4.php">
                <i class="fa fa-users" aria-hidden="true"></i> Exercice 4
            </a>
        </li>
        <li>
            <a href="s5exercice5.php">
                <i class="fa fa-users" aria-hidden="true"></i> Exercice 5
            </a>
        </li>
        <li>
            <a href="s5exercice6.php">
                <i class="fa fa-users" aria-hidden="true"></i> Exercice 6
            </a>
        </li>
        <li>
            <a href="s5exercice7.php">
                <i class="fa fa-users" aria-hidden="true"></i> Exercice 7
            </a>
        </li>
        <li>
            <a href="s5exercice8.php">
                <i class="fa fa-users" aria-hidden="true"></i> Exercice 8
            </a>
        </li>
        <li>
            <a href="s5exercice9.php">
                <i class="fa fa-users" aria-hidden="true"></i> Exercice 9
            </a>
        </li>
        <li>
            <a href="s5exercice10.php">
                <i class="fa fa-users" aria-hidden="true"></i> Exercice 10
            </a>
        </li>
        <li>
            <a href="s5exercice11.php">
                <i class="fa fa-users" aria-hidden="true"></i> Exercice 11
            </a>
        </li>
    </ul>
</div>
