<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/prism.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">
    <title>s5exercice2_b</title>
</head>

<body>

    <?php include '../commun/nav.html' ?>
    <div class="container-fluid">
        <div class="row">
            <aside class="col-md-1">
                <?php include 'aside_nav5.html' ?>
            </aside>

            <section class="col-md-11">
                <div class="container">
                    <div class="row h-20 align-items-center justify-content-center text-center">
                        <div class="col-lg pt-60px align-self-center">
                            <h1 class="text-uppercase exo_title">Exercice 2</h1>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="row h-20 align-items-center justify-content-center text-center">
                        <div class="col-lg align-self-center">
                            <h1 class="text-uppercase text-black font-weight-bold">Partie B</h1>
                            <hr class="divider my-4">
                        </div>
                    </div>
                </div>
                <div class="contenuEnonce" id="enonce">
                    <pre class="enonce_exo">
                        <code class="lang-html">
Ecrire un algorithme qui choisit un nombre au hasard compris entre 1 et 100. 
Pour ceci, on utilise la fonction : iNombreHasard <- random[1..100] 
Demander à l'utilisateur de trouver le nombre. 
On fera apparaître un message : « Plus petit ! », et inversement, « Plus grand ! » jusqu’à ce que l'utilisateur ait trouvé et afficher en combien de coups.    
                        </code>
                    </pre>
                </div>

                <div class="row">
                    <div class="form-group col-md contenu">
                        <h1>Pseudo-code</h1>
                        <pre>
            <code class="lang-html">
                   
Variable iNb, iRes, cpt en Entier,
Debut
        iRes <- Random...100
        TantQue iNb != iRes alors
            Ecrire 'Ecrire un nombre'
            Lire iNb
            si iNb < iRes  Alors
                Ecrire : plus grand.
            Sinon Si iNb > iRes Alors
                Ecrire : plus petit.
            Sinon  
                Ecrire : Bravo !
            Fin Si
        Fin TantQue
Fin
            </code>
        </pre>
                    </div>

                    <div class="form-group col-md contenu" id="javascript5_2_b">
                        <h1>Javascript</h1>
                        <input type="number" placeholder="Ecrire un nombre compris entre 1 et 100" class="form-control"
                            id="iNbUtilisateur" name="iNbUtilisateur">
                        <input type="hidden" class="form-control" id="iNbRandom" name="iNbRandom">
                        <input type="hidden" class="form-control" id="compteur" name="compteur">
                        <p id="resultat5_2_bjs"></p>
                        <button onclick="afficheCode5_2_bjs()"><a class="nav-link active" data-toggle="modal"
                                data-target="#PcS52b" aria-haspopup="true" aria-expanded="false">Afficher
                                Code</a></button>
                        <button onclick="s5_exo2_bjs()">Executer</button>
                    </div>

                    <div class="form-group col-md contenu" id="jquery5_2_b">
                        <h1>Jquery</h1>

                        <input type="number" placeholder="Ecrire un nombre compris entre 1 et 100 :"
                            class="form-control" id="iNbUtilisateur_jq" name="iNbUtilisateur_jq">
                        <input type="hidden" class="form-control" id="iNbRandom_jq" name="iNbRandom_jq">
                        <input type="hidden" class="form-control" id="compteur_jq" name="compteur_jq" value="">
                        <p id="resultat5_2_bjq"></p>
                        <button onclick='afficheCode5_2_bjq()'><a class="nav-link active" data-toggle="modal"
                                data-target="#PcS52b" aria-haspopup="true" aria-expanded="false">Afficher
                                Code</a></button> <!-- image du code source -->
                        <button onclick="s5_exo2_bjq()">Executer</button>
                    </div>

                    <div class="form-group col-md contenu" id="php5_2_b">
                        <h1>PhP</h1>
                        <form method="POST" action="s5exercice2b.php">
                            <input type="text" class="form-control"
                                placeholder="Ecrire un nombre compris entre 1 et 100:" name="iNbUtilisateur_php"
                                id="iNbUtilisateur_php">
                            <input type="hidden" class="form-control" name="iNbRandom_php" id="iNbRandom_php"
                                value="<?php  echo $iNbRandom_php; ?>">
                            <input type="hidden" class="form-control" id="compteur_php" name="compteur_php"
                                value="<?php echo $cpt_php; ?>">
                            <p>Résultat : <?php echo $message_b; ?></p>
                            <button type="submit" id="form_exo_2b">Executer</button>
                        </form>
                        <button onclick="afficheCode5_2b_php()"><a class="nav-link active" data-toggle="modal"
                                data-target="#PcS52b" aria-haspopup="true" aria-expanded="false">Afficher
                                Code</a></button>
                    </div>

                    <div id="monModal">
                        <div class="modal fade-xl" id="PcS5" tabindex="-1" role="dialog" aria-labelledby="PcEx1Title"
                            aria-hidden="true">
                            <div class="modal-dialog-xl modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="enonce"><strong>Exercice 2b<strong></h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <!-- Passer dans une variable-->
                                    <div class="modal-body">
                                        <pre>
                    <code class="lang-js" id="showImage">
                
                    </code>
                </pre>

                                    </div>
                                    <!-- Passer dans une variable-->
                                    <div class="modal-footer" id="modal_footer">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <footer class="no_footer">
        <script src="../js/saison5.js"></script>
        <script src="../js/jquery-3.4.1.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>
        <script src="../js/prism.js"></script>
    </footer>
</body>