<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/prism.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">
    <title>s5exercice5</title>
</head>

<body>

    <?php include '../commun/nav.html' ?>
    <div class="container-fluid">
        <div class="row">
            <aside class="col-md-1">
                <?php include 'aside_nav5.html' ?>
            </aside>

            <section class="col-md-11">
                <div class="container">
                    <div class="row h-20 align-items-center justify-content-center text-center">
                        <div class="col-lg pt-60px align-self-center">
                            <h1 class="text-uppercase exo_title">Exercice 5</h1>
                        </div>
                    </div>
                </div>

                <div class="contenuEnonce" id="enonce">
                    <pre class="enonce_exo">
                        <code class="lang-html">
Ecrire un algorithme qui demande un nombre de départ, et qui ensuite écrit la table de multiplication de ce nombre, présentée comme suit (cas où l'utilisateur entre le nombre 7) :
                        </code>
                    </pre>
                </div>

                <div class="row">
                    <div class="form-group col-md contenu">
                        <h1>Pseudo-code</h1>
                        <pre>
                            <code class="lang-html">
Variables i, iNbr en entier
    Debut
        Ecrire : Nombre a renseigner
        Lire iNbr

        Pour i de 1 à 10 inclus
            Ecrire : iNbr x i      
        i suivant
        Fin Pour
    Fin
                            </code>
                        </pre>
                    </div>

                    <div class="form-group col-md contenu" id="javascript5_5">
                        <h1>Javascript</h1>
                        <input type="number" placeholder="Ecrire un nombre" class="form-control" id="iNbr5"
                            name="iNbr5">
                        <p id="resultat5_5_js"></p>
                        <button onclick="afficheCode5_5_js()"><a class="nav-link active" data-toggle="modal"
                                data-target="#PcS55" aria-haspopup="true" aria-expanded="false">Afficher
                                Code</a></button>
                        <button onclick="s5_exo5_js()">Executer</button>
                    </div>

                    <div class="form-group col-md contenu" id="jquery5_5">
                        <h1>Jquery</h1>

                        <input type="number" placeholder="Ecrire un nombre :" class="form-control" id="iNbr5_jq"
                            name="iNbr5_jq">
                        <p id="resultat5_5_jq"></p>
                        <button onclick='afficheCode5_5_jq()'><a class="nav-link active" data-toggle="modal"
                                data-target="#PcS55" aria-haspopup="true" aria-expanded="false">Afficher
                                Code</a></button> <!-- image du code source -->
                        <button onclick="s5_exo5_jq()">Executer</button>
                    </div>

                    <div class="form-group col-md contenu" id="php5_5">
                        <h1>PhP</h1>
                        <form method="POST" action="s5exercice5.php">
                            <input type="text" class="form-control" placeholder="Ecrire un nombre:" name="iNbr5_php"
                                id="iNbr5_php">
                            <p><?php echo $message5; ?></p>
                            <button type="submit" id="form_exo_5">Executer</button>
                        </form>
                        <button onclick="afficheCode5_5_php()"><a class="nav-link active" data-toggle="modal"
                                data-target="#PcS55" aria-haspopup="true" aria-expanded="false">Afficher
                                Code</a></button>
                    </div>

                    <div id="monModal">
                        <div class="modal fade-xl" id="PcS55" tabindex="-1" role="dialog" aria-labelledby="PcEx1Title"
                            aria-hidden="true">
                            <div class="modal-dialog-xl modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="enonce"><strong>Exercice 5<strong></h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <!-- Passer dans une variable-->
                                    <div class="modal-body">
                                        <pre>
                                            <code class="lang-js" id="showImage">
                        
                                            </code>
                                        </pre>

                                    </div>
                                    <!-- Passer dans une variable-->
                                    <div class="modal-footer" id="modal_footer">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </section>
        </div>
    </div>

    <footer class="no_footer">
        <script src="../js/saison5.js"></script>
        <script src="../js/jquery-3.4.1.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>
        <script src="../js/prism.js"></script>
    </footer>
</body>