<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/prism.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">
    <title>s5exercice11</title>
</head>

<body>

    <?php include '../commun/nav.html' ?>
    <div class="container-fluid">
        <div class="row">
            <aside class="col-md-1">
                <?php include 'aside_nav5.html' ?>
            </aside>

            <section class="col-md-11">
                <div class="container">
                    <div class="row h-20 align-items-center justify-content-center text-center">
                        <div class="col-lg pt-60px align-self-center">
                            <h1 class="text-uppercase exo_title">Exercice 11</h1>
                        </div>
                    </div>
                </div>
                <div class="contenuEnonce" id="enonce">
                    <pre class="enonce_exo">
                        <code class="lang-html">
Écrire un algorithme qui permette de connaître ses chances de gagner au tiercé, quarté, quinté et autres impôts volontaires.
                        </code>
                    </pre>
                </div>

                <div class="row">
                    <div class="form-group col-md contenu">
                        <h1>Pseudo-code</h1>
                        <pre>
                            <code class="lang-html">
Variables X, Y, n, p, nF, pF, calc, calcF en Entier
    Debut 
        Ecrire : Nombre de chevaux partants :
        Lire n
        Ecrire : Nombre de chevaux joués :
        Lire p 
        calc = n-p

        Pour i de 0 à n alors
                nF *= i
        i suivant
        Pour i de 0 à p alors
                pF *= i
        i suivant
        Pour i de 0 à calc alors
                calcF *= i
        i suivant

        X <- nF/calcF
        Y <- nF/(pF * calcF)
        Ecrire : une chance sur X de gagner dans l'ordre
        Ecrire : une chance sur Y de gagner dans le désordre
    Fin

                            </code>
                        </pre>
                    </div>

                    <div class="form-group col-md contenu" id="javascript5_5">
                        <h1>Javascript</h1>
                        <input type="number" placeholder="Nombre de chevaux partants" class="form-control" id="cPartant"
                            name="cPartant">
                        <input type="number" placeholder="Nombre de chevaux joués" class="form-control" id="cJoue"
                            name="cJoue">
                        <p id="ordre"></p>
                        <button onclick="afficheCode5_11_js()"><a class="nav-link active" data-toggle="modal"
                                data-target="#PcS511" aria-haspopup="true" aria-expanded="false">Afficher
                                Code</a></button>
                        <button onclick="s5_exo11_js()">Executer</button>
                    </div>

                    <div class="form-group col-md contenu" id="jquery5_6">
                        <h1>Jquery</h1>

                        <input type="number" placeholder="Nombre de chevaux partants :" class="form-control"
                            id="cPartant_jq" name="cPartant_jq">
                        <input type="number" placeholder="Nombre de chevaux joués :" class="form-control" id="cJoue_jq"
                            name="cJoue_jq">
                        <p id="ordre_jq"></p>
                        <button onclick='afficheCode5_11_jq()'><a class="nav-link active" data-toggle="modal"
                                data-target="#PcS511" aria-haspopup="true" aria-expanded="false">Afficher
                                Code</a></button> <!-- image du code source -->
                        <button onclick="s5_exo11_jq()">Executer</button>
                    </div>

                    <div class="form-group col-md contenu" id="php5_11">
                        <h1>PhP</h1>
                        <form method="POST" action="s5exercice11.php">
                            <input type="number" class="form-control" placeholder="Nombre de chevaux partants :"
                                name="cPartant_php" id="cPartant_php">
                            <input type="number" class="form-control" placeholder="Nombre de chevaux joués :"
                                name="cJoue_php" id="cJoue_php">
                            <p><?php echo $message11; ?></p>
                            <button type="submit" id="form_exo_11">Executer</button>
                        </form>
                        <button onclick="afficheCode5_11_php()"><a class="nav-link active" data-toggle="modal"
                                data-target="#PcS511" aria-haspopup="true" aria-expanded="false">Afficher
                                Code</a></button>
                    </div>

                    <div id="monModal">
                        <div class="modal fade-xl" id="PcS511" tabindex="-1" role="dialog" aria-labelledby="PcEx1Title"
                            aria-hidden="true">
                            <div class="modal-dialog-xl modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="enonce"><strong>Exercice 11<strong></h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <!-- Passer dans une variable-->
                                    <div class="modal-body">
                                        <pre>
                    <code class="lang-js" id="showImage">
                
                    </code>
                </pre>

                                    </div>
                                    <!-- Passer dans une variable-->
                                    <div class="modal-footer" id="modal_footer">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </section>
        </div>
    </div>

    <footer class="no_footer">
        <script src="../js/saison5.js"></script>
        <script src="../js/jquery-3.4.1.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>
        <script src="../js/prism.js"></script>
    </footer>
</body>