<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/prism.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">
    <title>s5exercice2_a</title>
</head>

<body>
        
    <?php include '../commun/nav.html' ?>
    <div class="container-fluid">
        <div class="row">
            <aside class="col-md-1">
                <?php include 'aside_nav5.html' ?>
            </aside>
    
            <section class="col-md-11">
                <div class="container">
                   <div class="row h-20 align-items-center justify-content-center text-center">
                         <div class="col-lg pt-60px align-self-center">
                         <h1 class="text-uppercase exo_title">Exercice 2</h1>
                         </div>
                   </div>
                </div>   
                <div class="container">
                    <div class="row h-20 align-items-center justify-content-center text-center">
                        <div class="col-lg align-self-center">
                            <h1 class="text-uppercase text-black font-weight-bold">Partie A</h1>
                            <hr class="divider my-4">
                        </div>
                    </div>
                </div>
                <div class="contenuEnonce"  id="enonce" >
                    <pre class="enonce_exo">
                        <code class="lang-html">
Ecrire un algorithme qui demande un nombre compris entre 10 et 20, jusqu’à ce que la réponse convienne. En cas de réponse supérieure à 20, on fera apparaître un message : « Plus petit ! », et inversement, « Plus grand ! » si le nombre est inférieur à 10.              
                        </code>
                    
                    </pre>
                </div>

                <div class="row">
                    <div class="form-group col-md contenu">
                        <h1>Pseudo-code</h1>
                        <pre>
                            <code class="lang-html">
                    
Variable iNb en Entier,
Debut
    Ecrire 'Ecrire un nombre'
    Lire iNb
    si iNb < 10  Alors
        Ecrire : plus grand.
    Sinon Si iNb > 20 Alors
        Ecrire : plus petit.
    Fin Si
    Sinon
        Ecrire : Bien joué !
Fin
                            </code>
                        </pre>
                    </div>
            
                    <div class="form-group col-md contenu" id="javascript5_2_a">
                        <h1>Javascript</h1>
                        <label for="iNb5_2_ajs">Ecrire un nombre</label>
                        <input type="text" class="form-control" id="iNb5_2_ajs">            
                        <p id="resultat5_2_ajs"></p>
                        <button onclick="afficheCode5_2_ajs()"><a class="nav-link active"  data-toggle="modal" data-target="#PcS52a" aria-haspopup="true" aria-expanded="false">Afficher Code</a></button>
                        <button onclick="s5_exo2_ajs()">Executer</button>
                    </div>
                    
                    <div class="form-group col-md contenu" id="jquery5_2_a">
                        <h1>Jquery</h1>
                        <label for="iNb5_2_ajq">Ecrire un nombre</label>
                        <input type="text" class="form-control" id="iNb5_2_ajq">            
                        <p id="resultat5_2_ajq"></p>
                        <button onclick='afficheCode5_2ajq()'><a class="nav-link active"  data-toggle="modal" data-target="#PcS52a" aria-haspopup="true" aria-expanded="false">Afficher Code</a></button> <!-- image du code source -->
                        <button onclick="s5_exo2_ajq()">Executer</button>
                    </div>
                
                    <div class="form-group col-md contenu" id="php5_2_a">
                        <h1>PhP</h1>
                        <form method="POST" action="s5exercice2a.php">
                            <label for="iNb5_2_aphp">Ecrire un nombre :</label>
                            <input type="text" class="form-control" name="iNb5_2_aphp" id="iNb5_2_aphp">
                            <p>Résultat : <?php echo $message_a; ?></p>
                            <button type="submit" id="form_exo_2b">Executer</button>
                        </form>
                        <button onclick="afficheCode5_2a_php()"><a class="nav-link active" data-toggle="modal" data-target="#PcS52a" aria-haspopup="true" aria-expanded="false">Afficher Code</a></button>
                    </div>
                
                    <div id="monModal">
                        <div class="modal fade-xl" id="PcS52a" tabindex="-1" role="dialog" aria-labelledby="PcEx1Title" aria-hidden="true">
                        <div class="modal-dialog-xl modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="enonce"><strong>Exercice 2a<strong></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <!-- Passer dans une variable-->
                                <div class="modal-body" >
                                <pre>
                                    <code class="lang-js" id="showImage">
                                
                                    </code>
                                </pre>
                                
                                </div>
                                <!-- Passer dans une variable-->
                                <div class="modal-footer" id="modal_footer">
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>         
            </section>   
        </div> 
     </div>
       
     <footer class="no_footer">
        <script src="../js/saison5.js"></script>
        <script src="../js/jquery-3.4.1.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>
        <script src="../js/prism.js"></script>
     </footer> 
  </body>
  