<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/prism.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">
    <title>s5exercice9</title>
</head>


<body>

    <?php include '../commun/nav.html' ?>
    <div class="container-fluid">
        <div class="row">
            <aside class="col-md-1">
                <?php include 'aside_nav5.html' ?>
            </aside>

            <section class="col-md-11">
                <div class="container">
                    <div class="row h-20 align-items-center justify-content-center text-center">
                        <div class="col-lg pt-60px align-self-center">
                            <h1 class="text-uppercase exo_title">Exercice 9</h1>
                        </div>
                    </div>
                </div>

                <div class="contenuEnonce" id="enonce">
                    <pre class="enonce_exo">
                        <code class="lang-html">
Réécrire l’algorithme précédent, mais cette fois-ci on ne connaît pas d’avance combien l’utilisateur souhaite saisir de nombres. La saisie des nombres s’arrête lorsque l’utilisateur entre un zéro.   
                        </code>
                    </pre>
                </div>

                <div class="row">
                    <div class="form-group col-md contenu">
                        <h1>Pseudo-code</h1>
                        <pre>
                            <code class="lang-html">
Variables nombreRecup, nombreStocker, compteur
Debut
    TantQue nombreRecup <> 0 alors
        compteur = 1;
        Entrer un nombre "compteur"
        Lire nombreRecup
        compteur++
        Si nombreStocker == "" alors
            nombreStocker = nombreRecup
        Sinon si nombreStocker != "" alors
            si nombreStocker < nombreRecup alors
                nombreStocker = nombreRecup + " est le plus grand, c'est le " + compteur + "è renseigné" 
            Fin Si
        FinSi
    Fin TantQue
    Ecrire nombreStocker
Fin


                            </code>
                        </pre>
                    </div>

                    <div class="form-group col-md contenu" id="javascript5_9">
                        <h1>Javascript</h1>
                        <!-- Utilisateur -->
                        <input type="number" placeholder="Entrer un nombre : " name="iNombreRecup9" id="iNombreRecup9">
                        <!-- Machine -->
                        <input type="hidden" name="iNombreStocke9" id="iNombreStocke9" value="">
                        <input type="hidden" name="compteur9" id="compteur9" value="0">
                        <input type="hidden" name="compteurRes9" id="compteurRes9" value="">
                        <p id="resultat5_9_js"></p>
                        <button onclick="afficheCode5_9_js()"><a class="nav-link active" data-toggle="modal"
                                data-target="#PcS59" aria-haspopup="true" aria-expanded="false">Afficher
                                Code</a></button>
                        <button onclick="s5_exo9_js()">Executer</button>
                    </div>

                    <div class="form-group col-md contenu" id="jquery5_9">
                        <h1>Jquery</h1>
                        <!-- Utilisateur -->
                        <input type="number" placeholder="Entrer un nombre : " name="iNombreRecup9_jq"
                            id="iNombreRecup9_jq">
                        <!-- Machine -->
                        <input type="hidden" name="iNombreStocke9_jq" id="iNombreStocke9_jq" value="0">
                        <input type="hidden" name="compteur9_jq" id="compteur9_jq" value="0">
                        <input type="hidden" name="compteurRes9_jq" id="compteurRes9_jq" value="">
                        <p id="resultat5_9_jq"></p>
                        <button onclick='afficheCode5_9_jq()'><a class="nav-link active" data-toggle="modal"
                                data-target="#PcS59" aria-haspopup="true" aria-expanded="false">Afficher
                                Code</a></button> <!-- image du code source -->
                        <button onclick="s5_exo9_jq()">Résultat</button>
                    </div>

                    <div class="form-group col-md contenu" id="php5_9">
                        <h1>PhP</h1>
                        <form method="POST" action="s5exercice9.php">
                            <input type="number" placeholder="Entrer un nombre : " name="iNombreRecup9_php"
                                id="iNombreRecup9_php">
                            <!-- Machine -->
                            <input type="hidden" name="iNombreStocke9_php" id="iNombreStocke9_php"
                                value="<?php echo $iNombreStocke9; ?>">
                            <input type="hidden" name="compteur9_php" id="compteur9_php"
                                value="<?php echo $compteur9; ?>">
                            <input type="hidden" name="compteurRes9_php" id="compteurRes9_php"
                                value="<?php echo $compteurRes9; ?>">
                            <p><?php echo $message9; ?></p>
                            <button type="submit" id="form_exo_9">Executer</button>
                        </form>
                        <button onclick="afficheCode5_9_php()"><a class="nav-link active" data-toggle="modal"
                                data-target="#PcS59" aria-haspopup="true" aria-expanded="false">Afficher
                                Code</a></button>
                    </div>

                    <div id="monModal">
                        <div class="modal fade-xl" id="PcS59" tabindex="-1" role="dialog" aria-labelledby="PcEx1Title"
                            aria-hidden="true">
                            <div class="modal-dialog-xl modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="enonce"><strong>Exercice 9<strong></h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <!-- Passer dans une variable-->
                                    <div class="modal-body">
                                        <pre>
                    <code class="lang-js" id="showImage">
                
                    </code>
                </pre>

                                    </div>
                                    <!-- Passer dans une variable-->
                                    <div class="modal-footer" id="modal_footer">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </section>
        </div>
    </div>

    <footer class="no_footer">
        <script src="../js/saison5.js"></script>
        <script src="../js/jquery-3.4.1.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>
        <script src="../js/prism.js"></script>
    </footer>
</body>