<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/prism.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">
    <title>s5exercice8</title>
</head>

<?php include '../commun/nav.html' ?>
<div class="container-fluid">
    <div class="row">
        <aside class="col-md-1">
            <?php include 'aside_nav5.html' ?>
        </aside>

        <section class="col-md-11">
            <div class="container">
                <div class="row h-20 align-items-center justify-content-center text-center">
                    <div class="col-lg pt-60px align-self-center">
                        <h1 class="text-uppercase exo_title">Exercice 8</h1>
                    </div>
                </div>
            </div>
            <div class="contenuEnonce" id="enonce">
                <pre class="enonce_exo">
                    <code class="lang-html">
Ecrire un algorithme qui demande successivement 20 nombres à l’utilisateur, et qui lui dise ensuite quel était le plus grand parmi ces 20 nombres :        
                    </code>
                </pre>
            </div>

            <div class="row">
                <div class="form-group col-md contenu">
                    <h1>Pseudo-code</h1>
                    <pre>
                        <code class="lang-html">
Variables nombreRecup, nombreStocker, compteur
Debut
    compteur = 1;
    TantQue compteur <= 20 alors
        Entrer un nombre :
        Lire nombreRecup
        compteur++

        Si nombreStocker == "" alors
            nombreStocker = nombreRecup
        Sinon si nombreStocker != "" alors
            si nombreStocker < nombreRecup alors
                nombreStocker = nombreRecup + " est le plus grand, c'est le " + compteur + "è renseigné" 
            Fin Si
        FinSi
    Fin TantQue
    Ecrire nombreStocker
Fin
                

                        </code>
                    </pre>
                </div>

                <div class="form-group col-md contenu" id="javascript5_8">
                    <h1>Javascript</h1>
                    <!-- Utilisateur -->
                    <input type="number" placeholder="Entrer un nombre : " name="iNombreRecup" id="iNombreRecup">
                    <!-- Machine -->
                    <input type="hidden" name="iNombreStocke" id="iNombreStocke" value="">
                    <input type="hidden" name="compteur8" id="compteur8" value="0">
                    <input type="hidden" name="compteurRes" id="compteurRes" value="">
                    <p id="resultat5_8_js"></p>
                    <button onclick="afficheCode5_8_js()"><a class="nav-link active" data-toggle="modal"
                            data-target="#PcS58" aria-haspopup="true" aria-expanded="false">Afficher Code</a></button>
                    <button onclick="s5_exo8_js()">Executer</button>
                </div>

                <div class="form-group col-md contenu" id="jquery5_8">
                    <h1>Jquery</h1>
                    <!-- Utilisateur -->
                    <input type="number" placeholder="Entrer un nombre : " name="iNombreRecup_jq" id="iNombreRecup_jq">
                    <!-- Machine -->
                    <input type="hidden" name="iNombreStocke_jq" id="iNombreStocke_jq" value="">
                    <input type="hidden" name="compteur8_jq" id="compteur8_jq" value="0">
                    <input type="hidden" name="compteurRes_jq" id="compteurRes_jq" value="">
                    <p id="resultat5_8_jq"></p>
                    <button onclick='afficheCode5_8_jq()'><a class="nav-link active" data-toggle="modal"
                            data-target="#PcS58" aria-haspopup="true" aria-expanded="false">Afficher Code</a></button>
                    <!-- image du code source -->
                    <button onclick="s5_exo8_jq()">Résultat</button>
                </div>

                <div class="form-group col-md contenu" id="php5_8">
                    <h1>PhP</h1>
                    <form method="POST" action="s5exercice8.php">
                        <input type="number" placeholder="Entrer un nombre : " name="iNombreRecup_php"
                            id="iNombreRecup_php">
                        <!-- Machine -->
                        <input type="hidden" name="iNombreStocke_php" id="iNombreStocke_php"
                            value="<?php echo $iNombreStocke; ?>">
                        <input type="hidden" name="compteur8_php" id="compteur8_php" value="<?php echo $compteur8; ?>">
                        <input type="hidden" name="compteurRes_php" id="compteurRes_php"
                            value="<?php echo $compteurRes; ?>">
                        <p><?php echo $message8; ?></p>
                        <button type="submit" id="form_exo_8">Executer</button>
                    </form>
                    <button onclick="afficheCode5_8_php()"><a class="nav-link active" data-toggle="modal"
                            data-target="#PcS58" aria-haspopup="true" aria-expanded="false">Afficher Code</a></button>
                </div>

                <div id="monModal">
                    <div class="modal fade-xl" id="PcS58" tabindex="-1" role="dialog" aria-labelledby="PcEx1Title"
                        aria-hidden="true">
                        <div class="modal-dialog-xl modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="enonce"><strong>Exercice 8<strong></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <!-- Passer dans une variable-->
                                <div class="modal-body">
                                    <pre>
                    <code class="lang-js" id="showImage">
                
                    </code>
                </pre>

                                </div>
                                <!-- Passer dans une variable-->
                                <div class="modal-footer" id="modal_footer">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </section>
    </div>
</div>

<footer class="no_footer">
    <script src="../js/saison5.js"></script>
    <script src="../js/jquery-3.4.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/prism.js"></script>
</footer>
</body>