<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link href="../css/bootstrap.min.css" rel="stylesheet">
   <link href="../css/prism.css" rel="stylesheet">
   <link href="../css/main.css" rel="stylesheet">
   <title>s5exercice1</title>
</head>

<body>

   <?php include '../commun/nav.html' ?>
   <div class="container-fluid">
      <div class="row">
         <aside class="col-md-1">
            <?php include 'aside_nav5.html' ?>
         </aside>

         <section class="col-md-11">
            <div class="container">
               <div class="row h-20 align-items-center justify-content-center text-center">
                  <div class="col-lg pt-60px align-self-center">
                     <h1 class="text-uppercase exo_title">Exercice 1</h1>
                  </div>
               </div>
            </div>
            <div class="contenuEnonce" id="enonce">
               <pre class="enonce_exo">
                     <code class="lang-html">
                        Ecrire un algorithme qui demande à l’utilisateur un nombre compris entre 1 et 3 jusqu’à ce que la réponse convienne.
                     </code>
               </pre>
            </div>
            <div class="row">
               <div class="form-group col-md contenu">
                  <h1>Pseudo-code</h1>
                  <pre>
                        <code class="lang-html">
                  
Variable iNb en Entier,
Debut
   Ecrire 'Ecrire un nombre'
   Lire iNb

   TantQue iNb < 1 ET iNb > 3 Alors
   Ecrire : Recommencez svp.
   Fin TantQue
   Sinon
   Ecrire : Saisie acceptée
   Fin Si
Fin
                        </code>
                     </pre>
               </div>

               <div class="form-group col-md contenu" id="javascript5_1">
                  <h1>Javascript</h1>
                  <label for="iNb5_1js">Ecrire un nombre</label>
                  <input type="text" class="form-control" id="iNb5_1js">


                  <p id="resultat5_1js"></p>
                  <button onclick="afficheCode5_1js()"><a class="nav-link active" data-toggle="modal"
                        data-target="#PcS5" aria-haspopup="true" aria-expanded="false">Afficher Code</a></button>
                  <button onclick="s5_exo1js()">Executer</button>
               </div>

               <div class="form-group col-md contenu" id="jquery5_1">
                  <h1>Jquery</h1>
                  <label for="iNb5_1jq">Ecrire un nombre </label>
                  <input type="text" class="form-control" id="iNb5_1jq">
                  <p id="resultat5_1jq"></p>
                  <button onclick='afficheCode5_1jq()'><a class="nav-link active" data-toggle="modal"
                        data-target="#PcS5" aria-haspopup="true" aria-expanded="false">Afficher Code</a></button>
                  <!-- image du code source -->
                  <button onclick="s5_exo1jq()">Executer</button>
               </div>

               <div class="form-group col-md contenu" id="php5_1">
                  <h1>PhP</h1>
                  <form method="POST" action="s5exercice1.php">
                     <label for="iNb5_1php">Ecrire un nombre :</label>
                     <input type="text" class="form-control" name="iNb5_1php" id="iNb5_1php">

                     <p>Résultat : <?php echo $message; ?></p>
                     <button type="submit" id="form_exo_1">Executer</button>
                  </form>
                  <button onclick="afficheCode1php()"><a class="nav-link active" data-toggle="modal" data-target="#PcS5"
                        aria-haspopup="true" aria-expanded="false">Afficher Code</a></button>
               </div>

               <div id="monModal">
                  <div class="modal fade-xl" id="PcS5" tabindex="-1" role="dialog" aria-labelledby="PcEx1Title"
                     aria-hidden="true">
                     <div class="modal-dialog-xl modal-dialog-centered" role="document">
                        <div class="modal-content">
                           <div class="modal-header">
                              <h5 class="modal-title" id="enonce"><strong>Exercice 1<strong></h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                 <span aria-hidden="true">&times;</span>
                              </button>
                           </div>
                           <!-- Passer dans une variable-->
                           <div class="modal-body">
                              <pre>
                           <code class="lang-js" id="showImage">
                        
                           </code>
                     </pre>

                           </div>
                           <!-- Passer dans une variable-->
                           <div class="modal-footer" id="modal_footer">
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
      </div>
   </div>

   <footer class="no_footer">
      <script src="../js/saison5.js"></script>
      <script src="../js/jquery-3.4.1.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
      <script src="../js/bootstrap.min.js"></script>
      <script src="../js/prism.js"></script>
   </footer>
</body>