<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/prism.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">
    <title>s5exercice10</title>
</head>

<body>

    <?php include '../commun/nav.html' ?>
    <div class="container-fluid">
        <div class="row">
            <aside class="col-md-1">
                <?php include 'aside_nav5.html' ?>
            </aside>

            <section class="col-md-11">
                <div class="container">
                    <div class="row h-20 align-items-center justify-content-center text-center">
                        <div class="col-lg pt-60px align-self-center">
                            <h1 class="text-uppercase exo_title">Exercice 10</h1>
                        </div>
                    </div>
                </div>
                <div class="contenuEnonce" id="enonce">
                    <pre class="enonce_exo">
        <code class="lang-html">
Lire la suite des prix (en euros entiers et terminée par zéro) des achats d’un client. Calculer la somme qu’il doit, lire la
somme qu’il paye, et simuler la remise de la monnaie en affichant les textes "10 Euros", "5 Euros" et "1 Euro" autant
de fois qu’il y a de coupures de chaque sorte à rendre.
        </code>
    </pre>
                </div>

                <div class="row">
                    <div class="form-group col-md contenu">
                        <h1>Pseudo-code</h1>
                        <pre>
            <code class="lang-html">

    DEBUT
    
        TantQue prix à saisir alors  
            Ecrire Prix de l'article
            Lire Prix
            iTotal += Prix
        Fin TantQue
        Ecrire 'Vous devez régler' + iTotal + '€'
        Lire somme
        Si somme > iTotal alors
            iDiff = somme - iTotal
                TantQue iDiff >=10 alors
                iBillet_10 += 1;
                iDiff -=10;
            Fin TantQue
            Si iDiff >= 5 alors 
                iBillet_5 = 1;
                iDiff -= 5;
            Fin SI
            iPiece_1 = iDiff;
            Ecrire Je vous rend iBillet_10 + iBillet_5 + iPiece_1
        Fin Si
        Sinon SI iTotal == somme  alors
            Ecrire Le compte est bon
        Fin Si
        Sinon appelez la police

    FIN            

            </code>
        </pre>
                    </div>

                    <div class="form-group col-md contenu" id="javascript5_10">
                        <h1>Javascript</h1>
                        <input type="number" placeholder="Entrer prix article : " name="iPrixArticle" id="iPrixArticle">
                        <input type="hidden" name="iPaiement" id="iPaiement" value="0">
                        <input type="hidden" name="iTotal" id="iTotal" value="0">
                        <p id="resultat5_10_js"></p>
                        <button onclick="afficheCode5_10_js()"><a class="nav-link active" data-toggle="modal"
                                data-target="#PcS510" aria-haspopup="true" aria-expanded="false">Afficher
                                Code</a></button>
                        <button onclick="s5_exo10_js()">Ajouter (0 pour facture)</button>
                        <button onclick="s5_exo10_js()">Payer</button>
                    </div>

                    <div class="form-group col-md contenu" id="jquery5_10">
                        <h1>Jquery</h1>
                        <input type="number" placeholder="Entrer prix article : " name="iPrixArticle_jq"
                            id="iPrixArticle_jq">
                        <input type="hidden" name="iPaiement_jq" id="iPaiement_jq" value="0">
                        <input type="hidden" name="iTotal_jq" id="iTotal_jq" value="0">
                        <p id="resultat5_10_jq"></p>
                        <button onclick='afficheCode5_10_jq()'><a class="nav-link active" data-toggle="modal"
                                data-target="#PcS510" aria-haspopup="true" aria-expanded="false">Afficher
                                Code</a></button> <!-- image du code source -->
                        <button onclick="s5_exo10_jq()">Ajouter (0 pour facture)</button>
                        <button onclick="s5_exo10_jq()">Payer</button>
                    </div>

                    <div class="form-group col-md contenu" id="php5_10">
                        <h1>PhP</h1>
                        <form method="POST" action="s5exercice10.php">
                            <input type="number" placeholder="Entrer prix article : " name="iPrixArticle_php"
                                id="iPrixArticle_php">
                            <input type="hidden" name="iPaiement_php" id="iPaiement_php" value="<?= $iPaiement; ?>">
                            <input type="hidden" name="iTotal_php" id="iTotal_php" value="<?= $iTotal; ?>">
                            <p><?= $sTotal; ?></p>
                            <p><?= $sMonnaie; ?></p>
                            <button onclick="afficheCode5_10_php()"><a class="nav-link active" data-toggle="modal"
                                    data-target="#PcS510" aria-haspopup="true" aria-expanded="false">Afficher
                                    Code</a></button>
                            <button type="submit" id="form_exo_10">Ajouter Article</button>
                            <button type="button" onclick='inputModifier10()' id="form_exo_10">Payer</button>
                        </form>
                    </div>

                    <div id="monModal">
                        <div class="modal fade-xl" id="PcS510" tabindex="-1" role="dialog" aria-labelledby="PcEx1Title"
                            aria-hidden="true">
                            <div class="modal-dialog-xl modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="enonce"><strong>Exercice 10<strong></h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <!-- Passer dans une variable-->
                                    <div class="modal-body">
                                        <pre>
                    <code class="lang-js" id="showImage">
                
                    </code>
                </pre>

                                    </div>
                                    <!-- Passer dans une variable-->
                                    <div class="modal-footer" id="modal_footer">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
        </div>
    </div>

    <footer class="no_footer">
        <script src="../js/saison5.js"></script>
        <script src="../js/jquery-3.4.1.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>
        <script src="../js/prism.js"></script>
    </footer>
</body>