			<h1>Liste des acteurs</h1>
			<hr>
			<table border="1" align="center">
				<tr>
					<td>ID acteur</td>
					<td>NOM</td>
					<td>PRENOM</td>
					<td>NATIONALITE</td>
					<td>AGE</td>
					<td>EDITION</td>
					<td>SUPPRESSION</td>
				</tr>
			<?php
				foreach ($resultat as $ligne)	{
					echo "<tr>\n";
					echo "<td>" . $ligne["id_acteur"] . "</td>\n";
					echo "<td>" . $ligne["nom_acteur"] . "</td>\n";
					echo "<td>" . $ligne["prenom_acteur"] . "</td>\n";
					echo "<td>" . $ligne["nationalite_acteur"] . "</td>\n";
					echo "<td>" . $ligne["age_acteur"] . "</td>\n";
					echo "<td><a href=\"edit_acteur.php?id_acteur=" . $ligne["id_acteur"] . "\">EDIT</a></td>\n";
					echo "<td><a href=\"supprime_acteur.php?id_acteur=" . $ligne["id_acteur"] . "\">X</a></td>\n";
					echo "</tr>\n";
				}
			?>
			</table>


