<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/prism.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">
    <title>s10exercice1</title>
</head>

<body>
  
    <?php include '../commun/nav.html' ?>

    <div class="container-fluid">
        <div class="row">
            <aside class="col-md-1">
                <?php include 'aside_nav10.html' ?>
            </aside>

            <section class="col-md-11">
                <div class="container">
                    <div class="row h-20 align-items-center justify-content-center text-center">
                        <div class="col-lg align-self-center">
                            <h1 class="text-uppercase exo_title">Exercice 1</h1>
                        </div>
                    </div>
                </div>
                <div id="enonce" >
                    <pre class="s8"> <code class="lang-html">
                            Quel résultat cet algorithme produit-il ?
                            Variable Truc en Caractère
                            Début 
                                Ouvrir "Exemple.txt" sur 5 en Lecture 
                                    Tantque Non EOF(5)
                                        LireFichier 5, Truc 
                                        Ecrire Truc 
                                    FinTantQue 
                                Fermer 5 
                            Fin
                    </code></pre>
                </div>
            
                <div class="one_Division" id="pc">
                    <h1>Résultat produit</h1>
                    <div class="show_exo8">
                        <pre class="s8"><code class="lang-html" >
    Cet algorythme affiche à l'écran tout le contenu de Exemple.txt
                        </code></pre>
                    </div>
                </div>
            
        </div>
            
            </section>
    </div>
</div>
<footer class="no_footer">
    <script src="../js/saison7.js"></script>
    <script src="../js/saison8.js"></script>
    <script src="../js/jquery-3.4.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/prism.js"></script>
</footer>
                    
</body>