<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/prism.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">
    <title>s10exercice2</title>
</head>

<body>
  
    <?php include '../commun/nav.html' ?>

    <div class="container-fluid">
        <div class="row">
            <aside class="col-md-1">
                <?php include 'aside_nav10.html' ?>
            </aside>

            <section class="col-md-11">
                <div class="container">
                    <div class="row h-20 align-items-center justify-content-center text-center">
                        <div class="col-lg align-self-center">
                            <h1 class="text-uppercase exo_title">Exercice 2</h1>
                        </div>
                    </div>
                </div>
                <div class="contenuEnonce"  id="enonce" >
                    <pre class="enonce_exo"> <code class="lang-html">
On travaille avec le fichier du carnet d’adresses en champs de largeur fixe trié par ordre alphabétique.
Ecrivez un algorithme qui permet à l’utilisateur de saisir au clavier un nouvel individu qui sera ajouté au bon endroit à ce carnet d’adresses.

                    </code></pre>
                </div>
                <div class="choice">            
                    <button onclick="toggleLanguage('pc')" class="btn btn-success button_exo">Pseudo-Code</button>
                    <button onclick="toggleLanguage('php')" class="btn btn-secondary button_exo">PhP</button>
                </div>
              
            
                <div class="one_Division" id="pc">
                    <h1>Pseudo-code</h1>
                    <div class="show_exo8" id="pc8_1">
                        <pre class="s8"><code class="lang-html" >
Structure Bottin
    Nom en Caractère * 20
    Prenom en Caractère * 20
    Tel en Caractère * 10
    Mail en Caractère * 30
Fin Structure
Tableau mesContacts() en Bottin
Variables monContact, newContact en Bottin i, j en Numérique
Debut
    Ecrire 'Entrez le nom : '
    Lire newContact.Nom
    Ecrire 'Entrez le Prénom : '
    Lire newContact.Prenom
    Ecrire 'Entrez le Tel : '
    Lire newContact.Tel
    Ecrire 'Entrez le Mail : '
    Lire newContact.Mail

    
    Ouvrir "Contact.txt" sur 1 pour Lecture
        i <- -1
        bInsere <- Faux
        Tantque Non EOF(1)
            i < - i + 1

            Redim mesContacts(i)
            LireFichier 1, monContact
            Si monContact.Nom > newContact.Nom et Non bInsere Alors
                mesContacts(i) <- newContact
                bInsere <- Vrai
                i <- i + 1
                Redim mesContacts(i)
            FinSi
            mesContacts(i) <- monContact
        Fin Tantque
    Fermer 1

    Si Non inséré Alors
        i <- i + 1
        Redim mesContacts(i)
        mesContacts(i) <- newContact
        bInsere <- Vrai
    Fin Si

    Ouvrir "Contact.txt" sur 1 pour Ecriture
        pour j <- 0 à i
            EcrireFichier 1, mesContacts(j)
        j suivant
    Fermer 1
Fin

                        </code></pre>
                    </div>
                </div>
                
      
                        
                <div class="one_Division" id="php">
                    <h1>PhP</h1>
                    <h2>Contenu du fichier txt</h2>
                    
                    <p class="txt">
                      <?php echo $res; ?>  
                    </p>
                   
                    <form method="POST" action="s10exercice2.php">
                        <label for="Nom">Nom :</label>
                        <input type="text" id="Nom" name="Nom" >
                        <label for="Prenom">Prenom :</label>
                        <input type="text" id="Prenom" name="Prenom" >
                        <label for="Tel">Tel :</label>
                        <input type="text" id="Tel" name="Tel" >
                        <label for="Mail">Mail :</label>
                        <input type="text" id="Mail" name="Mail" >
                        <p class="resultat_s8">  </p>
                        <button type="submit">Send</button>
                    </form>
                    <div class="show_exo8" id="php8_2">
                            <pre class="s8"><code class="lang-php" >

                            </code></pre>
                    </div>
                   
                </div>
        </div>
            
            </section>
    </div>
</div>
<footer class="no_footer">
    <script src="../js/saison7.js"></script>
    <script src="../js/saison8.js"></script>
    <script src="../js/saison10.js"></script>
    <script src="../js/jquery-3.4.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/prism.js"></script>
</footer>
                    
</body>