<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/prism.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">
    <title>s10exercice3</title>
</head>

<body>
  
    <?php include '../commun/nav.html' ?>

    <div class="container-fluid">
        <div class="row">
            <aside class="col-md-1">
                <?php include 'aside_nav10.html' ?>
            </aside>

            <section class="col-md-11">
                <div class="container">
                    <div class="row h-20 align-items-center justify-content-center text-center">
                        <div class="col-lg align-self-center">
                            <h1 class="text-uppercase exo_title">Exercice 3</h1>
                        </div>
                    </div>
                </div>
                <div class="contenuEnonce"  id="enonce" >
                    <pre class="enonce_exo"> <code class="lang-html">
Ecrivez un algorithme qui permette de modifier un renseignement (pour simplifier, disons uniquement le nom de famille) d’un membre du carnet d’adresses. 
Il faut donc demander à l’utilisateur quel est le nom à modifier, puis quel est le nouveau nom, et mettre à jour le fichier. Si le nom recherché n'existe pas, le programme devra le signaler.
                    </code></pre>
                </div>
                <div class="choice">            
                    <button onclick="toggleLanguage('pc')" class="btn btn-success button_exo">Pseudo-Code</button>
                    <button onclick="toggleLanguage('php')" class="btn btn-secondary button_exo">PhP</button>
                </div>
              
            
                <div class="one_Division" id="pc">
                    <h1>Pseudo-code</h1>
                    <div class="show_exo8" id="pc8_1">
                        <pre class="s8"><code class="lang-html" >
Structure Bottin
    Nom en Caractère * 20
    Prenom en Caractère * 20
    Tel en Caractère * 10
    Mail en Caractère * 30
Fin Structure
Tableau mesContacts() en Bottin
Variables monContact, newContact en Bottin i, j en Numérique
Debut
    Ecrire 'Nom à modifier : '
    Lire modifContact
    Ecrire 'Nouveau Nom : '
    Lire majContact
 bTrouve <- Faux

    Ouvrir "Contact.txt" sur 1 pour Lecture
        i <- -1
        Tantque NON bTrouve OU NON EOF
            i < - i + 1
            LireFichier 1, monContact
            Si monContact.Nom == modifContact et Non bTrouve Alors
                mesContacts(i).Nom <- majContact
                bInsere <- Vrai
            FinSi
        Fin Tantque
    Fermer 1

    Si EOF Alors
        Ecrire "Aucun contact à ce nom n'a été trouvé"
    Sinon
        Ouvrir "Contact.txt" sur 1 pour Ecriture
           pour j <- i
            EcrireFichier 1, mesContacts(j)
        j suivant
    Fermer 1
    Fin Si

Fin

                        </code></pre>
                    </div>
                </div>
                
                <div class="one_Division" id="js">
                    <h1>Javascript</h1>
                    <p class="resultat_s8" id="resultat8_1"> <!--affiche le tableau trié--> </p>
                    <div class="show_exo8" id="js8_1" >
                        <pre class="s8"><code class="lang-js" >

                        </code></pre>
                    </div>
                </div>
            
            
                <div class="one_Division" id="jq">
                    <h1>Jquery</h1>
                    <p class="resultat_s8" id="resultat8_1_jq"></p>
                    <div class="show_exo8" id="jq8_1">
                        <pre class="s8"><code class="lang-js" >
       
                            
                        </code></pre>
                    </div>
                </div>
                        
                <div class="one_Division" id="php">
                    <h1>PhP</h1>
                    <h2>Contenu du fichier txt</h2>
                    
                    <p class="txt">
                       <?php echo $res; ?> 
                    </p>
                   
                    <form method="POST" action="s10exercice3.php">
                        <label for="name">Nom :</label>
                        <input type="text" id="name" name="name" >
                        <label for="newName">Nouveau nom :</label>
                        <input type="text" id="newName" name="newName" >
                        <p class="resultat_s8">  </p>
                        <button type="submit">Send</button>
                    </form>
                    <div class="show_exo8" id="php8_2">
                            <pre class="s8"><code class="lang-php" >

                            </code></pre>
                    </div>
                   
                </div>
        </div>
            
            </section>
    </div>
</div>
<footer class="no_footer">
    <script src="../js/saison7.js"></script>
    <script src="../js/saison8.js"></script>
    <script src="../js/saison10.js"></script>
    <script src="../js/jquery-3.4.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/prism.js"></script>
</footer>
                    
</body>