html{
    margin: auto;
    font: 22px Calibri;
    width: 100vw;
    height: 100vh;
}

html{
    width: 95vw;
    height: 95vh;
    background: linear-gradient( #8498a3, white);
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: white;
    -webkit-box-shadow: 0px 7px 19px 6px rgba(0,0,0,0.51);
    -moz-box-shadow: 0px 7px 19px 6px rgba(0,0,0,0.51);
    box-shadow: 0px 7px 19px 6px rgba(0,0,0,0.51);
}

header{
    min-height: 240px;
}

header:after{
    clear: both;
}

nav{
    background-image: linear-gradient(rgba(247, 244, 244, 0.5), rgba(114, 124, 129, 0.8));
}

nav:after {
	clear: both;
}

.header_nav{
    display: flex;
    flex-direction: column;
}

aside{
    box-shadow: 10px 0 5px 0 grey;
    /* visibility: visible; */
    /* display: none; */
}

section{
    width: calc(100% - 254px);
}

.aside_section{
    height: 80%;
    display: flex;
    flex-direction: row;
}

footer{
    height: 50px;
    width: 30%;
    position: absolute;
    bottom: 0;
    left: 35%;
    right: 35%;
}


.entete{
    display: flex;
    justify-content: space-between;
}

.image{
    align-self: center;
    justify-content: center;
}
/* Animation des bandeaux */
#bandeau{
    padding-top: 30px;
    align-self: center;
    width: 50%;
    max-width: 1000px;
    overflow: hidden;

}
#bandeau figure{
    width: 500%;
    margin: 0;
    padding: 0;
    font-size: 0;
    position: relative;
    overflow: hidden;
    animation: 20s slidy infinite;
}
#bandeau figure img{
    width: 20%;
    min-height: 200px;
}


@keyframes slidy{
    0% { left: 0%; }
    10% { left: 0%; }
    /* image 2 */
    15% { left: 0%; }
    25% { left: -100%; }
    /* image 3 */
    30% { left: -100%; }
    45% { left: -200%; }
    /* image 4 */
    50% { left: -200%; }
    65% { left: -300%; }
    /* image 5 */
    70% { left: -300%; }
    85% { left: -400%; }
    /* image 6 */
    90% { left: -400%; }
    100% { left: 0%; }
}

#drapeau{
    margin-right: 3%;
}

#langage{
    position: relative;
    bottom: 10px;
    margin-right: 10px;
}

.langOFF:hover{
    border-bottom: solid 2px;
}

.nav_all{
    -webkit-box-shadow: inset 0px -14px 20px -7px rgba(120,120,120,1);
    -moz-box-shadow: inset 0px -14px 20px -7px rgba(120,120,120,1);
    box-shadow: inset 0px -14px 20px -7px rgba(120,120,120,1);
    display: flex; 
    border: 0.3px solid; 
    border-bottom: hidden;
}

.nav_item{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #587685;
    border-left: solid rgb(110, 110, 110) 1px;
    font-weight: bold;
    flex: 1;
    
}

.nav_item:hover{
    color: white;
    background: grey;
    border: 6px;
    border-radius: 10px 10px 0 0;
    margin-top: -10px;
    padding-bottom: 5px;
}

.nav_item_logo1{
    
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    flex: auto;
}

.aside_all{
    
    display: flex;
    align-items: center;
    flex-direction: column;
}

aside p{
    margin-right: 10px;
}

.aside_menu{
    padding-top: 70px;
    background-image: url("img/fond_smenu.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    width: 100%;
    flex:2;
}

.aside_item{
    font-size: 16px;
    color: gray;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-image: linear-gradient(to left, #6B848B, rgb(177, 173, 173), #FFFFFF) 100 1%;
    border-style: inset;
    border-width: 1.5px;
}

.aside_item:hover{
    background: linear-gradient(white, #7d8e97);
    font-style: bold;
}
#first_menu_item{
    border-top-width:3px;
}

#last_menu_item{
    border-bottom-width:3px;
}


.aside_logo{
    margin-top: 20px;
    flex: 1;
}

.logo_aside{
    height: 150px;
    width: auto;
}

.section_all{
    display: flex;
    flex-direction: column;
}
.section_all_title{
    flex-wrap: wrap;
    margin-left: 30px; 
    border-bottom: solid 3px grey;
    
}

.section_item_image{
    margin-left : 100px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.img_section{
   
    display: flex;
    align-self: center;
    justify-content: center;
    flex: 1;
}

.text_section{
    display: flex;
    margin: auto;
    align-self: center;
    justify-content: center;
    flex: 1;
}

.text_section p{
    text-justify: inter-word;
}

.section_item_text{
    margin : 0 100px 0 100px;
    display: flex;
    flex-direction: column;
}
.footer_all{
    border: solid 0.3px rgb(25, 25, 80);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: rgb(173, 172, 172);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer_all p{
    font-size: 15px;
    text-decoration: underline;
}

/* Tablettes 'n' Mobiles */
@media only screen and (max-width: 1024px) {

}
@media only screen and (max-width: 600px) {
    nav{
        font-size: 10px;
    }
    header{
        height: 10vh;
        margin-bottom: -100px;
    }
    
    #imageToSwitch{
        height: 20px;
        width: 20px;
    }
	#logo img{
        margin-top: 20px;
        height: 100px;
        width: 100px;
        align-self: center;
        justify-content: center;
    }
    #bandeau{
        align-self: center;
        width: 50%;
        max-width: 500;
        overflow: hidden;
    
    }
    
    #bandeau figure img{
        width: 20%;
        min-height: 100px;
    }
    
    #drapeau{
        margin-right: 5px;
        display: flex;
        align-items: flex-end;
    }
    #drapeau span{
        display: none;
    }
    @keyframes slidy{
        0% { left: 0%; }
        10% { left: 0%; }
        /* image 2 */
        15% { left: 0%; }
        25% { left: -100%; }
        /* image 3 */
        30% { left: -100%; }
        45% { left: -200%; }
        /* image 4 */
        50% { left: -200%; }
        65% { left: -300%; }
        /* image 5 */
        70% { left: -300%; }
        85% { left: -400%; }
        /* image 6 */
        90% { left: -400%; }
        100% { left: 0%; }
    }

    .nav_item:hover{
        color: white;
        background: grey;

    }
    aside{
        background-image: linear-gradient(rgb(64, 64, 241), rgb(231, 116, 116) , white);
    }

    .aside_section{
        flex-direction: column;
    }
    .aside_menu{
        flex-direction: row;
        padding-top: 0;
        
    }

    .aside_item{
        display : flex;
        flex: 1;
        font-size: 10px;
        color: white;
        align-items: center;
        justify-content: center;
        border-style: hidden;
    }
    .aside_item:hover{
        background: linear-gradient(white, rgb(231, 116, 116) ,rgb(64, 64, 241) )
    }
    .aside_logo{
        display: none;
    }

    section{
        margin-right: 10px;
        font-size: 18px;
        width: 90vw;
        overflow: scroll;
    }

    .section_item_text{
        display: flex;
        flex-wrap: wrap;
    }
    .section_item_image{
        margin: 0 20px 0 30px;
    }
    .section_item_image>.img_section{
        display: none;
    }
    .section_item_text{
        margin: 0 20px 0 30px;
    }
    .section_item_text p{
        text-justify: auto;
    }
    footer{
        height: 5vh;
        position: absolute;
        width: 100vw;
        bottom: 0;
        left: 0%;
        
    }
}

@media only screen and (max-width: 380px) {
}

@media only screen and (max-width: 320px) {
}

/* IE10+ CSS */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active)	{
}

/* IE Edge 12+ CSS */ 
@supports (-ms-accelerator:true) {
}