<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/prism.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">
    <title>s6exercice4</title>
</head>

<body>

    <?php include '../commun/nav.html' ?>
    <div class="container-fluid">
        <div class="row">
            <aside class="col-md-1">
                <?php include 'aside_nav6.html' ?>
            </aside>

            <section class="col-md-11">
                <div class="container">
                    <div class="row h-20 align-items-center justify-content-center text-center">
                        <div class="col-lg pt-60px align-self-center">
                            <h1 class="text-uppercase exo_title">Exercice 4</h1>
                        </div>
                    </div>
                </div>

                <div class="contenuEnonce" id="enonce">
                    <pre class="enonce_exo">
                        <code class="lang-html">
Ecrivez un algorithme permettant à l’utilisateur de saisir un nombre quelconque de valeurs, qui devront être stockées dans un tableau. L’utilisateur doit donc commencer par entrer le nombre de valeurs qu’il compte saisir. Il effectuera ensuite cette saisie. Enfin, une fois la saisie terminée, le programme affichera le nombre de valeurs négatives et le nombre de valeurs positives.
                        </code>
                    </pre>
                </div>

                <div class="row">
                    <div class="form-group col-md contenu">
                        <h1>Pseudo-code</h1>
                        <pre>
                            <code class="lang-html">
Tableau aNotes() aPositif() aNegatif() en Entier
Variable nbNotes i, j, k en Entier
Debut
    j <- 0;
    k <- 0;
    Ecrire "Nombre de notes :"
    Lire nbNotes
    Redim aNotes(nbNotes - 1)
    Pour i <- 0 à nbNotes - 1
        Ecrire "Entrer la note" + (i+1);
        Lire aNotes(i)
        Si aNotes(i) >= 0 ALORS
            j++
        Sinon
            k++
        Fin Si
    i suivant
    Fin Pour
    Ecrire "Vous avez rentrer " + j + " nombres positifs et " + k "nombres négatifs." 
Fin

                            </code>
                        </pre>
                    </div>

                    <div class="form-group col-md contenu" id="javascript6_4">
                        <h1>Javascript</h1>
                        <input type="number" id='nbInput4' placeholder="Nombre de notes ">
                        <div class="col-md-12" id="newInput4">

                        </div>
                        <p class="txt" id='tri'></p>
                        <button onclick="afficheCode6_4_js()"><a class="nav-link active" data-toggle="modal"
                                data-target="#PcS64" aria-haspopup="true" aria-expanded="false">Afficher
                                Code</a></button>
                        <button onclick="s6_exo4_js()">Afficher Tableau</button>
                        <button onclick="tri_js()">Calcul Moyenne</button>
                    </div>

                    <div class="form-group col-md contenu" id="jquery6_2">
                        <h1>Jquery</h1>
                        <input type="number" id='nbInput4_jq' placeholder="Nombre de notes ">
                        <div class="col-md-12" id="newInput4_jq">
                        </div>
                        <p class="txt" id="tri_jq"></p>
                        <button onclick='afficheCode6_4_jq()'><a class="nav-link active" data-toggle="modal"
                                data-target="#PcS64" aria-haspopup="true" aria-expanded="false">Afficher
                                Code</a></button> <!-- image du code source -->
                        <button onclick="s6_exo4_jq()">Afficher Tableau</button>
                        <button onclick="tri_jq()">Calcul Moyenne</button>
                    </div>

                    <div class="form-group col-md contenu" id="php6_4">
                        <h1>PhP</h1>
                        <form method="POST" action="s6exercice4.php">
                            <input type="number" id='nbInput4_php' name="nbInput4_php"
                                placeholder="Combien de nombres ?">
                            <input type="hidden" id='nbNote4_php' name="nbNote4_php" value="<?php echo $nbNoteInt4; ?>">
                            <div class="col-md-12" id="newInput4_php">
                                <?php echo $addInput4; ?>
                            </div>
                            <p class="txt"> <?php echo $sRes ?> </p>
                            <button type="submit" id="form_exo_6_4">Executer</button>
                        </form>
                        <button onclick="afficheCode6_4php()"><a class="nav-link active" data-toggle="modal"
                                data-target="#PcS64" aria-haspopup="true" aria-expanded="false">Afficher
                                Code</a></button>
                    </div>

                    <div id="monModal">
                        <div class="modal fade-xl" id="PcS64" tabindex="-1" role="dialog" aria-labelledby="PcEx1Title"
                            aria-hidden="true">
                            <div class="modal-dialog-xl modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="enonce"><strong>Exercice 4<strong></h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <!-- Passer dans une variable-->
                                    <div class="modal-body">
                                        <pre>
                                            <code class="lang-js" id="showImage">
                                        
                                            </code>
                                        </pre>

                                    </div>
                                    <!-- Passer dans une variable-->
                                    <div class="modal-footer" id="modal_footer">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
        </div>
    </div>

    <footer class="no_footer">
        <script src="../js/saison6.js"></script>
        <script src="../js/jquery-3.4.1.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>
        <script src="../js/prism.js"></script>
    </footer>
</body>