<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/prism.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">
    <title>s6exercice8</title>
</head>

<body>

    <?php include '../commun/nav.html' ?>
    <div class="container-fluid">
        <div class="row">
            <aside class="col-md-1">
                <?php include 'aside_nav6.html' ?>
            </aside>

            <section class="col-md-11">
                <div class="container">
                    <div class="row h-20 align-items-center justify-content-center text-center">
                        <div class="col-lg pt-60px align-self-center">
                            <h1 class="text-uppercase exo_title">Exercice 8</h1>
                        </div>
                    </div>
                </div>
                <div class="contenuEnonce" id="enonce">
                    <pre class="enonce_exo">
                        <code class="lang-html">
Ecrire un algorithme permettant de saisir 20 valeurs et qui les range au fur et à mesure dans un tableau. Cela s'appelle le tri à la volée (qui est une forme de tri par insertion)
                        </code>
                    </pre>
                            </div>

                <div class="row">
                    <div class="form-group col-md contenu">
                        <h1>Pseudo-code</h1>
                        <pre>
                            <code class="lang-html">
Variables aTab, iNbr, iCpt, iIndice 
    Debut
        iCpt <- 0
        Tantque iCpt < 20
            Ecrire : Entrez un nombre
            Lire iNbr

            Si iCpt == 0 Alors
                aTab[iCpt] = iNbr

            SinonSi iCpt != 0 Alors

                Pour i <- 0 à iCpt + 1 
                iIndice <- -1

                    Si iNbr < aTab[i] && iIndice == -1
                        iIndice = i;

                        Pour y <-  0 à iCpt + 1
                            aTab[y] = aTab[y-1];
                        y Suivant
                        aTab[iIndice] <- iNbr
                        Fin Pour

                    SinonSi iNbr > aTab[iCpt + 1] && iIndice == -1 Alors
                        aTab[y] = iNbr
                    Fin Si

                Fin Pour
            Fin Sinon
            iCpt++
        Fin Tantque
    Fin

    
                            </code>
                        </pre>
                    </div>

                    <div class="form-group col-md contenu" id="javascript6_6">
                        <h1>Javascript</h1>
                        <input type="number" id='nbInput8' placeholder="Combien de nombres ">
                        <input type="hidden" id='nbNombre8' name="nbNombre8" value="">
                        <div class="col-md-12" id="newInput8">

                        </div>
                        <p class="txt" id="resultat6_8">
                            <!--affiche le tableau trié-->
                        </p>
                        <button onclick="afficheCode6_8_js()"><a class="nav-link active" data-toggle="modal"
                                data-target="#PcS68" aria-haspopup="true" aria-expanded="false">Afficher
                                Code</a></button>
                        <button onclick="s6_exo8_js()">Afficher Tableau</button>
                    </div>

                    <div class="form-group col-md contenu" id="jquery6_8">
                        <h1>Jquery</h1>
                        <input type="number" id='nbInput8_jq' placeholder="Combien de nombres ">
                        <input type="hidden" id='nbNombre8_jq' name="nbNombre8_jq" value="">
                        <div class="col-md-12" id="newInput8_jq">
                        </div>
                        <p id="resultat6_8_jq"></p>
                        <button onclick='afficheCode6_8_jq()'><a class="nav-link active" data-toggle="modal"
                                data-target="#PcS68" aria-haspopup="true" aria-expanded="false">Afficher
                                Code</a></button> <!-- image du code source -->
                        <button onclick="s6_exo8_jq()">Afficher Tableau</button>
                    </div>

                    <div class="form-group col-md contenu" id="php8_8">
                        <h1>PhP</h1>
                        <form method="POST" action="s6exercice8.php">
                            <input type="number" id='nbInput8_php' name='nbInput8_php'
                                placeholder="Combien de nombres ">
                            <input type="hidden" id='nbNumber_php' name='nbNumber_php'
                                value="<?php echo $nbNoteInt8; ?>">
                            <div class="col-md-12" id="newInput8_php">
                                <?php echo $addInput8; ?>
                            </div>
                            <p class="txt"><?php echo $sMessage8; ?></p>
                            <button type="submit" id="form_exo_6_8">Executer</button>
                        </form>
                        <button onclick="afficheCode6_8_php()"><a class="nav-link active" data-toggle="modal"
                                data-target="#PcS68" aria-haspopup="true" aria-expanded="false">Afficher
                                Code</a></button>
                    </div>

                    <div id="monModal">
                        <div class="modal fade-xl" id="PcS68" tabindex="-1" role="dialog" aria-labelledby="PcEx1Title"
                            aria-hidden="true">
                            <div class="modal-dialog-xl modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="enonce"><strong>Exercice 8<strong></h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <!-- Passer dans une variable-->
                                    <div class="modal-body">
                                        <pre>
                                            <code class="lang-js" id="showImage">
                                        
                                            </code>
                                        </pre>

                                    </div>
                                    <!-- Passer dans une variable-->
                                    <div class="modal-footer" id="modal_footer">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </section>
        </div>
    </div>

    <footer class="no_footer">
        <script src="../js/saison6.js"></script>
        <script src="../js/jquery-3.4.1.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>
        <script src="../js/prism.js"></script>
    </footer>
</body>