<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/prism.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">
    <title>s6exercice7</title>
</head>

<body>

    <?php include '../commun/nav.html' ?>
    <div class="container-fluid">
        <div class="row">
            <aside class="col-md-1">
                <?php include 'aside_nav6.html' ?>
            </aside>

            <section class="col-md-11">
                <div class="container">
                    <div class="row h-20 align-items-center justify-content-center text-center">
                        <div class="col-lg pt-60px align-self-center">
                            <h1 class="text-uppercase exo_title">Exercice 7</h1>
                        </div>
                    </div>
                </div>
                <div class="contenuEnonce" id="enonce">
                    <pre class="enonce_exo">
                        <code class="lang-html">
Ecrire un algorithme permettant de résoudre le problème suivant :
– Données : un tableau contenant 100 entiers
– Résultat : “vrai” si les entiers sont consécutifs et “faux” sinon
                        </code>
                    </pre>
                </div>

                <div class="row">
                    <div class="form-group col-md contenu">
                        <h1>Pseudo-code</h1>
                        <pre>
                <code class="lang-html">
Variables aTab(100),  en Numérique, sMessage en caractères
    Debut
        i = 0
        bContinue = Vrai
        TantQue bContinue == Vrai && i < 99 
            Si (aTab[i+1] - aTab[i]) == 1 Alors
                sMessage = "Les nombres sont consécutifs"
                i++
            Sinon 
                bContinue = Faux
            Fin Si
        FinTantQue

        Si bContinue == Faux Alors
            sMessage = "Les nombres ne sont pas consécutifs"
        Fin Si

    Fin      
                </code>
            </pre>
                    </div>

                    <div class="form-group col-md contenu" id="javascript6_7">
                        <h1>Javascript</h1>

                        <p class="txt"id="resultat6_7"></p>
                        <button onclick="afficheCode6_7_js()"><a class="nav-link active" data-toggle="modal"
                                data-target="#PcS66" aria-haspopup="true" aria-expanded="false">Afficher
                                Code</a></button>
                        <button onclick="s6_exo7_js()">Afficher Tableau</button>
                    </div>

                    <div class="form-group col-md contenu" id="jquery6_7">
                        <h1>Jquery</h1>
                        <p  class="txt"id="resultat6_7_jq"></p>
                        <label for="iModif">Valeur à ajouter</label></br>
                        <input type="number" id="iModif" name="iModif">
                        <label for="iIndice">A quel emplacement du tableau ?</label></br>
                        <input type="number" id="iIndice" name="iIndice"></br>
                        <button onclick='afficheCode6_7_jq()'><a class="nav-link active" data-toggle="modal"
                                data-target="#PcS66" aria-haspopup="true" aria-expanded="false">Afficher
                                Code</a></button> <!-- image du code source -->
                        <button onclick="s6_exo7_jq()">Vérifier</button>
                    </div>

                    <div class="form-group col-md contenu" id="php6_7">
                        <h1>PhP</h1>
                        <form method="POST" action="s6exercice7.php">

                            <p class="txt"> <?php echo $sRes; ?> </p>
                            <button type="submit" id="form_exo_6_6">Executer</button>
                        </form>
                        <button onclick="afficheCode6_7_php()"><a class="nav-link active" data-toggle="modal"
                                data-target="#PcS66" aria-haspopup="true" aria-expanded="false">Afficher
                                Code</a></button>
                    </div>

                    <div id="monModal">
                        <div class="modal fade-xl" id="PcS66" tabindex="-1" role="dialog" aria-labelledby="PcEx1Title"
                            aria-hidden="true">
                            <div class="modal-dialog-xl modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="enonce"><strong>Exercice 7<strong></h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <!-- Passer dans une variable-->
                                    <div class="modal-body">
                                        <pre>
                                            <code class="lang-js" id="showImage">
                                        
                                            </code>
                                        </pre>

                                    </div>
                                    <!-- Passer dans une variable-->
                                    <div class="modal-footer" id="modal_footer">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </section>
        </div>
    </div>

    <footer class="no_footer">
        <script src="../js/saison6.js"></script>
        <script src="../js/jquery-3.4.1.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>
        <script src="../js/prism.js"></script>
    </footer>
</body>