<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/prism.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">
    <title>s6exercice5</title>
</head>

<body>

    <?php include '../commun/nav.html' ?>
    <div class="container-fluid">
        <div class="row">
            <aside class="col-md-1">
                <?php include 'aside_nav6.html' ?>
            </aside>

            <section class="col-md-11">
                <div class="container">
                    <div class="row h-20 align-items-center justify-content-center text-center">
                        <div class="col-lg pt-60px align-self-center">
                            <h1 class="text-uppercase exo_title">Exercice 5</h1>
                        </div>
                    </div>
                </div>
                    <div class="contenuEnonce" id="enonce">
                        <pre class="enonce_exo">
                            <code class="lang-html">
Ecrivez un algorithme constituant un tableau, à partir de deux tableaux de même longueur préalablement saisis. Le
nouveau tableau sera la somme des éléments des deux tableaux de départ.
                            </code>
                        </pre>
                    </div>

                    <div class="row">
                        <div class="form-group col-md contenu">
                            <h1>Pseudo-code</h1>
                            <pre>
                                <code class="lang-html">
Variables i, N en Numérique 
Tableaux aTab1(N), aTab2(N), aTab3(N) en Numérique 
Debut 
    Redim aTab3(N) 
        Pour i ← 0 à N - 1 
        aTab3(i) ← aTab1(i) + aTab2(i) 
        i Suivant 
Fin

                                </code>
                            </pre>
                        </div>

                        <div class="form-group col-md contenu" id="javascript6_5">
                            <h1>Javascript</h1>
                            <div class="col-md-12" id="newInput5">
                                <p class="txt" id='tableau_'>Tableau 1 : 4, 8, 7, 9, 1, 5, 4, 6</p>
                                <p class="txt" id='tableau_2'>Tableau 2 : 7, 6, 5, 2, 1, 3, 7, 4</p>
                                <p class="txt" id='tableau_3'>Tableau 3 :</p>
                            </div>
                            <button onclick="afficheCode6_5_js()"><a class="nav-link active" data-toggle="modal"
                                    data-target="#PcS65" aria-haspopup="true" aria-expanded="false">Afficher
                                    Code</a></button>
                            <button onclick="s6_exo5_js()">Afficher Tableau</button>
                        </div>

                        <div class="form-group col-md contenu" id="jquery6_5">
                            <h1>Jquery</h1>
                            <div class="col-md-12" id="newInput5_jq">
                                <p class="txt" id='tableau_jq'> Tableau 1 : 4, 8, 7, 9, 1, 5, 4, 6</p>
                                <p class="txt" id='tableau_2_jq'>Tableau 2 : 7, 6, 5, 2, 1, 3, 7, 4</p>
                                <p class="txt" id='tableau_3_jq'>Tableau 3 :</p>
                            </div>
                            <button onclick='afficheCode6_5_jq()'><a class="nav-link active" data-toggle="modal"
                                    data-target="#PcS65" aria-haspopup="true" aria-expanded="false">Afficher
                                    Code</a></button> <!-- image du code source -->
                            <button onclick="s6_exo5_jq()">Afficher Tableau</button>
                        </div>

                        <div class="form-group col-md contenu" id="php6_5">
                            <h1>PhP</h1>
                            <form method="POST" action="s6exercice5.php">
                                <p class="txt"> <?php print_r($aTableau_3); ?> </p>
                                <button onclick="afficheCode6_5_php()"><a class="nav-link active" data-toggle="modal"
                                        data-target="#PcS65" aria-haspopup="true" aria-expanded="false">Afficher
                                        Code</a></button>
                            </form>
                        </div>

                        <div id="monModal">
                            <div class="modal fade-xl" id="PcS65" tabindex="-1" role="dialog"
                                aria-labelledby="PcEx1Title" aria-hidden="true">
                                <div class="modal-dialog-xl modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="enonce"><strong>Exercice 5<strong></h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <!-- Passer dans une variable-->
                                        <div class="modal-body">
                                            <pre>
                                            <code class="lang-js" id="showImage">
                                        
                                            </code>
                                        </pre>

                                        </div>
                                        <!-- Passer dans une variable-->
                                        <div class="modal-footer" id="modal_footer">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
            </section>
        </div>
    </div>

    <footer class="no_footer">
        <script src="../js/saison6.js"></script>
        <script src="../js/jquery-3.4.1.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>
        <script src="../js/prism.js"></script>
    </footer>
</body>