<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/prism.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">
    <title>s6exercice2</title>
</head>

<body>

    <?php include '../commun/nav.html' ?>
    <div class="container-fluid">
        <div class="row">
            <aside class="col-md-1">
                <?php include 'aside_nav6.html' ?>
            </aside>

            <section class="col-md-11">
                <div class="container">
                    <div class="row h-20 align-items-center justify-content-center text-center">
                        <div class="col-lg pt-60px align-self-center">
                            <h1 class="text-uppercase exo_title">Exercice 2</h1>
                        </div>
                    </div>
                </div>
                <div class="contenuEnonce" id="enonce">
                    <pre id="enonce_exo6_7">
                        <code class="lang-html">
Que produit l’algorithme suivant ?

Tableau Suite(7) en Entier Variable
    i en Entier 
    Début 
        Suite(0) ← 1 
        Suite(1) ← 1 
        Pour i ← 2 à 7 
            Suite(i) ← Suite(i-1) + Suite(i-2) 
        i suivant 
        Pour i ← 0 à 7 
            Ecrire Suite(i)
        i suivant 
    Fin
                        </code>
                    </pre>
                </div>

                <div class="row">

                    <div class="form-group col-md contenu" id="javascript6_2">
                        <h1>Javascript</h1>
                        <p class="txt" id='resultat_algo6'></p>
                        <button onclick="afficheCode6_2_js()"><a class="nav-link active" data-toggle="modal"
                                data-target="#PcS62" aria-haspopup="true" aria-expanded="false">Afficher
                                Code</a></button>
                        <button onclick="s6_exo2_js()">Executer</button>
                    </div>

                    <div class="form-group col-md contenu" id="jquery6_2">
                        <h1>Jquery</h1>
                        <p class="txt" id="resultat_algo6_jq"></p>
                        <button onclick='afficheCode6_2_jq()'><a class="nav-link active" data-toggle="modal"
                                data-target="#PcS62" aria-haspopup="true" aria-expanded="false">Afficher
                                Code</a></button> <!-- image du code source -->
                        <button onclick="s6_exo2_jq()">Executer</button>
                    </div>

                    <div class="form-group col-md contenu" id="php6_2">
                        <h1>PhP</h1>
                        <p class="txt"><?php print_r($suite); ?> </p>
                        <button onclick="afficheCode6_2_php()"><a class="nav-link active" data-toggle="modal"
                                data-target="#PcS62" aria-haspopup="true" aria-expanded="false">Afficher
                                Code</a></button>
                    </div>

                    <div id="monModal">
                        <div class="modal fade" id="PcS62" tabindex="-1" role="dialog" aria-labelledby="PcEx1Title"
                            aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="enonce"><strong>Exercice 2<strong></h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <!-- Passer dans une variable-->
                                    <div class="modal-body">
                                        <pre>
                                            <code class="lang-js" id="showImage">
                                        
                                            </code>
                                        </pre>

                                    </div>
                                    <!-- Passer dans une variable-->
                                    <div class="modal-footer" id="modal_footer">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </section>
        </div>
    </div>

    <footer class="no_footer">
        <script src="../js/saison6.js"></script>
        <script src="../js/jquery-3.4.1.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>
        <script src="../js/prism.js"></script>
    </footer>
</body>