<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/prism.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">
    <title>s6exercice6</title>
</head>

<body>

    <?php include '../commun/nav.html' ?>
    <div class="container-fluid">
        <div class="row">
            <aside class="col-md-1">
                <?php include 'aside_nav6.html' ?>
            </aside>

            <section class="col-md-11">
                <div class="container">
                    <div class="row h-20 align-items-center justify-content-center text-center">
                        <div class="col-lg pt-60px align-self-center">
                            <h1 class="text-uppercase exo_title">Exercice 6</h1>
                        </div>
                    </div>
                </div>
                    <div class="contenuEnonce" id="enonce">
                        <pre class="enonce_exo">
                            <code class="lang-html">
Ecrivez un algorithme permettant, toujours sur le même principe, à l’utilisateur de saisir un nombre déterminé de
valeurs. Le programme, une fois la saisie terminée, renvoie la plus grande valeur en précisant quelle position elle
occupe dans le tableau. On prendra soin d’effectuer la saisie dans un premier temps, et la recherche de la plus
grande valeur du tableau dans un second temps.
                            </code>
                        </pre>
                    </div>

                    <div class="row">
                        <div class="form-group col-md contenu">
                            <h1>Pseudo-code</h1>
                            <pre>
                            <code class="lang-html">

Tableau aNotes(8) en Entier
    Variable iNbr, cpt i en Entier
    Debut
        Ecrire un  nombre:
        Lire iNbr
        Redim aNotes(iNbr-1)
        Pour i <- 0 à iNbr-1
            Ecrire : Entrer la note i;
            Lire aNotes(i)

        i suivant
        
        Pour y <- 0 à iNbr-1
            Si y==0 || aNotes[y] > iMax alors
                iMax = aNotes[y+1] 
                cpt = y
            Sinon
                iMax = aNotes[y]
            Fin Sinon
            Fin SI
        y suivant
        Fin Pour
        Ecrire iMax + "a l'indice" + indice
    Fin                        
                            </code>
                        </pre>
                        </div>

                        <div class="form-group col-md contenu" id="javascript6_6">
                            <h1>Javascript</h1>
                            <input type="number" id='nbInput6' placeholder="Combien de nombres ">
                            <input type="hidden" id='nbNombre6' name="nbNombre6" value="">
                            <div class="col-md-12" id="newInput6">

                            </div>
                            <p  class="txt"class="txt" id="resultat6_6"></p>
                            <button onclick="afficheCode6_6_js()"><a class="nav-link active" data-toggle="modal"
                                    data-target="#PcS66" aria-haspopup="true" aria-expanded="false">Afficher
                                    Code</a></button>
                            <button onclick="s6_exo6_js()">Afficher Tableau</button>
                        </div>

                        <div class="form-group col-md contenu" id="jquery6_6">
                            <h1>Jquery</h1>
                            <input type="number" id='nbInput6_jq' placeholder="Combien de nombres ">
                            <input type="hidden" id='nbNombre6_jq' name="nbNombre6_jq" value="">
                            <div class="col-md-12" id="newInput6_jq">
                            </div>
                            <p class="txt" id="resultat6_6_jq"></p>
                            <button onclick='afficheCode6_6_jq()'><a class="nav-link active" data-toggle="modal"
                                    data-target="#PcS66" aria-haspopup="true" aria-expanded="false">Afficher
                                    Code</a></button> <!-- image du code source -->
                            <button onclick="s6_exo6_jq()">Afficher Tableau</button>
                        </div>

                        <div class="form-group col-md contenu" id="php6_6">
                            <h1>PhP</h1>
                            <form method="POST" action="s6exercice6.php">
                                <input type="number" id='nbInput6_php' name="nbInput6_php"
                                    placeholder="Combien de nombres ?">
                                <input type="hidden" id='nbNote6_php' name="nbNote6_php"
                                    value="<?php echo $nbNoteInt6; ?>">
                                <div class="col-md-12" id="newInput6_php">
                                    <?php echo $addInput6; ?>
                                </div>
                                <p class="txt"> <?php echo $sMessage6_6; ?> </p>
                                <button type="submit" id="form_exo_6_6">Executer</button>
                            </form>
                            <button onclick="afficheCode6_6_php()"><a class="nav-link active" data-toggle="modal"
                                    data-target="#PcS66" aria-haspopup="true" aria-expanded="false">Afficher
                                    Code</a></button>
                        </div>

                        <div id="monModal">
                            <div class="modal fade-xl" id="PcS66" tabindex="-1" role="dialog"
                                aria-labelledby="PcEx1Title" aria-hidden="true">
                                <div class="modal-dialog-xl modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="enonce"><strong>Exercice 6<strong></h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <!-- Passer dans une variable-->
                                        <div class="modal-body">
                                            <pre>
                                            <code class="lang-js" id="showImage">
                                        
                                            </code>
                                        </pre>
                                        </div>
                                        <!-- Passer dans une variable-->
                                        <div class="modal-footer" id="modal_footer">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

            </section>
        </div>
    </div>

    <footer class="no_footer">
        <script src="../js/saison6.js"></script>
        <script src="../js/jquery-3.4.1.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>
        <script src="../js/prism.js"></script>
    </footer>
</body>