<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/prism.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">
    <title>s6exercice3</title>
</head>

<body>

    <?php include '../commun/nav.html' ?>
    <div class="container-fluid">
        <div class="row">
            <aside class="col-md-1">
                <?php include 'aside_nav6.html' ?>
            </aside>

            <section class="col-md-11">
                <div class="container">
                    <div class="row h-20 align-items-center justify-content-center text-center">
                        <div class="col-lg pt-60px align-self-center">
                            <h1 class="text-uppercase exo_title">Exercice 3</h1>
                        </div>
                    </div>
                </div>

                <div class="contenuEnonce" id="enonce">
                    <pre class="enonce_exo">
                        <code class="lang-html">
Ecrire un algorithme qui déclare un tableau de 9 notes, dont on fait ensuite saisir les valeurs par l’utilisateur. On affiche ensuite la moyenne des notes à l'écran.
                        </code>
                    </pre>
                </div>

                <div class="row">
                    <div class="form-group col-md contenu">
                        <h1>Pseudo-code</h1>
                        <pre>
                            <code class="lang-html">
Tableau aNotes(8) en Entier
Variable  i, j en Entier
Debut
    Pour i <- 0 à 8
        Ecrire "Entrer la note" + (i+1);
        Lire note(i)
        sommeNote += notes[j]
    i suivant
    Fin Pour
    Ecrire "La moyenne est de : + sommeNote/i

    
Fin

                            </code>
                        </pre>
                    </div>

                    <div class="form-group col-md contenu" id="javascript6_3">
                        <h1>Javascript</h1>
                        <input type="number" id='nbInput' placeholder="Nombre de notes ">
                        <div class="col-md-12" id="newInput">

                        </div>
                        <p class="txt" id='moyenne'></p>
                        <button onclick="afficheCode6_3_js()"><a class="nav-link active" data-toggle="modal"
                                data-target="#PcS63" aria-haspopup="true" aria-expanded="false">Afficher
                                Code</a></button>
                        <button onclick="s6_exo3_js()">Afficher Tableau</button>
                        <button onclick="moyenne_js()">Calcul Moyenne</button>
                    </div>

                    <div class="form-group col-md contenu" id="jquery6_2">
                        <h1>Jquery</h1>
                        <input type="number" id='nbInput_jq' placeholder="Nombre de notes ">
                        <div class="col-md-12" id="newInput_jq">
                        </div>
                        <p class="txt" id="moyenne_jq"></p>
                        <button onclick='afficheCode6_3_jq()'><a class="nav-link active" data-toggle="modal"
                                data-target="#PcS63" aria-haspopup="true" aria-expanded="false">Afficher
                                Code</a></button> <!-- image du code source -->
                        <button onclick="s6_exo3_jq()">Afficher Tableau</button>
                        <button onclick="moyenne_jq()">Calcul Moyenne</button>
                    </div>

                    <div class="form-group col-md contenu" id="php6_3">
                        <h1>PhP</h1>
                        <form method="POST" action="s6exercice3.php">
                            <input type="number" id='nbInput_php' name="nbInput_php" placeholder="Nombre de notes">
                            <input type="hidden" id='nbNote_php' name="nbNote_php" value="<?php echo $nbNoteInt; ?>">
                            <div class="col-md-12" id="newInput_php">
                                <?php echo $addInput; ?>
                            </div>
                            <p class="txt"> <?php echo $iMoyenne; ?></p>
                            <button type="submit" id="form_exo_6_3">Executer</button>
                        </form>
                        <button onclick="afficheCode6_3_php()"><a class="nav-link active" data-toggle="modal"
                                data-target="#PcS63" aria-haspopup="true" aria-expanded="false">Afficher
                                Code</a></button>
                    </div>

                    <div id="monModal">
                        <div class="modal fade-xl" id="PcS63" tabindex="-1" role="dialog" aria-labelledby="PcEx1Title"
                            aria-hidden="true">
                            <div class="modal-dialog-xl modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="enonce"><strong>Exercice 3<strong></h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <!-- Passer dans une variable-->
                                    <div class="modal-body">
                                        <pre>
                                            <code class="lang-js" id="showImage">
                                        
                                            </code>
                                        </pre>

                                    </div>
                                    <!-- Passer dans une variable-->
                                    <div class="modal-footer" id="modal_footer">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </section>
        </div>
    </div>

    <footer class="no_footer">
        <script src="../js/saison6.js"></script>
        <script src="../js/jquery-3.4.1.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>
        <script src="../js/prism.js"></script>
    </footer>
</body>