<footer>
    <!-- Retour vers index.html -->
    <button class="btn btn-primary" id="home">Retour Accueil<a href="../../"></a></button>
    <script src="js/main.js"></script>
    <script src="js/saison1.js"></script>
    <script src="js/saison2.js"></script>
    <script src="js/saison3.js"></script>
    <script src="js/jquery-3.4.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/prism.js"></script>
</footer>