<header class="masthead" id="boudi">
  <div class="container h-100">
    <div class="row align-items-center justify-content-center text-center">
      <div class="col-lg-10 align-self-end">
        <h1 class="text-uppercase text-white font-weight-bold header_title">MONTET BENJAMIN </br> Algorithme AFPA 2020
        </h1>
        <p class="text-white-50 text-center mb-4">10 saisons d'exercice à retrouver avec réponses en Pseudo-code,
          Javascrpit natif, Jquery et Php</p>
      </div>

      <div class="col-lg-6 align-self-baseline">
        <?php include 'navAccueil.html' ?>
        <ul class="nav nav-pills nav-fill btn_formulaire">
          <li class="nav-item ">
            <button class="btn btn-default"><a class="nav-link active" href="TP/tp_formulaire.php">TP
                Formulaire</a></button>
          </li>
          <li class="nav-item ">
            <button class="btn btn-default"><a class="nav-link active" href="TP/tp_datalist.php">TP
                Datalist</a></button>
          </li>
          <li class="nav-item">
              <button class="btn btn-default"><a class="nav-link active rounded-pill" href="cv/cv.html">CV Bootstrap</a></button>
          </li>
        </ul>
      </div>
      <div class="col-lg-12 align-self-baseline">
            <div class="navi">
              <div class="asa-g-e"></div>
              <div class="asa-g-d"></div>
              <div class="asa-p-e"></div>
              <div class="asa-p-d"></div>
              <div class="corpo"></div>
            </div>
      </div>
    </div>
  </div>

  <div id="monModal">
    <div class="modal fade" id="PcS1" tabindex="-1" role="dialog" aria-labelledby="PcEx1Title" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="enonce"><strong>Saison1<strong></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <!-- Passer dans une variable-->
          <div class="modal-body">
            <p id="aResoudre">

            </p>
          </div>
          <!-- Passer dans une variable-->
          <div class="modal-footer" id="modal_footer">
            <button type="button" class="btn btn-lg btn-default btn-block" data-toggle="modal"
              data-target="#PcS1">Pseudo-Code</button>
            <select name="saison1List" id="saisonList" label="Saison1">
              <!-- Au click/Chargement -> appel fct modal()-->
              <option value="s1e1" onclick="exo1()">Exercice 1</button>
              <option value="s1e2" onclick="exo2()">Exercice 2</option>
              <option value="s1e3" onclick="exo3()">Exercice 3</option>
              <option value="s1e4" onclick="exo4()">Exercice 4</option>
              <option value="s1e5" onclick="exo5()">Exercice 5</option>
              <option value="s1e6" onclick="exo6()">Exercice 6</option>
              <option value="s1e7" onclick="exo7()">Exercice 7</option>
              <option value="s1e8" onclick="exo8()">Exercice 8</option>
              <option value="s1e8" onclick="exo9()">Exercice 9</option>
            </select>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="monModal">
    <div class="modal fade" id="PcS2" tabindex="-1" role="dialog" aria-labelledby="PcEx1Title" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="enonce2"><strong>Saison2<strong></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <!-- Passer dans une variable-->
          <div class="modal-body d-flex justify-content-center">
            <p id="aResoudre2">

            </p>
          </div>
          <!-- Passer dans une variable-->
          <div class="modal-footer" id="modal_footer">
            <select name="saison2List" id="saison2List" label="Saison2">
              <!-- Au click/Chargement -> appel fct modal()-->
              <option value="s2e1" onclick="s2exo1()">Exercice 1</button>
              <option value="s2e2" onclick="s2exo2()">Exercice 2</option>
              <option value="s2e3" onclick="s2exo3()">Exercice 3</option>
              <option value="s2e4" onclick="s2exo4()">Exercice 4</option>
            </select>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="monModal">
    <div class="modal fade" id="PcS3" tabindex="-1" role="dialog" aria-labelledby="PcEx3Title" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header" id="couleurHeader">
            <h5 class="modal-title" id="enonce3"><strong>Saison3<strong></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <!-- Passer dans une variable-->
          <div class="modal-body d-flex justify-content-center">
            <button class="btn btn-danger" id="buttonLeft">
              <</button> <p id="aResoudre3">
                Contenu blabla
                </p>
                <button class="btn btn-danger" id="buttonRight">></button class="btn btn-danger">
          </div>
          <!-- Passer dans une variable-->
          <div class="modal-footer d-flex justify-content-center align-items-center" id="modal_footer">
            <div class="row" id="selection">
              <button id="setSeason" onclick="s3exojs()" class="btn btn-lg btn-primary">Javascript</button>
              <select name="saison2List" id="saison3List" label="Saison2">
                <option value="s3e1">Exercice 1</button>
                <option value="s3e2">Exercice 2</option>
                <option value="s3e3">Exercice 3</option>
                <option value="s3e4">Exercice 4</option>
                <option value="s3e5">Exercice 5</option>
                <option value="s3e6">Exercice 6</option>
              </select>
              <button onclick="s3exojq()" class="btn btn-lg btn-primary">Jquery</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>