<nav>
    <div class="nav_for_season fixed-top">
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <button class="btn btn-default"><a class="nav-link active rounded-pill" data-toggle="modal" data-target="#PcS1"
                        aria-haspopup="true" aria-expanded="false">Saison 1</a></button>
            </li>
            <li class="nav-item">
                <button class="btn btn-default"> <a class="nav-link active rounded-pill" data-toggle="modal" data-target="#PcS2"
                        aria-haspopup="true" aria-expanded="false">Saison 2</a></button>
            </li>
            <li class="nav-item">
                <button class="btn btn-default"><a class="nav-link active rounded-pill" data-toggle="modal" data-target="#PcS3"
                        aria-haspopup="true" aria-expanded="false">Saison 3</a></button>
            </li>
            <li class="nav-item">
                <button class="btn btn-default"><a class="nav-link active rounded-pill" href="../saison4/saison4.php">Saison
                        4</a></button>
            </li>
            <li class="nav-item">
                <button class="btn btn-default"><a class="nav-link active rounded-pill" href="../saison5/saison5.php">Saison
                        5</a></button>
            </li>
            <li class="nav-item">
                <button class="btn btn-default"><a class="nav-link active rounded-pill" href="../saison6/saison6.php">Saison
                        6</a></button>
            </li>
            <li class="nav-item">
                <button class="btn btn-default"><a class="nav-link active rounded-pill" href="../saison7/saison7.php">Saison
                        7</a></button>
            </li>
            <li class="nav-item">
                <button class="btn btn-default"><a class="nav-link active rounded-pill" href="../saison8/saison8.php">Saison
                        8</a></button>
            </li>
            <li class="nav-item">
                <button class="btn btn-default"><a class="nav-link active rounded-pill" href="../saison9/saison9.php">Saison 9</a></button>
            </li>
            <li class="nav-item">
                <button class="btn btn-default"><a class="nav-link active rounded-pill" href="../saison10/saison10.php">Saison
                        10</a></button>
            </li>
            <li class="nav-item">
                <button class="btn btn-default"><a class="nav-link active rounded-pill" href="../TP/tp_formulaire.php">TP
                        Formulaire</a></button>
            </li>
        </ul>
    </div>
</nav>