			<h1>Ajouter un acteur</h1>
			<hr>
			<form action="route.php" method="POST">
				<p>
					Page du PHP : 
					<input type="text" name="page" id="page" value="save_acteur">
				</p>
				<p>
					Nom de l'acteur : 
					<input type="text" name="nom_acteur" id="nom_acteur" value="">
				</p>
				<p>
					Prénom de l'acteur :  
					<input type="text" name="prenom_acteur" id="prenom_acteur" value="">
				</p>
				<p>
					Nationalité de l'acteur : 
					<input type="text" name="nationalite_acteur" id="nationalite_acteur" value="">
				</p>
				<p>
					Age de l'acteur : 
					<input type="number" name="age_acteur" id="age_acteur" value="">
				</p>
				<p>
					<input type="submit" value="AJOUTER">
				</p>
			</form>
		</section>

		<!-- Pied-de-page de la page -->
		<footer></footer>
	</div>

</body>
</html>

