			<h1>Edition d'un acteur</h1>
			<hr>
			<form action="route.php" method="POST">
				<p>
					Page du PHP : 
					<input type="text" name="page" id="page" value="update_acteur">
				</p>
				<p>
					ID de l'acteur : 
					<input type="text" name="id_acteur" id="id_acteur" value="<?= $oMain->resultat["edit_acteur"][0]["id_acteur"] ?>">
				</p>
				<p>
					Nom de l'acteur : 
					<input type="text" name="nom_acteur" id="nom_acteur" value="<?= $oMain->resultat["edit_acteur"][0]["nom_acteur"] ?>">
				</p>
				<p>
					Prénom de l'acteur : 
					<input type="text" name="prenom_acteur" id="prenom_acteur" value="<?= $oMain->resultat["edit_acteur"][0]["prenom_acteur"] ?>">
				</p>
				<p>
					Nationalité de l'acteur : 
					<input type="text" name="nationalite_acteur" id="nationalite_acteur" value="<?= $oMain->resultat["edit_acteur"][0]["nationalite_acteur"] ?>">
				</p>
				<p>
					Age de l'acteur : 
					<input type="text" name="age_acteur" id="age_acteur" value="<?= $oMain->resultat["edit_acteur"][0]["age_acteur"] ?>">
				</p>
				<p>
					<input type="submit" value="METTRE A JOUR">
				</p>
			</form>


