		<script type="text/javascript" src="js/jquery_3_3_1.js"></script>
	    <link rel="stylesheet" type="text/css" href="css/datatables.min.css">
    	<script type="text/javascript" charset="utf8" src="js/datatables.min.js"></script>
	<!-- main css and js -->
		<style type="text/css">
			input[type=text] {
				border: none;
			    border-bottom: 1px solid #FF0000;
			}
			.input_nombre {
			    padding-left: 18px;
				background-image: url(../img/number.png);
				background-repeat: no-repeat;
				background-position: left;
			}
			button {
				text-decoration: none;
				font-family: Verdana, Arial;
				font-weight: bold;
				font-size: 11 px;
				border-radius: 4px 4px 4px 4px;
				cursor: pointer;
				height: 40px;
			}
			.btn_action {
				background-color: #5bd39a;
				color: white;
				border: 2px solid #5bd39a;
			}
			.btn_action:hover {
				background-color: White;
				color: #5bd39a;
				border: 2px solid #5bd39a;
			  	transition-duration: 2s;
			}
			.btn_save {
				background-color: #ff0000;
				color: white;
				border: 2px solid #ff0000;
			}
			.btn_save:hover {
				background-color: White;
				color: #ff0000;
				border: 2px solid #ff0000;
			  	transition-duration: 1s;
			}
			.hide {
				display: none;
			}
		</style>
		<script language="JavaScript">

			var aOfFilms= [];
			aOfFilms[0]= [];
			aOfFilms[0]["id_film"]= 11;
			aOfFilms[0]["titre_film"]= "Spider Cochon";
			aOfFilms[0]["date_film"]= "2011-09-17";
			aOfFilms[0]["duree_film"]= "28";

			function constructTable()	{
				var i;

				var sHTML= "";
				sHTML+= "<thead>";
				sHTML+= "<tr>";
				sHTML+= "<th>id_film</th>";
				sHTML+= "<th>titre_film</th>";
				sHTML+= "<th>date_film</th>";
				sHTML+= "<th>duree_film</th>";
				sHTML+= "<th>Editer</th>";
				sHTML+= "<th>Supprimer</th>";
				sHTML+= "</tr>";
				sHTML+= "</thead>";
				sHTML+= "<tbody>";

				for (i=0; i<aOfFilms.length; i++)	{
					sHTML+= "<tr>";
					sHTML+= "<td>" + aOfFilms[i]["id_film"] + "</td>";
					sHTML+= "<td>" + aOfFilms[i]["titre_film"] + "</td>";
					sHTML+= "<td>" + aOfFilms[i]["date_film"] + "</td>";
					sHTML+= "<td>" + aOfFilms[i]["duree_film"] + "</td>";
					sHTML+= "<td onClick=\"editFilm(" + i + ")\">Editer</td>";
					sHTML+= "<td onClick=\"supprimFilm(" + i + ")\">Supprimer</td>";
					sHTML+= "</tr>";
				}
				
				sHTML+= "</tbody>";
				$('#table_films').html(sHTML);
			}
			
			function rebuildDatable()	{
				$('#table_films').html("");
				tables.clear(); 
				tables.destroy(); 
				constructTable();
				tables = $('#table_films').DataTable(configuration);
			}
			
			function clearForm()	{
				$('#id_film').val("");
				$('#titre_film').val("");
				$('#date_film').val("");
				$('#duree_film').val("");
				$('#btn_ajouter').show();
				$('#btn_modifier').hide();
				$('#btn_annuler').hide();
			}
			
			function ajoutFilm()	{
				var iLongueur= aOfFilms.length;
				aOfFilms[iLongueur]= [];
				aOfFilms[iLongueur]["id_film"]= $('#id_film').val();
				aOfFilms[iLongueur]["titre_film"]= $('#titre_film').val();
				aOfFilms[iLongueur]["date_film"]= $('#date_film').val();
				aOfFilms[iLongueur]["duree_film"]= $('#duree_film').val();
				rebuildDatable();
				clearForm();
			}

			function majFilm()	{
				aOfFilms[iIndiceEditionEncours]["id_film"]= $('#id_film').val();
				aOfFilms[iIndiceEditionEncours]["titre_film"]= $('#titre_film').val();
				aOfFilms[iIndiceEditionEncours]["date_film"]= $('#date_film').val();
				aOfFilms[iIndiceEditionEncours]["duree_film"]= $('#duree_film').val();
				rebuildDatable();
				clearForm();
			}

			function supprimFilm(iIndiceSuppr)	{
				for (var i=iIndiceSuppr; i<(aOfFilms.length-1); i++)	{
					aOfFilms[i]= aOfFilms[i+1];
				}
				aOfFilms.length--;
				rebuildDatable();
				clearForm();
			}
			
			var iIndiceEditionEncours;
			function editFilm(iIndiceEdit)	{
				iIndiceEditionEncours= iIndiceEdit;
				$('#id_film').val(aOfFilms[iIndiceEdit]["id_film"]);
				$('#titre_film').val(aOfFilms[iIndiceEdit]["titre_film"]);
				$('#date_film').val(aOfFilms[iIndiceEdit]["date_film"]);
				$('#duree_film').val(aOfFilms[iIndiceEdit]["duree_film"]);
				$('#btn_ajouter').hide();
				$('#btn_modifier').show();
				$('#btn_annuler').show();
			}

			// CONFIGURATION DATATABLE
			const configuration = {
				"stateSave": false,
				"order": [[2, "asc"]],
				"pagingType": "simple_numbers",
				"searching": true,
				"lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Tous"]], 
				"language": {
					"info": "Films _START_ à _END_ sur _TOTAL_ sélectionnées",
					"emptyTable": "Aucun film",
					"lengthMenu": "_MENU_ films par page",
					"search": "Rechercher : ",
					"zeroRecords": "Aucun résultat de recherche",
					"paginate": {
						"previous": "Précédent",
						"next": "Suivant"
					},
					"sInfoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
					"sInfoEmpty":      "Films 0 à 0 sur 0 sélectionnée",
				},
				"columns": [
					{
						"orderable": true
					},
					{
						"orderable": true
					},
					{
						"orderable": true
					},
					{
						"orderable": false
					},
					{
						"orderable": false
					},
					{
						"orderable": false
					}
				],
				'retrieve': true
			};

			var tables;
			$(document).ready(function() {
				// INIT DATATABLE
				// Si je souhaite avoir par défaut autre que les 10 résultats par défaut au chargement
				// tables.page.len(10).draw();
				constructTable();
				tables = $('#table_films').DataTable(configuration);
			});
			
		</script>

		<table id="table_films" border="1">
		</table>
		<p>id_film : <input type="text" name="id_film" id="id_film"></p>
		<p>titre_film : <input type="text" name="titre_film" id="titre_film"></p>
		<p>date_film : <input type="text" name="date_film" id="date_film"></p>
		<p>duree_film : <input type="text" name="duree_film" id="duree_film"></p>
		<p>
			<button onClick="ajoutFilm()" class="btn_action" id="btn_ajouter">AJOUTER</button>
			&nbsp;&nbsp;&nbsp;
			<button onClick="majFilm()" class="btn_action hide" id="btn_modifier">MODIFIER</button>
			&nbsp;&nbsp;&nbsp;
			<button onClick="clearForm()" class="btn_save hide" id="btn_annuler">ANNULER</button>
		</p>
