			<p><a href="route.php?page=gestion_film">Gestion des films</a></p>
			<p><a href="route.php?page=gestion_acteur">Gestion des acteurs</a></p>
			<p><a href="route.php?page=logout">Déconnection</a></p>
